[Desktop Entry]
Name[af]=Gebruikers
Name[an]=Usuarios
Name[ar]=المستخدمين
Name[as]=ব্যৱহাৰকাৰীসকল
Name[be]=Карыстальнікі
Name[be@latin]=Karystalniki
Name[bg]=Потребители
Name[bn_IN]=ব্যবহারকারী
Name[br]=Arveriaded
Name[bs]=Korisnici
Name[ca]=Usuaris
Name[ca@valencia]=Usuaris
Name[ckb]=بەکارهێنەران
Name[crh]=Qullanıcılar
Name[cs]=Uživatelé
Name[da]=Brugere
Name[de]=Benutzer
Name[el]=Χρήστες
Name[en_GB]=Users
Name[eo]=Uzantoj
Name[es]=Usuarios
Name[et]=Kasutajad
Name[eu]=Erabiltzaileak
Name[fa]=کاربران
Name[fi]=Käyttäjät
Name[fo]=Brúkarar
Name[fr]=Utilisateurs
Name[fur]=Utents
Name[ga]=Úsáideoirí
Name[gd]=Cleachdaichean
Name[gl]=Usuarios
Name[gu]=વપરાશકર્તાઓ
Name[he]=משתמשים
Name[hi]=उपयोक्ता
Name[hr]=Korisnici
Name[hu]=Felhasználók
Name[id]=Pengguna
Name[ie]=Usatores
Name[is]=Notendur
Name[it]=Utenti
Name[ja]=ユーザー
Name[ka]=მომხმარებლები
Name[kab]=Iseqdacen
Name[kk]=Пайдаланушылар
Name[kn]=ಬಳಕೆದಾರರು
Name[ko]=사용자
Name[lt]=Naudotojai
Name[lv]=Lietotāji
Name[mjw]=Users
Name[ml]=ഉപയോക്താക്കള്‍
Name[mr]=वापरकर्ते
Name[ms]=Pengguna
Name[my]=အသုံးပြုသူများ
Name[nb]=Brukere
Name[ne]=प्रयोगकर्ता
Name[nl]=Gebruikers
Name[oc]=Utilizaires
Name[or]=ଚାଳକ
Name[pa]=ਵਰਤੋਂਕਾਰ
Name[pl]=Użytkownicy
Name[pt]=Utilizadores
Name[pt_BR]=Usuários
Name[ro]=Utilizatori
Name[ru]=Пользователи
Name[sk]=Používatelia
Name[sl]=Uporabniki
Name[sr]=Корисници
Name[sr@latin]=Korisnici
Name[sv]=Användare
Name[ta]=பயனர்கள்
Name[te]=వాడుకరులు
Name[tg]=Корбарон
Name[th]=ผู้ใช้
Name[tr]=Kullanıcılar
Name[ug]=ئىشلەتكۈچىلەر
Name[uk]=Користувачі
Name[vi]=Người dùng
Name[zh_CN]=用户
Name[zh_HK]=使用者
Name[zh_TW]=使用者
Name=Users
Comment[af]=Voeg by of skrap gebruikers en verander u wagwoord
Comment[an]=Adhibir u sacar usuarios y cambiar as claus d'ells
Comment[ar]=أضف أو احذف مستخدمين و غيّر كلمة السر
Comment[as]=ব্যৱহাৰকাৰীসকল যোগ কৰক বা আতৰাওক আৰু আপোনাৰ পাছৱৰ্ড পৰিবৰ্তন কৰক
Comment[be]=Дадаванне або выдаленне карыстальнікаў і змяненне пароля
Comment[be@latin]=Dadavannie abo vydalennie karystalnikaŭ i zmianiennie parola
Comment[bg]=Добавяне или премахване на потребители и смяна на парола
Comment[bn_IN]=ব্যবহারকারীদের যোগ করুন বা সরান এবং আপনার পাসওয়ার্ড পরিবর্তন করুন
Comment[bs]=Dodaj ili ukloni korisnike i promijeni svoju lozinku
Comment[ca]=Afegiu o suprimiu usuaris i canvieu la contrasenya
Comment[ca@valencia]=Afegiu o suprimiu usuaris i canvieu la contrasenya
Comment[ckb]=زیادکردن یان سڕینەوە بەکارهێنەر و گۆڕینی وشەی تێپەڕبوون
Comment[crh]=Qullanıcılarnı ekleñiz ya da çetleştiriñiz ve sır-sözüñizni deñiştiriñiz
Comment[cs]=Přidat nebo odebrat uživatele a změnit heslo
Comment[da]=Tilføj eller fjern brugere og skift din adgangskode
Comment[de]=Benutzer hinzufügen oder entfernen und das Passwort ändern
Comment[el]=Προσθέστε ή διαγράψτε χρήστες και αλλάξτε το συνθηματικό σας
Comment[en_GB]=Add or remove users and change your password
Comment[eo]=Aldoni aŭ forigi uzantojn kaj ŝanĝi vian pasvorton
Comment[es]=Añadir o quitar usuarios y cambiar su contraseña
Comment[et]=Kasutajate lisamine ja eemaldamine ning parooli muutmine
Comment[eu]=Gehitu edo kendu erabiltzaileak eta aldatu zure pasahitza
Comment[fa]=افزودن یا برداشتن کاربران و دگرگونی گذرواژه‌تان
Comment[fi]=Lisää tai poista käyttäjiä, vaihda salasanasi
Comment[fr]=Ajouter ou supprimer des utilisateurs et changer vos mots de passe
Comment[fur]=Zonte o gjave utents e cambie la tô password
Comment[gd]=Cuir cleachdaichean ris no thoir air falbh feadhainn is atharraich am facal-faire agad
Comment[gl]=Engadir ou quitar usuarios e cambiar os seus contrasinais
Comment[gu]=વપરાશકર્તાઓને ઉમેરો અથવા દૂર કરો અને તમારા પાસવર્ડને બદલો
Comment[he]=הוספה או הסרה של משתמשים והחלפת הססמה שלך
Comment[hi]=उपयोक्ताओं को जोड़ें या हटाएं और अपना पासवर्ड बदलें
Comment[hr]=Dodajte ili uklonite korisnike i promijenite svoju lozinku
Comment[hu]=Felhasználók hozzáadása vagy eltávolítása és jelszóváltoztatás
Comment[id]=Tambah atau hapus pengguna dan ubah kata sandi Anda
Comment[is]=Bæta við eða fjarlægja notendur og breyta lykilorði
Comment[it]=Aggiungi o rimuovi utenti e modifica la password
Comment[ja]=ユーザーの追加と削除、パスワードの変更を行います
Comment[ka]=დაამატეთ ან წაშალეთ მომხმარებლები, შეცვალეთ პაროლი
Comment[kk]=Пайдаланушыларды қосу/өшіру және пароліңізді өзгерту
Comment[kn]=ಬಳಕೆದಾರರನ್ನು ಸೇರಿಸಿ ಅಥವ ತೆಗೆದುಹಾಕಿ ಮತ್ತು ಗುಪ್ತಪದವನ್ನು ಬದಲಾಯಿಸಿ
Comment[ko]=사용자 추가/제거 및 암호 바꾸기
Comment[lt]=Pridėti arba šalinti naudotojus bei keiskite savo slaptažodį
Comment[lv]=Pievienot un izņemt lietotājus, un mainīt savu paroli
Comment[mjw]=Monit men kethap kethan lapen password kelar
Comment[ml]=ഉപയോക്താക്കള്‍ ചേര്‍ക്കുക അല്ലെങ്കില്‍ വെട്ടി നീക്കുക; രഹസ്യവാക്ക് മാറ്റുക
Comment[mr]=वापरकर्ते समाविष्ट करा किंवा काढून टाका आणि पासवर्ड बदलवा
Comment[ms]=Tambah atau buang pengguna dan ubah kata laluan anda
Comment[my]=အသုံးပြုသူ တိုး၊ လျော့ နှင့် စကားဝှက် ပြောင်းရန်
Comment[nb]=Legg til eller fjern brukere og endre passord
Comment[ne]=प्रयोगकर्ता थप्नुहोस् वा हटाउनुहोस् र तपाईँको पासवर्ड परिवर्तन गर्नुहोस्
Comment[nl]=Gebruikers toevoegen of verwijderen en uw wachtwoord wijzigen
Comment[oc]=Apondre o suprimir d'utilizaires e modificar vòstre senhal
Comment[or]=ଚାଳକମାନଙ୍କୁ ଯୋଗ କିମ୍ବା ଅପସାରଣ କରନ୍ତୁ ଏବଂ ଆପଣଙ୍କର ପ୍ରବେଶ ସଂକେତ ପରିବର୍ତ୍ତନ କରନ୍ତୁ
Comment[pl]=Dodawanie lub usuwanie użytkowników i zmienianie hasła
Comment[pt]=Adicionar ou eliminar utilizadores e alterar a sua palavra-passe
Comment[pt_BR]=Adicionar ou remover usuários e alterar sua senha
Comment[ro]=Adăugați și ștergeți utilizatori și schimbați parola
Comment[ru]=Добавить или удалить пользователей или изменить пароль
Comment[sk]=Pridáva alebo odstraňuje používateľov a mení vaše heslo
Comment[sl]=Upravljanje uporabnikov in spreminjanje gesel
Comment[sr]=Додајте или уклоните кориснике и измените вашу лозинку
Comment[sr@latin]=Dodajte ili uklonite korisnike i izmenite vašu lozinku
Comment[sv]=Lägg till eller ta bort användare och ändra ditt lösenord
Comment[ta]=பயனர்களைச் சேர்க்கவும் அல்லது நீக்கவும் மற்றும் உங்கள் கடவுச்சொல்லை மாற்றவும்
Comment[te]=వాడుకరులను జతచేయి లేదా తీసివేయి మరియు మీ సంకేతపదం మార్చు
Comment[tg]=Илова ё тоза кардани корбарон ва тағйир додани ниҳонвожаи худ
Comment[th]=เพิ่มหรือลบผู้ใช้และเปลี่ยนรหัสผ่านของคุณ
Comment[tr]=Kullanıcı ekle ya da kaldır ve parola değiştir
Comment[uk]=Додати або вилучити користувачів і змінити свій пароль
Comment[vi]=Thêm, xóa người dùng và thay đổi mật khẩu
Comment[zh_CN]=添加或删除用户及更改密码
Comment[zh_HK]=加入或移除使用者並改變你的密碼
Comment[zh_TW]=加入或移除使用者及更改您的密碼
Comment=Add or remove users and change your password
Exec=gnome-control-center system users
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.Settings-users-symbolic
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Settings;X-GNOME-Settings-Panel;X-GNOME-SystemSettings;
OnlyShowIn=GNOME;Unity;
# Translators: Search terms to find the Users panel. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[be]=Login;Name;Fingerprint;Avatar;Logo;Face;Password;Parental;Restrictions;Usage;Kid;Child;Уваход;Сеанс;Імя;Адбітак;Адбіткі пальцаў;Аватар;Лагатып;Выява;Твар;Вобраз;Пароль;Бацькоўскі кантроль;Абмежаванне;Абмежаванні;Абмежаваць;Выкарыстання;Выкарыстанне;Дзіцячы;Дзеці;
Keywords[be@latin]=Login;Name;Fingerprint;Avatar;Logo;Face;Password;Parental;Restrictions;Usage;Kid;Child;Uvachod;Sieans;Imia;Adbitak;Adbitki palcaŭ;Avatar;Łahatyp;Vyjava;Tvar;Vobraz;Parol;Baćkoŭski kantrol;Abmiežavannie;Abmiežavanni;Abmiežavać;Vykarystannia;Vykarystannie;Dziciačy;Dzieci;
Keywords[bg]=login;name;fingerprint;avatar;logo;face;password;parental;controls;restrictions;usage;kid;child;вход;влизане;име;отпечатък;аватар;лого;снимка;лице;парола;възрастови;ограничения;родителски;контрол;ограничения;забрани;употреба;лимит;граница;време;дете;деца;
Keywords[ca]=Inici de sessió;Nom;Empremta dactilar;Avatar;Logotip;Cara;Contrasenya;Control parental; Temps de pantalla; Restriccions d'aplicacions;Restriccions web;Ús;Límit d'ús;Nen;Nena;Infant;
Keywords[cs]=přihlášení;přihlásit;otisk prstu;otisky prstů;avatar;fotka;obličej;heslo;rodičovská;rodičovské;omezení;používání;využívání;dítě;děti;dětská;dětské;
Keywords[da]=Login;Navn;Fingeraftryk;Avatar;Logo;Ansigt;Adgangskode;Forældrekontrol;Begrænsninger;Brug;Unge;Barn;Børn;
Keywords[de]=Login;Name;Fingerprint;Avatar;Logo;Face;Password;Parental;Restrictions;Usage;Kid;Child;Anmeldung;Fingerabdruck;Benutzerbild;Gesicht;Passwort;Kennwort;Passphrase;Anwendungsbeschränkung;Beschränkungen;Nutzung;Verwendung;Kind;Kindersicherung;
Keywords[en_GB]=Login;Name;Fingerprint;Avatar;Logo;Face;Password;Parental;Restrictions;Usage;Kid;Child;
Keywords[es]=Inicio de sesión;Nombre;Avatar;Logo;Cara;Contraseña;Control parental;Restricciones;Uso;Niños;Hijos;
Keywords[eu]=Saio-hasiera;Izena;Hatz-marka;Avatarra;Logotipoa;Aurpegia;Pasahitza;Guraso-kontrolak;Mugak;Erabilera;Gaztea;Haurra;
Keywords[fa]=Login;Name;Fingerprint;Avatar;Logo;Face;Password;Parental;Restrictions;Usage;Kid;Child;ورود;نام;اثر انگشت;چهرک;آواتار;لوگو;نشنان;صورت;گذرواژه;رمز;محدودیت;والدین;استفاده;بچه;کودک;
Keywords[fi]=Login;Name;Fingerprint;Avatar;Logo;Face;Password;Parental;Restrictions;Usage;Kid;Child;kirjautuminen;nimi;sormenjälki;profiilikuva;naama;kasvot;salasana;vanhemmille;rajoitukset;käyttö;lapsi;
Keywords[fr]=identifiant;nom;empreinte;avatar;icône;visage;mot de passe;contrôle;parental;restriction;utilisation;enfant;
Keywords[fur]=Login;Acès;Non;Impront;Digjitâl,Avatar;Logo;Muse;Password;Parentâi;Limitazions;Utilizazion;Frut;Fi;
Keywords[gl]=Inicio de sesión;Nome;Pegada dixital;Avatar;Logotipo;Cara;Contrasinal;Controis parentais;Restricións;Uso;Límite de uso;Rapaz;Neno;
Keywords[he]=כניסה;התחברות;שם משתמש;שם;טביעת אצבע;טביעות אצבע;תמונת משתמש;תמונה ייצוגית;לוגו;פנים;ססמה;סיסמה;סיסמא;ססמא;בקרת הורים;זמן מסך;מגבלות יישומים;הגבלות;מגבלות אינטרנט;הגבלות אינטרנט;שימוש;מגבלת שימוש;הגבלת שימוש;ילד;ילדים;ילדות;ילדה;בן;בת;
Keywords[hi]=लॉगिन;नाम;फिंगरप्रिंट;अवतार;लोगो;चेहरा;पासवर्ड;अभिभावकीय;प्रतिबंध;प्रयोग;बच्चा;
Keywords[hu]=Bejelentkezés;Név;Ujjlenyomat;Profilkép;Logó;Arc;Jelszó;Szülői;Felügyelet;Korlátozások;Használat;Gyermek;Gyerek;
Keywords[id]=Log Masuk;Nama;Sidik Jari;Avatar;Logo;Muka;Kata Sandi;Orangtua;Restriksi;Penggunaan;Anak;
Keywords[it]=Login;Name;Fingerprint;Avatar;Logo;Face;Password;Parental;Restrictions;Usage;Kid;Child;Accesso;Nome;Impronta digitale;Volto;Parentale;Genitori;Restrizioni;Utilizzo;Limite di utilizzo;Bambino;Minore;
Keywords[ka]=Login;Name;Fingerprint;Avatar;Logo;Face;Password;Parental Controls;Screen Time;App Restrictions;Web Restrictions;Usage;Usage Limit;Kid;Child;ბავშვი;ლიმიტი;მშობლის კონტროლი;ავატარი;მომხმარებელი;
Keywords[kk]=Login;Name;Fingerprint;Avatar;Logo;Face;Password;Parental;Restrictions;Usage;Kid;Child;Логин;Аты;Саусақ ізі;Аватар;Лого;Бет;Пароль;Ата-ана;Шектеулер;Қолдану;Қолдануды шектеу;Бала;
Keywords[ko]=Login;로그인;Name;이름;Fingerprint;지문;Avatar;아바타;Logo;로고;Face;얼굴;Password;암호;비밀 번호;비밀번호;Parental;부모;Restrictions;보호;제한;제약;Usage;사용;Kid;자녀;Child;아이;어린이;
Keywords[lt]=Prisijungimas;Pavadinimas;Piršto atspaudas;Atvaizdas;Logo;Veidas;Slaptažodis;Tėvų kontrolė;Ribojimai;Naudojimas;Vaikas;Vaikai;
Keywords[lv]=Lietotājs;Vārds;Pirkstu nospiedums;Avatars;Logo;Seja;Parole;Vecāku ierobežojumi;Lietošana;Bērns;Sīkais;
Keywords[nb]=Innlogging;Navn;Fingeravtrykk;Profilbilde;Avatar;Ansikt;Passord;Foreldrestyring;Foreldrekontroll;Tidsbegrensning;Barn;Familie;
Keywords[nl]=Login;Name;Fingerprint;Avatar;Logo;Face;Password;Parental;Restrictions;Usage;Kid;Child;aanmelden;aanmelding;naam;vingerafdruk;gezicht;wachtwoord;paswoord;ouderlijk;toezicht;schermtijd;beperkingen;gebruik;kinderen;
Keywords[oc]=Connexion;nom;emprenta;avatar;lògo;fàcia;morre;senhal;contraròtle parental;contròla parental;usatge;utilizacion;enfant;dròlle;mainatge;canalha;
Keywords[pl]=Login;Logowanie;Nazwa;Odcisk;Palców;Linie;Linii;Papilarne;Papilarnych;Fingerprint;Awatar;Avatar;Logo;Twarz;Hasło;Kontrola;rodzicielska;Ograniczanie;Restrykcje;Limity;Użycie;Użytek;Dziecko;Dzieciak;Dzieci;Children;Kids;
Keywords[pt]=Acesso;Nome;Impressão digital;Avatar;Logotipo;Rosto;Palavra-passe;Controlos parentais;Tempo de ecrã; Restrições de aplicações;Restrições da Web;Uso;Limite de uso;Miúdo,Criança;
Keywords[pt_BR]=Login;Início de sessão;Nome;Impressão;Digital;Digitais;Avatar;Logotipo;Rosto;Face;Senha;Parental;Restrições;Uso;Utilização;Limite de uso;Criança;Filho;Filha;Garoto;Garota;Infantil;
Keywords[ru]=Login;Name;Fingerprint;Avatar;Logo;Face;Password;Parental;Restrictions;Usage;Kid;Child;Вход;Имя;Отпечаток;Аватар;Логотип;Лицо;Пароль;Родительские;Ограничения;Использование;
Keywords[sk]=prihlásenie;prihlásiť;odtlačok prsta;avatar;podobizeň;logo;tvár;heslo;rodičovská kontrola;čas obrazovky;obmedzenia aplikácií;využitie;limit využitia;dieťa;deti;
Keywords[sl]=Login;prijava;ime;prstni odtis;podoba;Avatar;logo;logotip;obraz;geslo;starševski nadzor;zaslonski čas;omejitev;zaklepanje programov;uporaba;omejitev uporabe;otroci;otrok;mladostniki;mladostnik;
Keywords[sr]=Login;Name;Fingerprint;Avatar;Logo;Face;Password;Parental;Restrictions;пријава;име;назив;отисак;прста;аватар;лого;лице;лозинка;родитељска контрола;надзор;ограничења;ограничење коришћења;дете;деца;prijava;ime;naziv;otisak;prsta;avatar;logo;lice;lozinka;roditeljska kontrola;nadzor;ograničenja;ograničenje korišćenja;dete;deca;
Keywords[sr@latin]=Login;Name;Fingerprint;Avatar;Logo;Face;Password;Parental;Restrictions;prijava;ime;naziv;otisak;prsta;avatar;logo;lice;lozinka;roditeljska kontrola;nadzor;ograničenja;ograničenje korišćenja;dete;deca;prijava;ime;naziv;otisak;prsta;avatar;logo;lice;lozinka;roditeljska kontrola;nadzor;ograničenja;ograničenje korišćenja;dete;deca;
Keywords[sv]=Inloggning;Namn;Fingeravtryck;Avatar;Profilbild;Logotyp;Ansikte;Lösenord;Föräldrakontroller;Restriktioner;Begränsningar;Användning;Unge;Ungar;Barn;
Keywords[tr]=Login;Name;Fingerprint;Avatar;Logo;Face;Password;Parental;Restrictions;Usage;Kid;Child;Giriş yap;Oturum aç;Ad;Parmak izi;Profil resmi;Avatar;Logo;Yüz;Parola;Şifre;Ebeveyn Denetimleri;Kullanım;Çocuk;Yavru;
Keywords[uk]=Login;Name;Fingerprint;Avatar;Logo;Face;Password;Parental;Restrictions;Kid;Child;вхід;логін;лоґін;назва;ім'я;відбиток;аватар;логотип;обличчя;пароль;батьківський;контроль;обмеження програм;діти;дитина;дитячий;
Keywords[zh_CN]=Login;Name;Fingerprint;Avatar;Logo;Face;Password;Parental;Restrictions;Usage;Kid;Child;登录;名字;名称;姓名;指纹;头像;标志;脸部;人脸;密码;家长;限制;占用;孩子;儿童;
Keywords[zh_TW]=Login;Name;Fingerprint;Avatar;Logo;Face;Password;Parental;Restrictions;Usage;Kid;Child;登入;姓名;指紋;頭像;標誌;家長;限制;使用;小孩;兒童;
Keywords=Login;Name;Fingerprint;Avatar;Logo;Face;Password;Parental;Restrictions;Usage;Kid;Child;
