[Desktop Entry]
Name[af]=Stelsel
Name[an]=Sistema
Name[ar]=النظام
Name[as]=চিস্টেম
Name[ast]=Sistema
Name[be]=Сістэма
Name[be@latin]=Sistema
Name[bg]=Система
Name[bn]=সিস্টেম
Name[bn_IN]=সিস্টেম
Name[br]=Reizhiad
Name[bs]=Sistem
Name[ca]=Sistema
Name[ca@valencia]=Sistema
Name[ckb]=سیسته‌م
Name[crh]=Sistem
Name[cs]=Systém
Name[cy]=System
Name[da]=System
Name[de]=System
Name[dz]=རིམ་ལུགས།
Name[el]=Σύστημα
Name[en_CA]=System
Name[en_GB]=System
Name[en@shaw]=𐑕𐑦𐑕𐑑𐑩𐑥
Name[eo]=Sistemo
Name[es]=Sistema
Name[et]=Süsteem
Name[eu]=Sistema
Name[fa]=سامانه
Name[fi]=Järjestelmä
Name[fo]=Kervi
Name[fr]=Système
Name[fur]=Sisteme
Name[ga]=Córas
Name[gd]=Siostam
Name[gl]=Sistema
Name[gu]=સિસ્ટમ
Name[he]=מערכת
Name[hi]=सिस्टम
Name[hr]=Sustav
Name[hu]=Rendszer
Name[hy]=Համակարգ
Name[id]=Sistem
Name[ie]=Sistema
Name[is]=Kerfið
Name[it]=Sistema
Name[ja]=システム
Name[ka]=სისტემა
Name[kab]=Anagraw
Name[kk]=Жүйелік
Name[km]=ប្រព័ន្ធ
Name[kn]=ವ್ಯವಸ್ಥೆ
Name[ko]=시스템
Name[ku]=Pergal
Name[ky]=Система
Name[lt]=Sistema
Name[lv]=Sistēma
Name[mai]=सिस्टम
Name[mg]=Rafitra
Name[mk]=Систем
Name[ml]=സിസ്റ്റം
Name[mn]=Систем
Name[mr]=प्रणाली
Name[ms]=Sistem
Name[my]=စနစ်ဆိုင်ရာ
Name[nb]=System
Name[nds]=System
Name[ne]=प्रणाली
Name[nl]=Systeem
Name[nn]=System
Name[oc]=Sistèma
Name[or]=ତନ୍ତ୍ର
Name[pa]=ਸਿਸਟਮ
Name[pl]=System
Name[pt]=Sistema
Name[pt_BR]=Sistema
Name[ro]=Sistem
Name[ru]=Система
Name[si]=පද්දති
Name[sk]=Systém
Name[sl]=Sistem
Name[sq]=Sistemi
Name[sr]=Систем
Name[sr@latin]=Sistem
Name[sv]=System
Name[ta]=கணினி
Name[te]=వ్యవస్థ
Name[tg]=Система
Name[th]=ระบบ
Name[tr]=Sistem
Name[ug]=سىستېما
Name[uk]=Система
Name[uz]=Tizim
Name[uz@cyrillic]=Тизим
Name[vi]=Hệ thống
Name[zh_CN]=系统
Name[zh_HK]=系統
Name[zh_TW]=系統
Name=System
Comment[be]=Налады мовы і часу, інфармацыя пра сістэму
Comment[be@latin]=Nałady movy i času, infarmacyja pra sistemu
Comment[bg]=Настройки за език и време, информация за системата
Comment[ca]=Paràmetres d'idioma i hora, informació del sistema
Comment[cs]=Nastavení jazyka a času, systémové informace
Comment[da]=Sprog- og tidsindstillinger, systeminformation
Comment[de]=Sprachen- und Zeiteinstellungen, Systeminformationen
Comment[en_GB]=Language and time settings, system information
Comment[es]=Configuración de idioma y hora, información del sistema
Comment[eu]=Hizkuntzaren eta orduaren ezarpenak, sistemaren informazioa
Comment[fa]=تنظیمات زمان و زبان، اطَلاعات سامانه
Comment[fi]=Kieli- ja aika-asetukset, järjestelmän tiedot
Comment[fr]=Paramètres de langue et d’heure, informations système
Comment[fur]=Impostazions di lenghe e ore, informazions di sisteme
Comment[gl]=Preferencias de idioma e hora, información do sistema
Comment[he]=הגדרות שפה וזמן, מידע על המערכת
Comment[hi]=भाषा और समय सेटिंग्स, सिस्टम जानकारी
Comment[hu]=Nyelvi és időbeállítások, rendszer-információk
Comment[id]=Pengaturan bahasa dan waktu, informasi sistem
Comment[it]=Impostazioni di lingua e orario, informazioni sul sistema
Comment[ka]=ენისა და დროის მორგება, სისტემის ინფორმაცია
Comment[kk]=Тіл және уақыт баптаулары, жүйелік ақпарат
Comment[ko]=언어 및 시각 설정, 시스템 정보
Comment[lt]=Kalbos ir laiko nuostatos, sistemos informacija
Comment[lv]=Valodas un laika iestatījumi, informācija par sistēmu
Comment[nb]=Systeminformasjon og innstillinger for språk og tid
Comment[nl]=Taal- en tijdsinstellingen, systeeminformatie
Comment[oc]=Paramètres de lenga e d’ora e informacion del sistèma
Comment[pa]=ਭਾਸ਼ਾ ਅਤੇ ਸਮਾਂ ਸੈਟਿੰਗਾਂ, ਸਿਸਟਮ ਦੀ ਜਾਣਕਾਰੀ
Comment[pl]=Ustawienia języka i czasu, informacje o komputerze
Comment[pt]=Configurações de idioma e horárias, informação de sistema
Comment[pt_BR]=Configurações de idioma e hora, informações do sistema
Comment[ro]=Configurări de limbă și oră, informații de sistem
Comment[ru]=Настройки языка и времени, системная информация
Comment[sk]=Nastavenie jazyka a času, systémové informácie
Comment[sl]=Jezik, nastavitve časa in podrobnosti sistema
Comment[sr]=Подешавања језика и времена, подаци о систему
Comment[sr@latin]=Podešavanja jezika i vremena, podaci o sistemu
Comment[sv]=Läs språk- och tidsinställningar, systeminformation
Comment[th]=การตั้งค่าภาษาและเวลา และข้อมูลระบบ
Comment[tr]=Dil ve saat ayarları, sistem bilgileri
Comment[uk]=Параметри мови і часу, дані щодо системи
Comment[zh_CN]=语言和时间设置、系统信息
Comment[zh_TW]=語言與時間設定，系統資訊
Comment=Language and time settings, system information
Exec=gnome-control-center system
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.Settings-system-symbolic
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Settings;X-GNOME-Settings-Panel;X-GNOME-DetailsSettings;
OnlyShowIn=GNOME;Unity;
# Translators: Search terms to find the System panel. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[be]=device;system;information;details;hostname;memory;processor;version;software;operating;os;model;language;region;country;formats;numbers;units;clock;timezone;date;location;remote;desktop;rdp;vnc;ssh;прылада;сістэма;інфармацыя;звесткі;хост;імя хоста;назва вузла;памяць;працэсар;версія;праграмнае;забеспячэнне;ПЗ;аперацыйная;сістэма;АС;мадэль;мова;рэгіён;рэгіянальныя;краіна;фарматы;даты;лікаў;адзінкі;вымярэння;гадзіннік;часавы;пояс;месцазнаходжанне;аддалены;працоўны;стол;
Keywords[be@latin]=device;system;information;details;hostname;memory;processor;version;software;operating;os;model;language;region;country;formats;numbers;units;clock;timezone;date;location;remote;desktop;rdp;vnc;ssh;pryłada;sistema;infarmacyja;zviestki;chost;imia chosta;nazva vuzła;pamiać;pracesar;viersija;prahramnaje;zabiespiačennie;PZ;apieracyjnaja;sistema;AS;madel;mova;rehijon;rehijanalnyja;kraina;farmaty;daty;likaŭ;adzinki;vymiarennia;hadzinnik;časavy;pojas;miescaznachodžannie;addaleny;pracoŭny;stoł;
Keywords[bg]=числа;типове;часовник;часови;пояс;дата;държава;регион;език;модел;устройство;система;информация;подробности;име;хост;памет;процесор;версия;стандартна;софтуер;операционна;програма;предпочитана;cd;dvd;usb;звук;видео;диск;преносим;носител;автоматично;стартиране;сигурна;връзка;обвивка;device;system;information;hostname;memory;processor;version;default;application;preferred;cd;dvd;usb;audio;video;disc;removable;media;autorun;software;operating;os;model;language;region;country;formats;numbers;units;clock;timezone;date;location;remote;desktop;rdp;vnc;ssh;
Keywords[ca]=dispositiu;sistema;informació;detalls;amfitrió;memòria;processador;versió;programari;operatiu;so;model;idioma;regió;país;formats;nombres;unitats;rellotge;fus horari;data;ubicació;remot;escriptori;rdp;vnc;
Keywords[cs]=zařízení;počítač;systém;informace;detaily;hostname;hostitel;název;paměť;procesor;verze;software;operační;os;model;jazyk;oblast;země;formáty;čísla;jednotky;hodiny;časové pásmo;datum;umístění;vzdálená;plocha;rdp;vnc;ssh;
Keywords[da]=enhed;system;information;detaljer;værtsnavn;hukommelse;processor;version;software;program;styresystem;operativsystem;os;model;sprog;region;land;formater;tal;enheder;ur;tidszone;dato;lokation;placering;sted;fjern;ekstern;skrivebord;rdp;vnc;ssh;
Keywords[de]=device;system;information;details;hostname;memory;processor;version;software;operating;os;model;language;region;country;formats;numbers;units;clock;timezone;date;location;remote;desktop;rdp;vnc;ssh;Gerät;Rechnername;Speicher;Prozessor;Anwendung;Betriebssystem;Modell;Sprache;Region;Land;Formate;Zahlen;Einheiten;Uhr;Zeitzone;Datum;Ort;entfernt;
Keywords[en_GB]=device;system;information;details;hostname;memory;processor;version;software;operating;os;model;language;region;country;formats;numbers;units;clock;timezone;date;location;remote;desktop;rdp;vnc;ssh;
Keywords[es]=dispositivo;sistema,información;detalles;nombre;equipo;memoria;procesador;versión;software;sistema;operativo;modelo;idioma;región;país;formatos;números;unidades;reloj;zona;horaria;fecha;ubicación;escritorio;remoto;rdp;vnc;ssh;
Keywords[eu]=gailua;sistema;informazioa;xehetasunak;ostalari-izena;memoria;prozesadorea;bertsioa;softwarea;eragilea;se;modeloa;hizkuntza;eskualdea;herrialdea;formatuak;zenbakiak;unitateak;erlojua;ordu-zona;data;kokalekua;urrunekoa;mahaigaina;rdp;vnc;ssh;
Keywords[fa]=device;system;information;details;hostname;memory;processor;version;software;operating;os;model;language;region;country;formats;numbers;units;clock;timezone;date;location;remote;desktop;rdp;vnc;ssh;دستگاه;افزاره;سیستم;سامانه;اطّلاعات;جزییات;نام دامنه;حافظه;پردازشگر;نگارش;نسخه;نرم‌افزار;سیستم‌عامل;مدل;زبان;ناحیه;کشور;قالب‌ها;اعداد;واحدها;ساعت;منطقه زمانی;تاریخ;مکان;دوردست;میزکار;پوسته;
Keywords[fi]=device;system;information;details;hostname;memory;processor;version;software;operating;os;model;language;region;country;formats;numbers;units;clock;timezone;date;location;remote;desktop;rdp;vnc;ssh;laite;järjestelmä;tiedot;konenimi;muisti;prosessori;suoritin;versio;ohjelmisto;käyttöjärjestelmä;malli;kieli;alue;maa;muotoilut;numerot;yksiköt;kello;aikavyöhyke;päiväys;sijainti;etä;työpöytä;
Keywords[fo]=tól;tóleind;skipan;upplýsingar;info;staklutir;vertsnavn;minni;ram;geril;cpu;útgáva;versjón;forrit;ritbúnaður;stýriskipan;os;model;tóleind;mál;øki;format;land;tøl;eindir;tíð;klokka;tíðarsona;tíðarøki;dato;dagfesting;atsetur;stað;fjar;fjarskriviborð;rdp;vnc;ssh;
Keywords[fr]=appareil;périphérique;système;informations;détails;nom d’hôte;mémoire;processeur;version;logiciel;exploitation;modèle;langue;région;pays;formats;nombres;unités;horloge;fuseau horaire;date;emplacement;distant;bureau;rdp;vnc;
Keywords[fur]=dispositîf;sisteme;informazions;detais;non;host;memorie;processôr;version;software;operatîf;so;model;lenghe;regjon;paîs;formâts;numars;unitâts;orloi;fûs orari;date;posizion;lontan;scritori;rdp;vnc;ssh;
Keywords[gl]=dispositivo;sistema;información;detalles;nome de equipo;memoria;procesador;versión;software;operativo;os;modelo;idioma;rexión;país;formatos;números;unidades;reloxo;fuso horario;data;localización;remoto;escritorio;rdp;vnc;ssh;
Keywords[he]=התקן;מערכת;מידע;פרטים;שם מארח;שם;מארח;זכרון;זיכרון;מעבד;גרסה;תכנה;תוכנה;מערכת הפעלה;מודל;שפה;אזור;מדינה;תבנית;תבניות;פורמט;פורמטים;מספרים;יחידות;שעה;שעון;אזור זמן;איזור זמן;תאריך;מיקום;מקום;מרוחק;מרחוק;רחוק;שולחן עבודה;rdp;vnc;ssh;
Keywords[hi]=उपकरण;सिस्टम;जानकारी;विवरण;होस्टनाम;मेमोरी;प्रोसेसर;संस्करण; सॉफ्टवेयर;ऑपरेटिंग;OS;मॉडल;भाषा;क्षेत्र;देश;प्रारूप;संख्याएं;इकाइयां;घड़ी;समय क्षेत्र;तिथि;स्थान;रिमोट;डेस्कटॉप;rdp;vnc;ssh;
Keywords[hu]=eszköz;rendszer;információk;részletek;gépnév;memória;processzor;verzió;szoftver;operációs;os;modell;nyelv;terület;ország;formátumok;számok;mértékegységek;óra;időzóna;dátum;hely;távoli;asztal;rdp;vnc;ssh;
Keywords[id]=perangkat;sistem;informasi;rincian;nama host;memori;prosesor;versi;perangkat lunak;operasi;os;so;model;bahasa;wilayah;negara;format;angka;unit;satuan;jam;zona waktu;tanggal;lokasi;jarak jauh;desktop;rdp;vnc;ssh;
Keywords[it]=dispositivo;sistema;informazioni;memoria;processore;versione;software;operativo;os;modello;lingua;regione;nazione;paese;formati;numeri;unità;orologio;fuso;orario;data;posizione;remoto;desktop;rdp;vnc;ssh;
Keywords[ka]=device;system;information;hostname;memory;processor;version;default;application;preferred;cd;dvd;usb;audio;video;disc;removable;media;autorun;
Keywords[kk]=device;system;information;details;hostname;memory;processor;version;software;operating;os;model;language;region;country;formats;numbers;units;clock;timezone;date;location;remote;desktop;rdp;vnc;ssh;құрылғы;жүйе;ақпарат;мәліметтер;хост;жады;процессор;нұсқасы;бағдарламалық қамтама;БҚ;операциялық;ОЖ;модель;тіл;аймақ;ел;пішімдер;сандар;бірліктер;сағат;уақыт белдеуі;күн;ораласу;қашықтағы;жүмыс үстел;
Keywords[ko]=device;장치;system;시스템;information;정보;details;자세히;hostname;호스트;이름;memory;메모리;processor;프로세서;version;버전;software;소프트웨어;operating;os;운영체제;model;모델;language;언어;region;지역;country;국가;나라;formats;형식;numbers;숫자;번호;units;단위;clock;시계;timezone;표준;시간대;타임존;date;날짜;location;위치;remote;원격;desktop;데스크톱;rdp;vnc;ssh;
Keywords[lt]=įrenginys;sistema;informacija;detalės;pavadinimas;atmintis;procesorius;versija;programa;operacinė;os;modelis;kalba;regionas;šalis;formatai;skaičiai;vienetai;laikrodis;juosta;data;vietovė;nuotolinis;darbastalis;vnc;ssh;
Keywords[lv]=ierīce;sistēma;informācija;resursdatora nosaukums;atmiņa;procesors;versija;programmatūra;operētāj;os;modelis;valoda;reģions;valsts;formāts;skatļi;mērvienības;pulkstenis;laika josla;lokācija;attāls;darbvirsma;rdp;vnc;ssh;
Keywords[nb]=enhet;system;informasjon;detaljer;minne;ram;prosessor;versjoner;programvare;operativsystem;os;modell;språk;område;region;land;formater;skrivemåter;lokalisering;tall;måleenheter;klokkeslett;tidssone;dato;fjernstyring;remote;rdp;vnc;ssh;oppdateringer;om systemet;
Keywords[nl]=device;system;information;details;hostname;memory;processor;version;software;operating;os;model;language;region;country;formats;numbers;units;clock;timezone;date;location;remote;desktop;rdp;vnc;ssh;apparaat;systeem;informatie;hostnaam;geheugen;versie;besturingssysteem;taal;regio;streek;land;formaten;indelingen;nummers;cijfers;getallen;eenheden;klok;tijdzone;datum;locatie;positie;extern;afstand;bureaublad;
Keywords[oc]=aparelh;periferic;informacion;detalhs;sistèma;nom;òste;memòria;processor;version;logicial;operatiu;os;modèl;lenguatge;region;país;format;nombre;unitat;zòna orària;emplaçament;localizacion;distància;alonhat;distant;burèu;rdp;vnc;ssh;
Keywords[pl]=urządzenie;system;informacje;szczegóły;nazwa;komputera;hosta;hostname;pamięć;procesor;grafika;karta;graficzna;wersja;oprogramowanie;software;system;operacyjny;os;model;język;region;kraj;państwo;formaty;liczby;jednostki;zegar;strefa;czasowa;data;położenie;lokacja;lokalizacja;zdalny;pulpit;remote;desktop;rdp;vnc;ssh;
Keywords[pt]=dispositivo;sistema;informação;memória;processador;versão;aplicação;preferido;cd;dvd;usb;áudio;vídeo;disco;removível;media;autoiniciar;
Keywords[pt_BR]=dispositivo;sistema;informações;detalhes;nome do host;memória;processador;versão;software;operacional;sistema operacional;modelo;idioma;região;país;formatos;números;unidades;relógio;fuso horário;data;localização;remoto;desktop;rdp;vnc;ssh;
Keywords[ru]=устройство;система;информация;подробности;имя;хоста;память;процессор;версия;программное;обеспечение;операционная;система;модель;язык;регион;страна;форматы;часы;часовой;пояс;дата;местоположение;удаленный;рабочий;стол;rdp;vnc;ssh;
Keywords[sk]=zariadenie;systém;informácie;podrobnosti;detaily;hostiteľ;názov;pamäť;procesor;verzia;softvér;os;operačný systém;model;jazyk;oblasť;región;krajina;formáty;čísla;jednotky;hodiny;časové pásmo;dátum;poloha;vzdialená;plocha;pripojenie;rdp;vnc;ssh;
Keywords[sl]=naprava;sistem;podrobnosti;gostitelj;ime;pomnilnik;procesor;različica;privzeto;program;programje;operacijski;sistem;jezik;območje;področje;država;oblike;števila;eote;ura;časovni;pas;datum;lokacija;oddaljeno;namizje;rdp;vnc;ssh;
Keywords[sr]=device;system;information;details;hostname;memory;processor;version;software;operating;os;model;language;region;country;formats;numbers;units;clock;timezone;date;location;remote;desktop;rdp;vnc;уређај;систем;информација;подаци;детаљи;домаћин;меморија;процесор;издање;верзија;софтвер;програм;апликација;оперативни;режим;језик;регион;држава;земља;формати;бројеви;јединице;сат;временска;зона;датум;место;локација;удаљени;радна;површ;рдп;внц;ссх;uređaj;sistem;informacija;podaci;detalji;domaćin;memorija;procesor;izdanje;verzija;softver;program;aplikacija;operativni;režim;jezik;region;država;zemlja;formati;brojevi;jedinice;sat;vremenska;zona;datum;mesto;lokacija;udaljeni;radna;površ;
Keywords[sr@latin]=device;system;information;details;hostname;memory;processor;version;software;operating;os;model;language;region;country;formats;numbers;units;clock;timezone;date;location;remote;desktop;rdp;vnc;uređaj;sistem;informacija;podaci;detalji;domaćin;memorija;procesor;izdanje;verzija;softver;program;aplikacija;operativni;režim;jezik;region;država;zemlja;formati;brojevi;jedinice;sat;vremenska;zona;datum;mesto;lokacija;udaljeni;radna;površ;rdp;vnc;ssh;uređaj;sistem;informacija;podaci;detalji;domaćin;memorija;procesor;izdanje;verzija;softver;program;aplikacija;operativni;režim;jezik;region;država;zemlja;formati;brojevi;jedinice;sat;vremenska;zona;datum;mesto;lokacija;udaljeni;radna;površ;
Keywords[sv]=enhet;system;information;detaljer;värdnamn;minne;processor;version;program;operativsystem;os;modell;språk;region;land;format;tal;enheter;klocka;tidszon;datum;plats;fjärr;skrivbord;rdp;vnc;ssh;
Keywords[th]=อุปกรณ์;ระบบ;ข้อมูล;รายละเอียด;ชื่อโฮสต์;หน่วยความจำ;หน่วยประมวลผล;รุ่น;ซอฟต์แวร์;ปฏิบัติการ;os;โมเดล;ภาษา;ภูมิภาค;ประเทศ;รูปแบบ;ตัวเลข;หน่วย;นาฬิกา;เขตเวลา;วันที่;ตำแหน่งที่ตั้ง;ระยะไกล;เดสก์ท็อป;rdp;vnc;ssh;
Keywords[tr]=device;system;information;details;hostname;memory;processor;version;software;operating;os;model;language;region;country;formats;numbers;units;clock;timezone;date;location;remote;desktop;rdp;vnc;ssh;aygıt;sistem;bilgi;ayrıntılar;makineadı;anamakineadı;bellek;işlemci;sürüm;yazılım;işletimsistemi;model;dil;bölge;ülke;biçimler;sayılar;birimler;saat;zamandilimi;saat dilimi;tarih;konum;uzak;masaüstü;
Keywords[uk]=пристрій;система;інформація;подробиці;назва;вузол;пам'ять;процесор;версія;програмне;забезпечення;програми;операційна;система;модель;мова;регіон;країна;формати;числа;одиниці;годинник;часовий;пояс;дата;місце;віддалена;стільниця;device;system;information;details;hostname;memory;processor;version;software;operating;os;model;language;region;country;formats;numbers;units;clock;timezone;date;location;remote;desktop;rdp;vnc;ssh;
Keywords[zh_CN]=device;system;information;details;hostname;memory;processor;version;software;operating;os;model;language;region;country;formats;numbers;units;clock;timezone;date;location;remote;desktop;rdp;vnc;ssh;设备;系统;信息;详情;主机名;内存;处理器;版本;软件;操作;系统;类型;语言;地区;国家;格式;数字;单位;时钟;时区;日期;位置;远程;桌面;
Keywords[zh_TW]=device;system;information;details;hostname;memory;processor;version;software;operating;os;model;language;region;country;formats;numbers;units;clock;timezone;date;location;remote;desktop;rdp;vnc;ssh;裝置;系統;資訊;詳細資料;主機名稱;記憶體;處理器;版本;軟體;操作;作業系統;型號;語言;區域;地區;國家;格式;數字;單位;時鐘;時區;日期;位置;定位;遠端;桌面;
Keywords=device;system;information;details;hostname;memory;processor;version;software;operating;os;model;language;region;country;formats;numbers;units;clock;timezone;date;location;remote;desktop;rdp;vnc;ssh;
