[Desktop Entry]
Name[an]=Pantallas
Name[ar]=الشاشات
Name[as]=প্ৰদৰ্শনসমূহ
Name[ast]=Pantalles
Name[be]=Дысплэі
Name[be@latin]=Dyspłei
Name[bg]=Екрани
Name[bn]=প্রদর্শন
Name[bn_IN]=প্রদর্শন
Name[bs]=Displeji
Name[ca]=Pantalles
Name[ckb]=پیشاندەرەکان
Name[crh]=Ekranlar
Name[cs]=Displeje
Name[da]=Skærme
Name[de]=Bildschirme
Name[el]=Οθόνες
Name[en_GB]=Displays
Name[eo]=Ekranoj
Name[es]=Pantallas
Name[et]=Kuvad
Name[eu]=Pantailak
Name[fa]=نمایشگرها
Name[fi]=Näytöt
Name[fo]=Skíggjar
Name[fr]=Éc­rans
Name[fur]=Visôrs
Name[ga]=Taispeáintí
Name[gd]=Uidheaman-taisbeanaidh
Name[gl]=Pantallas
Name[gu]=દેખાવો
Name[he]=צגים
Name[hi]=डिस्प्ले
Name[hr]=Zasloni
Name[hu]=Ki­jel­zők
Name[id]=Tampilan
Name[ie]=Monitores
Name[is]=Skjáir
Name[it]=Schermi
Name[ja]=ディスプレイ
Name[ka]=ეკრანები
Name[kk]=Экран­дар
Name[km]=ទិដ្ឋភាព
Name[kn]=ಪ್ರದರ್ಶಕಗಳು
Name[ko]=디스플레이
Name[ku]=Dîmender
Name[ky]=Дисплейлер
Name[lt]=Ekranai
Name[lv]=Displeji
Name[mk]=Прикази
Name[mr]=डिस्पलेज्
Name[ms]=Paparan
Name[my]=Displays
Name[nb]=Skjerm
Name[ne]=प्रदर्शन
Name[nl]=Schermen
Name[nn]=Skjermar
Name[oc]=Afichatge
Name[or]=ପ୍ରଦର୍ଶନୀଗୁଡ଼ିକ
Name[pa]=ਡਿਸਪਲੇਅ
Name[pl]=Ekrany
Name[pt]=Ecrãs
Name[pt_BR]=Telas
Name[ro]=Ecrane
Name[ru]=Дисплеи
Name[sk]=Displeje
Name[sl]=Zasloni
Name[sr]=Екрани
Name[sr@latin]=Ekrani
Name[sv]=Skärm­ar
Name[ta]=காட்டிகள்
Name[te]=ప్రదర్శనలు
Name[tg]=Дисплейҳо
Name[th]=จอแสดงผล
Name[tr]=Ekranlar
Name[ug]=كۆرسەتكۈچلەر
Name[uk]=Дисплеї
Name[vi]=Màn hình
Name[zh_CN]=显示器
Name[zh_HK]=顯示器
Name[zh_TW]=顯示器
Name=Displays
Comment[be]=Начное святло і выбар спосабаў выкарыстання падлучаных манітораў і праектараў
Comment[be@latin]=Načnoje sviatło i vybar sposabaŭ vykarystannia padłučanych manitoraŭ i prajektaraŭ
Comment[bg]=Избор на нощен режим и как да се използват свързаните екрани и проектори
Comment[ca]=Utilitza la Llum nocturna i tria com utilitzar monitors i projectors connectats
Comment[cs]=Použijte noční světlo a zvolte, jak se mají používat připojené monitory a projektory
Comment[da]=Brug nattelys og vælg, hvordan forbundne skærme og projektorer skal bruges
Comment[de]=Nachtmodus verwenden und festlegen, wie angeschlossene Monitore und Projektoren arbeiten
Comment[el]=Χρησιμοποιήστε τη Λειτουργία Νυκτός και επιλέξτε τον τρόπο χρήσης των συνδεδεμένων οθονών και βιντεοπροβολέων
Comment[en_GB]=Use Night Light and choose how to use connected monitors and projectors
Comment[eo]=Uzi noktan lumon kaj elekti kiel uzi konektitajn ekranojn kaj projekciilojn
Comment[es]=Usar la luz nocturna y elegir cómo usar las pantallas y los proyectores conectados
Comment[eu]=Erabili gaueko argia eta aukeratu konektatutako pantaila eta proiektagailuak nola erabiliko diren
Comment[fa]=استفاده از نور شب و گزینش چگونگی استفاده از نمایشگرها و پروژکتورهای وصل شده
Comment[fi]=Käytä yövaloa ja valitse, kuinka näyttöjä ja projektoreja käsitellään
Comment[fo]=Nýt náttljós og vel hvussu tilkoblaðu skíggjarnir og ljósvørpurnar skulu nýtast
Comment[fr]=Utiliser le mode nuit et choisir la façon dont seront utilisés les moniteurs et projecteurs
Comment[fur]=Dopre la lûs noturne e sielç cemût doprâ i visôrs e i proietôrs colegâts
Comment[gl]=Use Luz Nocturna e escolla como usar os monitores e proxectores conectados
Comment[he]=שימוש בתאורת לילה ובחירה כיצד להשתמש בצגים ובמקרנים מחוברים
Comment[hi]=रात्रि प्रकाश का प्रयोग करें और जुड़े हुए मॉनिटर और प्रोजेक्टर का प्रयोग करने का तरीका चुनें
Comment[hu]=Éjszakai fény használata és a csatlakoztatott monitorok és projektorok használati módjának kiválasztása
Comment[id]=Gunakan Cahaya Malam dan pilih cara menggunakan monitor dan proyektor yang terhubung
Comment[it]=Usa la luce notturna e scegli come usare i monitor e i proiettori connessi
Comment[ka]=გამოიყენეთ ღამის სინათლე და აირჩიეთ, როგორ გამოვიყენო მიერთებული ეკრანები და პროექტორები
Comment[kk]=Түнгі жарықты қолдану және жалғанған мониторлар мен проекторларды қолдану тәсілін таңдау
Comment[ko]=야간 모드 사용 및 연결한 모니터와 프로젝터 사용법을 정합니다
Comment[lt]=Naudokite naktinį apšvietimą ir pasirinkite, kaip naudoti prijungtus monitorius bei projektorius
Comment[lv]=Izmantojiet nakts gaismu un izvēlieties, kā izmantot pievienotos monitorus un projektorus
Comment[my]=ညအလင်းရောင်မုဒ်ကိုအသုံးပြုပြီး ချိတ်ဆက်ထားသော မော်နီတာများနှင့် ပရိုဂျက်တာများအသုံးပြုနည်းကို ရွေးချယ်ပါ
Comment[nb]=Bruk nattlys og endre hvordan eksterne skjermer og prosjektorer brukes
Comment[nl]=Gebruik Nachtlicht en kies hoe aangesloten beeldschermen en projectoren gebruikt worden
Comment[oc]=Utilizar lo mòde nuèit e causir lo mòde d'utilizacion dels ecrans e projectors connectats
Comment[pa]=ਰਾਤ ਲਈ ਰੋਸ਼ਨੀ ਵਰਤੋਂ ਅਤੇ ਚੁਣੋ ਕਿ ਮਾਨੀਟਰਾਂ ਅਤੇ ਪਰੋਜੈਕਟਰ ਨਾਲ ਕਿਵੇਂ ਜੁੜਨਾ ਹੈ
Comment[pl]=Nocne światło i wybór sposobu używania podłączonych monitorów i projektorów
Comment[pt]=Usar luz noturna e escolher como utilizar monitores e projetores ligados
Comment[pt_BR]=Use a luz noturna e escolha como usar os monitores e projetores conectados
Comment[ro]=Utilizați lumina de noapte și alegeți cum să se utilizeze monitoarele și proiectoarele conectate
Comment[ru]=Используйте ночной свет и выберите, как использовать подключённые мониторы и проекторы
Comment[sk]=Použite nočné svetlo a vyberte, ako sa majú používať pripojené monitory a projektory
Comment[sl]=Izbor nočne osvetlitve in načina uporabe povezanih zaslonov in projektorjev
Comment[sr]=Користите ноћно светло и подесите како ћете га применити на повезаним екранима и пројекторима
Comment[sr@latin]=Koristite noćno svetlo i podesite kako ćete ga primeniti na povezanim ekranima i projektorima
Comment[sv]=Använd nattbelysning och välj hur anslutna skärmar och projektorer ska användas
Comment[th]=ใช้แสงกลางคืนและเลือกวิธีใช้งานจอภาพและเครื่องฉายที่เชื่อมต่ออยู่
Comment[tr]=Gece Işığı kullan ve bağlanan ekranların ya da projektörlerin nasıl kullanılacağını seç
Comment[uk]=Використати нічний режим і змінити використання під'єднаних моніторів та проєкторів
Comment[vi]=Dùng Ánh sáng đêm và chọn cách dùng màn hình và máy chiếu đã kết nối
Comment[zh_CN]=使用夜灯并选择如何使用接入的显示器和投影仪
Comment[zh_TW]=選取如何使用連接的顯示器與投影機進入夜光模式
Comment=Use Night Light and choose how to use connected monitors and projectors
Exec=gnome-control-center display
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.Settings-display-symbolic
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Settings;HardwareSettings;X-GNOME-Settings-Panel;X-GNOME-DevicesSettings;
OnlyShowIn=GNOME;Unity;
# Translators: Search terms to find the Displays panel. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[af]=paneel;projektor;xrandr;skerm;resolusie;verfris;monitor;nag;lig;blou;rooiverskuiwing;kleur;sonsondergang;sonsopkoms;
Keywords[ar]=لوحة;عرض;شاشة;ميز;ليل;إضاءة;شروق;غروب;لون;
Keywords[be]=Panel;Projector;xrandr;Screen;Resolution;Refresh;Monitor;Night;Light;Blue;redshift;color;sunset;sunrise;Панэль;Праектар;xrandr;Экран;Распазнавальнасць;Раздзяляльнасць;Разрознасць;Абнаўленне;Манітор;Ноч;Начное;Святло;колер;заход;усход;
Keywords[be@latin]=Panel;Projector;xrandr;Screen;Resolution;Refresh;Monitor;Night;Light;Blue;redshift;color;sunset;sunrise;Panel;Prajektar;xrandr;Ekran;Raspaznavalnasć;Razdzialalnasć;Razroznasć;Abnaŭlennie;Manitor;Noč;Načnoje;Sviatło;koler;zachod;uschod;
Keywords[bg]=панел;проектор;екран;разделителна;способност;опресняване;монитор;дисплей;нощ;светлина;яркост;завъртане;ротация;синя;червена;panel;projector;xrandr;screen;resolution;refresh;monitor;night;light;blue;
Keywords[bn_IN]=প্যানেল;প্রজেক্টর;xrandr;স্ক্রিন;রেজোলিউশন;রিফ্রেশ;মনিটর;নাইট;হাল্কা;নীল;redshift;রঙ;সূর্যাস্ত;সূর্যোদয়;
Keywords[ca]=Quadre;Projector;xrandr;Pantalla;Resolució;Refresca;Monitor;Nit;Llum;Blau;color;posta de sol;
Keywords[ca@valencia]=Quadre;Projector;xrandr;Pantalla;Resolució;Refresca;Monitor;Nit;Llum;Blau;color;posta de sol;
Keywords[ckb]=بەش;پڕۆژەدروستکەر;xrandr;شاشە;وردی نیشاندانی شاشە;نوێبوونەوە;مۆنیتەر؛شەو;ڕووناکی;شین;گۆڕینی سوور;ڕەنگ;خۆرئاوابوون;خۆرهەڵاتن;
Keywords[cs]=panel;projektor;xrandr;obrazovka;rozlišení;obnovovací frekvence;monitor;displej;noc;tma;světlo;modrá;červený;posuv;posun;barva;rozbřesk;soumrak;východ;západ;slunce;
Keywords[da]=Panel;Projektor;xrandr;Skærm;Opløsning;Opdatering;Opdater;Opdatér;Monitor;Nat;Lys;Blå;rødforskyd;farve;solnedgang;solopgang;
Keywords[de]=Panel;Projector;xrandr;Screen;Resolution;Refresh;Monitor;Night;Light;Blue;redshift;color;sunset;sunrise;Panel;Seitenfenster;Projektor;xrandr;Anzeige;Auflösung;Aktualisieren;Bildschirm;Monitor;Nacht;Licht;Tag;Blau;Rotverschiebung;Farbe;Sonnenuntergang;Sonnenaufgang;
Keywords[el]=Πάνελ;Προβολέας;xrandr;Οθόνη;Ανάλυση;Ανανέωση;Παρακολούθηση;νύχτα;νυχτός;ανατολή;χρώμα;δύση;Panel;Projector;Screen;Resolution;Refresh;Monitor;Night;Light;Blue;redshift;color;sunset;sunrise;
Keywords[en_GB]=Panel;Projector;xrandr;Screen;Resolution;Refresh;Monitor;Night;Light;Blue;redshift;colour;sunset;sunrise;
Keywords[eo]=Panelo;Projekciilo;xrandr;Ekrano;Distingivo;Aktualigi;Ekrano;Nokto;Lumo;Blua;redshift;koloro;sunsubiro;sunleviĝo;
Keywords[es]=Panel;Proyector;xranrd;Pantalla;Resolución;Actualizar;Monitor;Noche;Luz;Azul;color;amanecer;atardecer;ocaso;
Keywords[eu]=Panela;Proiektagailua;xrandr;Pantaila;Bereizmena;Freskatu;Monitorea;Gaua;Argia;Urdina;kolorea;egunsentia;ilunabarra;
Keywords[fa]=Panel;Projector;xrandr;Screen;Resolution;Refresh;Monitor;Night;Light;Blue;redshift;color;sunset;sunrise;تابلو;پروژکتور;صفحه;مانیتور;نمایشگر;تفکیک;شب;نور;آبی;رنگ;غروب;طلوع;
Keywords[fi]=Panel;Projector;xrandr;Screen;Resolution;Refresh;Monitor;Night;Light;Blue;redshift;color;sunset;sunrise;Paneeli;Projektori;Näyttö;Resoluutio;Tarkkuus;Virkistystaajuus;yövalo;
Keywords[fo]=Teigur;Ljósvørpa;xrandr;Skíggi;Loysni;Varðskíggi;Nátt;Ljós;Blátt;reyðskifti;litur;sólarris;dimmalætting;sólsetur;
Keywords[fr]=Panneau;Projecteur;xrandr;Écran;Définition;Résolution;Rafraîchissement;Moniteur;Nuit;Éclairage;Lumière;Bleue;Rouge;redshift;décalage;spectral;couleur;lever;coucher;soleil;
Keywords[fur]=Panel;Proietôr;xrandr;Schermi;Risoluzion;Refresh;Visôr;Gnot;Lûs;Blu;inrossâ;colôr;tramont;cricâ;
Keywords[gd]=Panel;Projector;xrandr;Screen;Resolution;Refresh;Monitor;panail;proiseactar;tilgear;sgrìn;dùmhlachd-bhreacaidh;ath-nuadhaich;ath-nuadhachadh;monatar;solar;oidhche;gorm;dearg;dath;laighe na grèine;èirigh na grèine;
Keywords[gl]=Panel;Proxector;xrandr;Pantalla;Resolución;Refresco;Monitor;Noite;Luz;Azul;redshift;cor;solpor;amencer;
Keywords[he]=לוח;מקרן;xrandr;צג;מסך;רזולוציה;הבחנה;רענון;צג;לילה;אור;תאורה;כחול;היסט לאדום;צבע;שקיעה;זריחה;
Keywords[hi]=फलक;प्रोजेक्टर;xrandr;स्क्रीन;रिज़ॉल्यूशन;ताजा करें;मॉनिटर;रात;प्रकाश;नीला;लाल बदलाव;रंग;सूर्यास्त;सूर्योदय;
Keywords[hr]=Panel;Projektor;xrandr;Zaslon;Razlučivost;Osvježi;Monitor;Noć;Osvjetljenje;Plavo;crveni pomak; boja;zalazak;izlazak;
Keywords[hu]=Panel;Projektor;xrandr;Képernyő;Felbontás;Frissítés;Monitor;Éjszakai;fény;redshift;szín;napkelte;napnyugta;
Keywords[id]=Panel;Proyektor;xrandr;Layar;Resolusi;Segarkan;Monitor;Malam;Terang;Biru;redshift;warna;matahari terbit;matahari tenggelam;
Keywords[is]=Spjald;Skjávarpi;xrandr;Skjár;Skjáupplausn;Uppfærslutíðni;Gluggi;Nótt;nætur;ljós;litur;lýsing;sólarlag;sólarupprás;
Keywords[it]=Pannello;Proiettore;xrandr;Schermo;Risoluzione;Dimensioni;Refresh;Display;Monitor;Notte;Blu;colore;tramonto;alba;luce;notturna;
Keywords[ja]=Panel;Projector;xrandr;Screen;Resolution;Refresh;Monitor;Night;Light;Blue;redshift;color;sunset;sunrise;パネル;プロジェクター;画面;解像度;リフレッシュ;モニター;ナイトライト;夜間モード;ブルーライト;色管理;ディスプレイ;ディスプレー;Displays;日没;日の出;
Keywords[ka]=Panel;Projector;xrandr;Screen;Resolution;Refresh;Monitor;Night;Light;Blue;redshift;color;sunset;sunrise;აისი;დაისი;პანელი;პროექტორი;
Keywords[kk]=Panel;Projector;xrandr;Screen;Resolution;Refresh;Monitor;Night;Light;Blue;redshift;color;sunset;sunrise;Панель;Проектор;xrandr;Экран;Ажыратылымдығы;Жаңарту;Монитор;Түн;Жарық;Көк;түс;күннің шығуы;күннің батуы;
Keywords[ko]=Panel;패널;Projector;프로젝터;xrandr;Screen;화면;Resolution;해상도;Refresh;주사율;Monitor;모니터;Night;Light;야간;모드;조명;Blue;파란빛;redshift;적색편이;color;색;sunset;일몰;sunrise;일출;
Keywords[lt]=Skydelis;Projektorius;xrandr;Ekranas;Raiška;Atnaujinimas;Monitorius;Naktinis;Apšvietimas;rausvumas;spalva;saulėtekis;saulėlydis;
Keywords[lv]=Panelis;Projektors;xrandr;Ekrāns;Izšķirtspēja;Atsvaidzināt;Monitors;Nakts;Gaisma;Zils;redshift;krāsa;saullēkts;saulriets;Panel;Projector;xrandr;Screen;Resolution;Refresh;Monitor;
Keywords[ml]=Panel;Projector;xrandr;Screen;Resolution;Refresh;Monitor;Night;Light;Blue;redshift;color;sunset;sunrise;
Keywords[ms]=Panel;Projektor;xrandr;Skrin;Resolusi;Segar Semula;Monitor;Malam;Cahaya;Biru;anjak merah;warna;matahari terbenam;matahari terbit;
Keywords[my]=ပန်နယ်;ပရိုဂျက်တာ;xrandr;မှန်ပြင်;Resolution;Refresh;မော်နီတာ;Night;Light;Blue;redshift;color;နေဝင်;နေထွက်;
Keywords[nb]=Prosjektor;xrandr;Skjermer;Oppløsning;Monitor;fps;Oppdateringsfrekvens;Bilder per sekund;Oppfriskningshastighet;Refresh rate;Natt;Lys;Blå;redshift;farge;solnedgang;soloppgang;tv;
Keywords[ne]=प्यानल; प्रोजेक्टर;xrandr; पर्दा; पर्दा रिजोल्युसन; ताजा पार्नुहोस्; मोनिटर; रात; प्रकाश; नीलो;रेडसिफ्ट;रङ;सूर्यास्त;सूर्योदय;
Keywords[nl]=Panel;Projector;xrandr;Screen;Resolution;Refresh;Monitor;Night;Light;Blue;redshift;color;sunset;sunrise;Paneel;Scherm;Resolutie;Verversen;Beeldscherm;Nacht;Licht;Blauw;kleur;zonsondergang;zonsopgang;
Keywords[oc]=Panèl;Projector;xrandr;Ecran;Definicion;Resolucion;Refrescament;Moniteur;Nuèit;Nuèch,Esclairatge;Lum;Lutz;Blava;redshift;descalatge;espectral;color;levar;colcar;
Keywords[pa]=ਪੈਨਲ;ਪਰੋਜੈਕਟਰ;ਸਕਰੀਨ;ਰੈਜ਼ੋਲੂਸ਼ਨ;ਤਾਜ਼ਾ;ਮਾਨੀਟਰ;ਰਾਤ;ਰਾਤਰੀ;ਰੌਸ਼ਨੀ;ਪ੍ਰਕਾਸ਼;ਨੀਲਾ;ਲਾਲ-ਪਰਿਵਰਤਨ;ਸੂਰਜ-ਚੜ੍ਹਨਾ;ਸੂਰਜ-ਲਹਿਣਾ;ਸੂਰਜ-ਡੁੱਬਣਾ;ਹਨੇਰਾ;ਰਾਤ-ਵੇਲਾ;ਚਾਨਣ;ਸਰਘੀ;ਤਰਕਾਲਾਂ;ਆਥਣ;
Keywords[pl]=Panel;Projektor;xrandr;Ekran;Rozdzielczość;Odświeżanie;Monitor;Nocne;światło;Niebieski;Przesunięcie ku czerwieni;Poczerwienienie;Redshift;Kolory;Kolorów;Wschód;Zachód;słońca;Słońce;
Keywords[pt]=Painel;Projetor;xrandr;Ecrã;Resolução;Atualizar;Monitor;Noturno;Noite;Luz;Azul;cor;redshift;anoitecer;amanhecer;nascer do sol;pôr do sol;
Keywords[pt_BR]=Painel;Projetor;xrandr;Tela;Resolução;Atualizar;Atualização;Monitor;Noite;Noturna;Luz;Azul;Desvio para o vermelho;redshift;cor;pôr do sol;nascer do sol;
Keywords[ro]=Panel;Projector;xrandr;Screen;Resolution;Refresh;Monitor;Night;Light;Blue;redshift;color;sunset;sunrise;Panou;Proiector;Ecran;Rezoluție;Lumină;Albastru;culoare;apus;răsărit;
Keywords[ru]=Панель;Проектор;xrandr;Экран;Разрешение;Обновить;Монитор;Ночь;Подсветка;Синий;смещение;цвет;закат;рассвет;
Keywords[sk]=Panel;Projektor;xrandr;Obrazovka;Rozlíšenie;Obnovovanie;Displej;Noc;Nočné;Svetlo;Osvetlenie;Modrá;Farba;Redshift;Západ;Východ;Slnka;
Keywords[sl]=pult;panel;projektor;xrandr;zaslon;ločljivost;osveževanje;monitor;noč;svetloba;svetlost;modra;rdeči zamik;zora;mrak;barve;
Keywords[sr]=Panel;Projector;xrandr;Screen;Resolution;Refresh;Monitor;Night;Light;Blue;redshift;color;sunset;sunrise;панел;пројектор;икс-рандр;екран;резолуција;освежавање;монитор;ноћ;светло;плаво;редшифт;боја;свитање;сумрак;panel;projektor;iks-randr;ekran;rezolucija;osvežavanje;monitor;noć;svetlo;plavo;redšift;boja;svitanje;sumrak;
Keywords[sr@latin]=Panel;Projector;xrandr;Screen;Resolution;Refresh;Monitor;Night;Light;Blue;redshift;color;sunset;sunrise;panel;projektor;iks-randr;ekran;rezolucija;osvežavanje;monitor;noć;svetlo;plavo;redšift;boja;svitanje;sumrak;panel;projektor;iks-randr;ekran;rezolucija;osvežavanje;monitor;noć;svetlo;plavo;redšift;boja;svitanje;sumrak;
Keywords[sv]=Panel;Projektor;xrandr;Skärm;Upplösning;Uppdatering;Natt;Belysning;Blå;redshift;färg;solnedgång;soluppgång;
Keywords[th]=แผงควบคุม;เครื่องฉาย;xrandr;หน้าจอ;ความละเอียด;รีเฟรช;จอภาพ;แสง;กลางคืน;สีฟ้า;redshift;สี;พระอาทิตย์ตก;พระอาทิตย์ขึ้น;
Keywords[tr]=Panel;Projector;xrandr;Screen;Resolution;Refresh;Monitor;Night;Light;Blue;redshift;color;sunset;sunrise;Projektör;Gösterici;Ekran;Çözünürlük;Tazele;Yenile;Monitör;Gece;Işık;Mavi;renk;gün doğumu;gün batımı;
Keywords[uk]=Панель;Проєктори;xrandr;Екран;Роздільність;Оновлення;Монітор;Нічне;Світло;Синій;redshift;колір;захід;світанок;
Keywords[vi]=Panel;Bảng;bang;Projector;Máy;chiếu;May;chieu;xrandr;Screen;Màn;hình;Man;hinh;Resolution;Độ;phân;giải;Do;phan;gia;Refresh;Night;Đêm;Dem;Light;Ánh sáng;anh sang;Blue;Xanh;redshift;color;màu;mau;sunset;hoàng hôn;hoang hon;sunrise;bình minh;binh minh;
Keywords[zh_CN]=Panel;Projector;xrandr;Screen;Resolution;Refresh;Monitor;Night;Light;Blue;redshift;color;sunset;sunrise;面板;投影仪;屏幕;分辨率;刷新;夜晚;晚上;光;蓝;红移;颜色;日落;日出;
Keywords[zh_TW]=Panel;Projector;xrandr;Screen;Resolution;Refresh;Monitor;;Night;Light;Blue;redshift;color;sunset;sunrise;面板;投影機;螢幕;解析度;重新整理;螢幕;夜晚;夜光;藍光;日出;日落;
Keywords=Panel;Projector;xrandr;Screen;Resolution;Refresh;Monitor;Night;Light;Blue;redshift;color;sunset;sunrise;
