[Desktop Entry]
Name[be]=Прыватнасць і бяспека
Name[be@latin]=Pryvatnasć i biaspieka
Name[bg]=Поверителност и сигурност
Name[ca]=Privacitat i seguretat
Name[cs]=Soukromí a zabezpečení
Name[da]=Privatliv og sikkerhed
Name[de]=Datenschutz und Sicherheit
Name[en_GB]=Privacy & Security
Name[es]=Privacidad y seguridad
Name[eu]=Pribatutasuna eta segurtasuna
Name[fa]=محرمانگی و امنیت
Name[fi]=Yksityisyys ja tietoturva
Name[fo]=Privatlív og trygd
Name[fr]=Vie privée et sécurité
Name[fur]=Riservatece e sigurece
Name[gl]=Privacidade e seguranza
Name[he]=פרטיות ואבטחה
Name[hi]=गोपनीयता एवं सुरक्षा
Name[hu]=Adatvédelem és biztonság
Name[id]=Privasi & Keamanan
Name[it]=Privacy e sicurezza
Name[ka]=უსაფრთხოება & კონფიდენციალობა
Name[kab]=Tabaḍnit akked tɣellist
Name[kk]=Жекелік және қауіпсіздік
Name[ko]=개인정보 보호 및 보안
Name[lt]=Privatumas ir sauga
Name[lv]=Privātums un drošība
Name[nb]=Personvern og sikkerhet
Name[nl]=Privacy & beveiliging
Name[oc]=Vida privada e seguretat
Name[pa]=ਪਰਦੇਦਾਰੀ ਤੇ ਸੁਰੱਖਿਆ
Name[pl]=Prywatność i bezpieczeństwo
Name[pt]=Segurança e Privacidade
Name[pt_BR]=Privacidade e segurança
Name[ro]=Confidențialitate și securitate
Name[ru]=Конфиденциальность и безопасность
Name[sk]=Súkromie a bezpečnosť
Name[sl]=Zasebnost in varnost
Name[sr]=Приватност и безбедност
Name[sr@latin]=Privatnost i bezbednost
Name[sv]=Sekretess och säkerhet
Name[th]=ความเป็นส่วนตัวและความปลอดภัย
Name[tr]=Gizlilik ve Güvenlik
Name[uk]=Конфіденційність і захист
Name[zh_CN]=隐私与安全
Name[zh_TW]=隱私與安全性
Name=Privacy & Security
Comment[be]=Кіраванне доступам да абсталявання і даных, бяспека прылады
Comment[be@latin]=Kiravannie dostupam da abstalavannia i danych, biaspieka pryłady
Comment[bg]=Може да управлява достъпа до вашите данни и хардуер и сигурността на устройството
Comment[ca]=Control de l'accés al vostre maquinari, serveis i dades
Comment[cs]=Určit přístup k vašim datům a hardwaru, zabezpečení zařízení
Comment[da]=Kontrollér adgang til dine data og hardware (enhedssikkerhed)
Comment[de]=Zugriff auf Ihre Daten und die Hardware, sowie die Gerätesicherheit regeln
Comment[en_GB]=Control access to your data and hardware, device security
Comment[es]=Control de acceso al hardware y datos, seguridad del dispositivo
Comment[eu]=Kontrolatu hardwarearen eta datuen atzipena, gailuaren segurtasuna
Comment[fa]=واپایش دسترسی به سخت‌افزار و داده‌هایتان، امنیت افزاره
Comment[fi]=Hallitse pääsyä tietoihisi ja laitteistoon, laitteen suojaus
Comment[fr]=Contrôler l’accès aux données et au matériel, et la sécurité de l’appareil
Comment[fur]=Acès di control a dâts e hardware, sigurece dal dispositîf
Comment[gl]=Controlar o acceso aos seus datos e hardware, seguranza do dispositivo
Comment[he]=שליטה על הגישה למידע ולחומרה, אבטחת התקן
Comment[hi]=अपने डेटा और हार्डवेयर, उपकरण सुरक्षा तक पहुंच को नियंत्रित करें
Comment[hu]=Az adatokhoz és a hardverhez való hozzáférés szabályozása, eszközbiztonság
Comment[id]=Mengontrol akses ke data dan perangkat keras Anda, keamanan perangkat
Comment[it]=Controlla l'accesso all'hardware, ai dati e alla sicurezza del dispositivo
Comment[ka]=წვდომის კონტროლი თქვენს მონაცემებთან და აპარატურასთან, მოწყობილობის უსაფრთხოება
Comment[kk]=Сіздің деректер мен құрылғылар, құрылғы қауіпсіздігіне қол жеткізуді басқару
Comment[ko]=데이터, 하드웨어, 장치의 보안에 대한 접근 제어
Comment[lt]=Valdyti prieigą prie duomenų, aparatūros, įrenginio saugos
Comment[lv]=Kontrolējiet piekļuvi saviem datiem un aparatūrai, ierīces drošībai
Comment[nb]=Styr tilgang til data og se enhetens sikkerhetsnivå
Comment[nl]=Beheer toegang tot uw gegevens en hardware, apparaatbeveiliging
Comment[oc]=Contraròtlar l'accès a vòstras donadas e material, la seguretat del periferic
Comment[pa]=ਤੁਹਾਡੇ ਡਾਟੇ ਅਤੇ ਹਾਰਡਵੇਅਰ, ਡਿਵਾਈਸ ਸੁਰੱਖਿਆ ਲਈ ਪਹੁੰਚ ਵਾਸਤੇ ਕੰਟਰੋਲ
Comment[pl]=Sterowanie dostępem do danych i sprzętu użytkownika oraz zabezpieczeń urządzenia
Comment[pt]=Controlar o acesso aos seus dados e equipamento, e segurança dos dispositivos
Comment[pt_BR]=Controle a segurança do dispositivo restringindo o acesso aos seus dados e hardware
Comment[ro]=Controlați accesul la hardware și date, securitatea dispozitivului
Comment[ru]=Управление доступом к данным и оборудованию, безопасность устройства
Comment[sk]=Ovládať prístup k vašim údajom a hardvéru, zabezpečenie zariadenia
Comment[sl]=Upravljanje dostopa do strojne opreme, storitev in podatkov.
Comment[sr]=Контрола присупа вашим подацима и хардверу, безбедност уређаја
Comment[sr@latin]=Kontrola prisupa vašim podacima i hardveru, bezbednost uređaja
Comment[sv]=Styr åtkomst till dina data, hårdvara, enhetssäkerhet
Comment[th]=ควบคุมการเข้าถึงข้อมูลและฮาร์ดแวร์ของคุณ และความปลอดภัยของอุปกรณ์
Comment[tr]=Verilerinize, donanımınıza, aygıt güvenliğine erişimi denetleyin
Comment[uk]=Керувати доступом до ваших даних і обладнання, захист пристрою
Comment[zh_CN]=控制对数据和硬件的访问，设备安全
Comment[zh_TW]=控制對資料、硬體、裝置安全性的取用權
Comment=Control access to your data and hardware, device security
Exec=gnome-control-center privacy
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.Settings-privacy-symbolic
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Settings;DesktopSettings;X-GNOME-Settings-Panel;X-GNOME-AccountSettings;
OnlyShowIn=GNOME;
# Translators: Search terms to find the Privacy panel. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[be]=Privacy;Screen;Lock;Private;Usage;Recent;History;Files;Temporary;Tmp;Trash;Purge;Retain;Diagnostics;Crash;Location;Gps;Camera;Photos;Video;Webcam;Recording;Security;Firmware;Thunderbolt;Прыватнасць;Экран;Блакаванне;Блакіраванне;Канфідэнцыяльнасць;Канфідэнцыйнасць;Выкарыстанне;Нядаўнія;Гісторыя;Файлаў;Часовыя;Сметніца;Дыягностыка;Збой;Месцазнаходжанне;Камера;Фота;Відэа;Вэб-камера;Запіс;Бяспека;
Keywords[be@latin]=Privacy;Screen;Lock;Private;Usage;Recent;History;Files;Temporary;Tmp;Trash;Purge;Retain;Diagnostics;Crash;Location;Gps;Camera;Photos;Video;Webcam;Recording;Security;Firmware;Thunderbolt;Pryvatnasć;Ekran;Błakavannie;Błakiravannie;Kanfidencyjalnasć;Kanfidencyjnasć;Vykarystannie;Niadaŭnija;Historyja;Fajłaŭ;Časovyja;Smietnica;Dyjahnostyka;Zboj;Miescaznachodžannie;Kamiera;Fota;Videa;Veb-kamiera;Zapis;Biaspieka;
Keywords[bg]=поверителност;екран;заключване;лични;данни;скорошна история;файлове;временни;кошче;забиване;доклад;камера;фотоапарат;снимки;запис;сигурност;фълмуер;тъндърболт;privacy;screen;lock;private;usage;recent;history;files;temporary;tmp;trash;purge;retain;diagnostics;crash;location;gps;camera;photos;video;webcam;recording;security;firmware;thunderbolt;
Keywords[ca]=Privadesa;Pantalla;Bloqueig;Privat;Ús;Recent;Història;Fitxers;Temporal;Tmp;Brossa;Purga;Mantenir;Diagnòstics;Trencaments;Ubicació;GPS;Càmera;Fotos;Vídeo;Càmera web;Micròfon;Enregistrament;Seguretat;Microprogramari;Thunderbolt;
Keywords[cs]=Soukromí;Obrazovka;Uzamknout;Soukromé;Používání;Nedávné;Historie;Soubory;Dočasné;Tmp;Koš;Vyčistit;Uchovat;Diagnostika;Pád;Poloha;Gps;Fotoaparát;Fotky;Video;Webkamera;Nahrávání;Zabezpečení;Firmware;Thunderbolt;
Keywords[da]=Privatliv;Skærm;Lås;Privat;Brug;Seneste;Historik;Filer;Midlertidig;Tmp;Papirkurv;Udrens;Behold;Diagnostik;Nedbrud;Placering;GPS;Kamera;Fotos;Billeder;Video;Webcam;Optagelse;Sikkerhed;Firmware;Thunderbolt;
Keywords[de]=Datenschutz;Bildschirm;sperren;privat;Verwendung;kürzlich;Verlauf;Dateien;temporär;Tmp;Papierkorb;bereinigen;behalten;Diagnosen;Absturz;Ort;GPS;Kamera;Fotos;Video;Webcam;Mikrofon;aufnehmen;Sicherheit;Firmware;Thunderbolt;
Keywords[en_GB]=Privacy;Screen;Lock;Private;Usage;Recent;History;Files;Temporary;Tmp;Trash;Wastebasket;Purge;Retain;Diagnostics;Crash;Location;Gps;Camera;Photos;Video;Webcam;Recording;Security;Firmware;Thunderbolt;
Keywords[es]=Privacidad;Pantalla;Bloqueo;Privado;Uso;Reciente;Histórico;Archivos;Temporales;Tmp;Papelera;Limpiar;Conservar;Diagnósticos;Error;Ubicación;Gps;Cámara;Fotos;Vídeo;Webcam;Micrófono;Grabación;Seguridad;Firmware;Thunderbolt;
Keywords[eu]=pribatutasuna;pantaila;blokeoa;pribatua;erabilera;azkena;historia;fitxategiak;behin-behinekoa;tmp;zakarrontzia;kendu betiko;eutsi;diagnostikoa;kraskadura;kokapena;GPS;kamera;argazkiak;bideoa;web-kamera;grabazioa;segurtasuna;firmwarea;Thunderbolt;
Keywords[fa]=Privacy;Screen;Lock;Private;Usage;Recent;History;Files;Temporary;Tmp;Trash;Purge;Retain;Diagnostics;Crash;Location;Gps;Camera;Photos;Video;Webcam;Recording;Security;Firmware;Thunderbolt;محرمانگی;صفحه;قفل;خصوصی;شخصی;استفاده;اخیر;تازه;موقت;زباله;آشغال;فروپاشی;مکان;دوربین;عکس;ویدیو;وبکم;میکروفون;ضبط;امنیت;ثابت‌افزار;تاندربولت;
Keywords[fi]=Privacy;Screen;Lock;Private;Usage;Recent;History;Files;Temporary;Tmp;Trash;Purge;Retain;Diagnostics;Crash;Location;Gps;Camera;Photos;Video;Webcam;Recording;Security;Firmware;Thunderbolt;yksityisyys;tietosuoja;näyttö;historia;viimeisimmät;väliaikaiset;roskakori;diagnostiikka;sijainti;kamera;kuvat;web-kamera;nauhoittaminen;tietoturva;turvallisuus;laiteohjelmisto;
Keywords[fr]=vie privée;écran;verrouillage;utilisation;récent;historique;fichiers;temporaires;tmp;corbeille;purger;retenir;diagnostiques;crash;plantage;emplacement;gps;caméra;photos;vidéos;webcam;enregistrement;sécurité;micro-logiciel;micro-programme;thunderbolt;
Keywords[fur]=Riservatece;Schermi;Bloc;Privât;Utilizazion;Resint;Cronologjie;Files;Temporani;Tmp;Scovacere;Netâ;Conservâ;Diagnostiche;Colàs;Posizion;GPS;Fotocjamare;Fotos;Video;Webcam;Microfon;Regjistrazion;Sigurece;Firmware;Thunderbolt;
Keywords[gl]=Privacidade;Pantalla;Bloqueo;Privado;Uso;Recente;Historial;Ficheiros;Temporal;Tmp;Lixo;Purgar;Conservar;Diagnóstico;Fallo;Localización;GPS;Cámara;Fotos;Vídeo;Cámara web;Gravación;Seguridade;Firmware;Thunderbolt;
Keywords[he]=פרטיות;פרטי;מסך;נעילה;שימוש;לאחרונה;אחרון;אחרונים;היטוריה;קבצים;קובץ;זמני;זמניים;אשפה;ניקוי;פינוי;לשמור;שמירה;להחזיק;החזקה;אבחון;דיאגנוסטיקה;ניתוח;קריסה;מקום;מיקום;GPS; מצלמה;תמונות;סרטים;סרטונים;וידאו;מצלמת רשת;מצלמת אינטרנט;מיקרופון;הקלטה;אבטחה;קשחה;קושחה;Thunderbolt;
Keywords[hi]=गोपनीयता;स्क्रीन;लॉक;निजी;प्रयोग;हालिया;इतिहास;फाइलें;अस्थायी;कचरा;रद्दी;पर्ज;बनाए रखें;निदान;दुर्घटना;स्थान;GPS;कैमरा;फोटो;वीडियो;वेबकैम;रिकॉर्डिंग;सुरक्षा;फर्मवेयर;थंडरबोल्ट;
Keywords[hu]=Adatvédelem;Képernyő;Zárolás;Személyes;Használat;Legutóbbi;Előzmények;Fájlok;Átmeneti;Ideiglenes;Tmp;Kuka;Törlés;Megtartás;Diagnosztika;Összeomlás;Hely;Gps;Kamera;Fényképek;Videó;Webkamera;Felvétel;Rögzítés;Biztonság;Firmware;Belső vezérlőprogram;Thunderbolt;
Keywords[id]=Privasi;Layar;Kunci;Pribadi;Penggunaan;Baru-baru ini;Riwayat;Berkas;Sementara;Tmp;Sampah;Bersihkan;Simpan;Diagnostik;Kecelakaan;Lokasi;Gps;Kamera;Foto;Video;Kamera Web;Perekaman;Keamanan;Perangkat Tegar;Firmware;Thunderbolt;
Keywords[it]=Privacy;Schermo;Blocco;Blocca;Privato;Privata;Uso;Recenti;Cronologia;File;Temporanei;Tmp;Cestino;Svuota;Mantieni;Diagnostica;Crash;Localizzazione;Gps;Camera;Foto;Video;Webcam;Microfono;Registrazione;Sicurezza;Firmware;Thunderbolt;
Keywords[ka]=Privacy;Screen;Lock;Private;Usage;Recent;History;Files;Temporary;Tmp;Trash;Purge;Retain;Diagnostics;Crash;Location;Gps;Camera;Photos;Video;Webcam;Recording;Security;Firmware;Thunderbolt;კონფიდენციალობა;დაბლოკვა;ისტორია;დროებითი;ფაილები;ავარია;მდებარეობა;კამერა;სურათები;ვიდეო;ჩაწერა;უსაფრთხოება;მიკროკოდი;
Keywords[kk]=Privacy;Screen;Lock;Private;Usage;Recent;History;Files;Temporary;Tmp;Trash;Purge;Retain;Diagnostics;Crash;Location;Gps;Camera;Photos;Video;Webcam;Recording;Security;Firmware;Thunderbolt;жекелік;Экран;Блоктау;Жеке;Қолдану;Жуырдағы;Тарих;Файлдар;Уақытша;Қоқыс шелегі;Тазарту;Диагностика;Құлау;Орналасу;Камера;Фото;Видео;Веб-камера;Микрофон;Жазып отыру;Қауіпсіздік;Бинарлы кодтар;
Keywords[ko]=Privacy;사생활;Screen;화면;Lock;잠금;Private;개인;Usage;사용;Recent;최근;History;Files;파일;Temporary;임시;Tmp;Trash;휴지통;Purge;비우기;Retain;유지;Diagnostics;진단;Crash;크래시;Location;위치;Gps;Camera;카메라;Photos;사진;Video;비디오;동영상;Webcam;웹캠;Recording;녹화;Security;보안;Firmware;펌웨어;Thunderbolt;썬더볼트;
Keywords[lt]=Privatumas;Ekranas;Rakinimas;Privatus;Naudojimas;Neseni;Istorija;Failai;Laikini;Tmp;Šiukšlinė;Valyti;Palikti;Diagnostika;Lūžimas;Vietovė;Gps;Kamera;Nuotraukos;Vaizdo įrašas;Internetinė kamera;Įrašymas;Sauga;Saugumas;Aparatinė;Thunderbolt;
Keywords[lv]=Privātums;Ekrāns;Bloķēt;Privāts;Lietojums;Nesens;Vēsture;Datnes;Pagaidu;Miskaste;Attīrīt;Paturēt;Diagnostika;Avārija;Vieta;Atrašanās;Gps;Kamera;Fotogrāfija;Video;Tīmekļa kamera;Mikrofons;Drošība;Aparātprogrammatūra;Thunderbolt;
Keywords[nb]=Personvern;Skjerm;Lås;Privat;Filhistorikk;Fillogg;Papirkurv;Midlertidige;Tmp;Søppel;Sikkerhet;Beskyttelse;Antivirus;Kamera;Gps;Posisjon;Lokasjon;Sted;Tillatelser;Tilgang;Opptak;Fastvare;Thunderbolt;Kræsj;Diagnostikk;Telemetri;
Keywords[nl]=Privacy;Screen;Lock;Private;Usage;Recent;History;Files;Temporary;Tmp;Trash;Purge;Retain;Diagnostics;Crash;Location;Gps;Camera;Photos;Video;Webcam;Recording;Security;Firmware;Thunderbolt;Scherm;vergrendelen;privé;privaat;gebruik;geschiedenis;historiek;bestanden;tijdelijk;prullenbak;verwijderen;legen;behouden;diagnostische gegevens;diagnostiek;bevindingen;vastlopen;locatie;positie;foto's;foto’s;fotos;opname;opnemen;beveiliging;veiligheid;
Keywords[oc]=Vida privada;ecran;verrolhar;privat;usatge;recent;istoric;fichièrs;temporari;tmp;escobilhièr;purgar;gardar;diagnostic;localizacion;gps;camèra;fòto;vidèo;webcam;enregistrament;seguretat;micrologicial;firmware;thunderbolt;
Keywords[pa]=ਪਰਦੇਦਾਰੀ;ਪਰਾਈਵੇਸੀ;ਸਕਰੀਨ;ਸਕ੍ਰੀਨ;ਲਾਕ;ਤਾਲਾ;ਪ੍ਰਾਈਵੇਟ;ਨਿੱਜੀ;ਵਰਤੋਂ;ਇਸਤੇਮਾਲ;ਤਾਜ਼ਾ;ਹਾਲੀਆ;ਸੱਜਰਾ;ਅਤੀਤ;ਹਿਸਟਰੀ;ਫ਼ਾਇਲਾਂ;ਫ਼ਾਈਲਾਂ;ਆਰਜ਼ੀ;ਕੱਚਾ;ਰੱਦੀ;ਬੇਕਾਰ;ਖਾਲੀ;ਜਾਂਚ;ਪੜਤਾਲ;ਟਿਕਾਣਾ;ਨਸ਼ਟ;ਜੀਪੀਐਸ;ਕੈਮਰਾ;ਫ਼ੋਟੋ;ਤਸਵੀਰਾਂ;ਵੀਡੀਓ;ਵਿਡੀਓ;ਵੈਬਕੈਮ;ਰਿਕਾਰਡਿੰਗ;ਰਿਕਾਰਡ ਕਰਨਾ;ਸੁਰੱਖਿਆ;ਫ਼ਿਰਮਵੇਅਰ;ਥੰਡਰਬੋਲਟ;ਰੱਖਣਾ;ਸੰਭਾਲਣਾ;
Keywords[pl]=Prywatność;Ekran;Blokada;Zablokuj;Prywatne;Użycie;Używane;Ostatnie;Ostatnio;Historia;Pliki;Plików;Tymczasowe;Tmp;Kosz;Śmietnik;Czyszczenie;Wyczyść;Przeczyść;Usuwanie;Usuń;Kasowanie;Skasuj;Kasuj;Zachowywanie;Zachowaj;Diagnostyka;Awaria;Awarie;Crash;Krasz;Kresz;Położenie;geograficzne;Miejsce;Lokalizacja;Lokacja;Geolokalizacja;GPS;GNSS;GLONASS;Galileo;IRNSS;BDS;BeiDou;GeoClue;geocode;Aparat;Kamera;Zdjęcia;Fotografie;Filmy;Wideo;Video;Nagrania;Kamerka;Webcam;Łebkam;Nagrywanie;Nagraj;Zabezpieczenia;Bezpieczeństwo;Oprogramowanie sprzętowe;Firmware;Firmłer;Thunderbolt;
Keywords[pt]=Privacidade;Ecrã;Bloqueio;Privado;Utilização;Recente;Histórico;Ficheiros;Temporários;Tmp;Lixo;Eliminar;Reter;Diagnóstico;Falha;Localização;Gps;Câmara;Fotos;Vídeo;Webcam;Microfone;Gravação;Segurança;Firmware;Thunderbolt;
Keywords[pt_BR]=Privacidade;Tela;Bloquear;Privado;Uso;Recente;Histórico;Arquivos;Temporário;Tmp;Lixo;Purgar;Reter;Diagnóstico;Falha;Localização;Gps;Câmera;Fotos;Vídeo;Webcam;Gravação;Segurança;Firmware;Thunderbolt;
Keywords[ro]=Privacy;Screen;Lock;Private;Usage;Recent;History;Files;Temporary;Tmp;Trash;Purge;Retain;Diagnostics;Crash;Location;Gps;Camera;Photos;Video;Webcam;Recording;Security;Firmware;Thunderbolt;Confidențialitate;Ecran;Blocare;Privat;Utilizare;Recente;Istoric;Fișiere;Temporar;Gunoi;Epurare;Reține;Diagnostice;Prăbușire;Locație;Cameră;Fotografii;Cameră web;Înregistrare;Securitate;
Keywords[ru]=Privacy;Screen;Lock;Private;Usage;Recent;History;Files;Temporary;Tmp;Trash;Purge;Retain;Diagnostics;Crash;Location;Gps;Camera;Photos;Video;Webcam;Recording;Security;Firmware;Thunderbolt;Конфиденциальность;Блокировка;Экран;История;Файлы;Корзина;Диагностика;Местоположение;Камера;Фото;Видео;Веб-камера;Запись;Безопастность;Прошивка;
Keywords[sk]=Súkromie;Obrazovka;Zamknúť;Súrkomné;Používanie;Nedávne;História;Súbory;Dočasné;Tmp;Kôš;Vyčistiť;Ponechať;Diagnostika;Pád;Poloha;GPS;Fotoaparát;Fotky;Video;Webkamera;Nahrávanie;Zabezpečenie;Firmvér;Thunderbolt;
Keywords[sl]=Zasebnost;Zaklepanje zaslona;Zasebno;Uporaba;Nedavna;Zgodovina;Datoteke;Začasno;Tmp;Koš;Smeti;Čiščenje;Ohraniti;Diagnostika;Zlom;Lokacija;GPS;Kamera;Fotografije;Fotoaparat;Video;Spletna kamera;Mikrofon;Snemanje;Varnost;Firmware;Thunderbolt;Strojna oprema;Privacy;Screen;Lock;Private;Usage;Recent;History;Files;Temporary;Tmp;Trash;Purge;Retain;Diagnostics;Crash;Location;Gps;Camera;Photos;Video;Webcam;Recording;Security;Firmware;Thunderbolt;
Keywords[sr]=Privacy;Screen;Lock;Private;Usage;Recent;History;Files;Temporary;Tmp;Trash;Purge;Retain;Diagnostics;Crash;Location;Gps;Camera;Photos;Video;Webcam;Recording;Security;Firmware;Thunderbolt;приватност;екран;закључавање;приватно;коришћење;скорашње;историјат;датотеке;привремено;смеће;чишћење;дијагностика;пад;отказивање;локација;место;гпс;камера;фото;видео;вебкамера;снимање;фирмвер;тандерболт;privatnost;ekran;zaključavanje;privatno;korišćenje;skorašnje;istorijat;datoteke;privremeno;smeće;čišćenje;dijagnostika;pad;otkazivanje;lokacija;mesto;gps;kamera;foto;video;vebkamera;snimanje;firmver;tanderbolt;
Keywords[sr@latin]=Privacy;Screen;Lock;Private;Usage;Recent;History;Files;Temporary;Tmp;Trash;Purge;Retain;Diagnostics;Crash;Location;Gps;Camera;Photos;Video;Webcam;Recording;Security;Firmware;Thunderbolt;privatnost;ekran;zaključavanje;privatno;korišćenje;skorašnje;istorijat;datoteke;privremeno;smeće;čišćenje;dijagnostika;pad;otkazivanje;lokacija;mesto;gps;kamera;foto;video;vebkamera;snimanje;firmver;tanderbolt;privatnost;ekran;zaključavanje;privatno;korišćenje;skorašnje;istorijat;datoteke;privremeno;smeće;čišćenje;dijagnostika;pad;otkazivanje;lokacija;mesto;gps;kamera;foto;video;vebkamera;snimanje;firmver;tanderbolt;
Keywords[sv]=Sekretess;Skärm;Lås;Privat;Användning;Senaste;Historik;Filer;Tillfällig;Tmp;Papperskorg;Töm;Behåll;Diagnostik;Krasch;Plats;Gps;Kamera;Foton;Video;Webbkamera;Inspelning;Säkerhet;Fast programvara;Firmware;Thunderbolt;
Keywords[tr]=Privacy;Screen;Lock;Private;Usage;Recent;History;Files;Temporary;Tmp;Trash;Purge;Retain;Diagnostics;Crash;Location;Gps;Camera;Photos;Video;Webcam;Recording;Security;Firmware;Thunderbolt;Güvenlik;Ekran;Kilit;Özel;Kullanım;Son;Geçmiş;Dosyalar;Geçici;Temizle;Kaldır;Yer Kazan;Tanıla;Çökme;Konum;Kamera;Fotoğraflar;Video;Kayıt;Güvenlik;Donanım Yazılımı;
Keywords[uk]=Privacy;Screen;Lock;Private;Usage;Recent;History;Files;Temporary;Tmp;Trash;Purge;Retain;Diagnostics;Crash;Location;Gps;Camera;Photos;Video;Webcam;Recording;Security;Firmware;Thunderbolt;конфіденційність;екран;блокування;приватний;користування;нещодавні;недавні;журнал;файли;тимчасові;смітник;кошик;спорожнити;очистити;зберегти;діагностика;аварія;місце;перебування;камера;фотоапарат;фотографії;світлини;відео;вебкамера;запис;записування;безпека;мікропрограма;тандерболт;
Keywords[zh_CN]=Privacy;Screen;Lock;Private;Usage;Recent;History;Files;Temporary;Tmp;Trash;Purge;Retain;Diagnostics;Crash;Location;Gps;Camera;Photos;Video;Webcam;Recording;Security;Firmware;Thunderbolt;隐私;屏幕;锁定;锁屏;占用;最近;历史;文件;临时;回收站;清除;清理;保留;诊断;崩溃;位置;定位;摄像头;相机;照片;视频;录制;录音;录屏;安全;固件;雷电;
Keywords[zh_TW]=Privacy;Screen;Lock;Private;Usage;Recent;History;Files;Temporary;Tmp;Trash;Purge;Retain;Diagnostics;Crash;Location;Gps;Camera;Photos;Video;Webcam;Recording;Security;Firmware;Thunderbolt;隱私;螢幕;鎖定;私人;用量;最近;歷史紀錄;檔案;臨時;暫存;垃圾桶;清除;保留;診斷;崩潰;位置;定位;GPS;相機;攝影機;照片;影片;視訊;網路鏡頭;攝像頭;錄音;錄影;安全;韌體;
Keywords=Privacy;Screen;Lock;Private;Usage;Recent;History;Files;Temporary;Tmp;Trash;Purge;Retain;Diagnostics;Crash;Location;Gps;Camera;Photos;Video;Webcam;Recording;Security;Firmware;Thunderbolt;
