[Desktop Entry]
Name[be]=Спецыяльныя магчымасці
Name[be@latin]=Spiecyjalnyja mahčymasci
Name[bg]=Универсален достъп
Name[bn_IN]=অভিগম্যতা
Name[ca]=Accessibilitat
Name[cs]=Přístupnost
Name[da]=Tilgængelighed
Name[de]=Barrierefreiheit
Name[dz]=འཛུལ་སྤྱོད
Name[el]=Προσβασιμότητα
Name[en_GB]=Accessibility
Name[en@shaw]=𐑨𐑒𐑕𐑧𐑕𐑩𐑚𐑦𐑤𐑦𐑑𐑰
Name[eo]=Alirebleco
Name[es]=Accesibilidad
Name[eu]=Erabilerraztasuna
Name[fa]=دسترسی‌پذیری
Name[fi]=Esteettömyys
Name[fo]=Atkomiligheit
Name[fr]=Accessibilité
Name[fur]=Acès facilitât
Name[gl]=Accesibilidade
Name[he]=נגישות
Name[hi]=अभिगम्यता
Name[hr]=Pristupačnost
Name[hu]=Akadálymentesítés
Name[hy]=Հասանելիություն
Name[id]=Aksesibilitas
Name[ie]=Accessibilitá
Name[is]=Aukið aðgengi
Name[it]=Accessibilità
Name[ja]=アクセシビリティ
Name[ka]=_დამხმარე საშუალებები
Name[kab]=Tuffart
Name[kk]=Қолжетімділік
Name[ko]=접근성
Name[lt]=Prieiga
Name[lv]=Piekļūstamība
Name[mai]=अभिगम्यता
Name[my]=ကူညီထောက်ပံ့မှု
Name[nb]=Tilgjengelighet
Name[nds]=Togangelikheit
Name[ne]=पहुँचता
Name[nl]=Toegankelijkheid
Name[oc]=Accessibilitat
Name[pa]=ਅਸੈੱਸਬਿਲਟੀ
Name[pl]=Ułatwienia dostępu
Name[pt]=Acessibilidade
Name[pt_BR]=Acessibilidade
Name[ro]=Accesibilitate
Name[ru]=Специальные возможности
Name[si]=පිවිසුම් හැකියාව
Name[sk]=Zjednodušenie ovládania
Name[sl]=Dostopnost
Name[sq]=Përdorshmëria
Name[sr]=Приступачност
Name[sr@latin]=Pristupačnost
Name[sv]=Hjälpmedel
Name[th]=สิ่งอำนวยความสะดวก
Name[tr]=Erişilebilirlik
Name[uk]=Доступність
Name[vi]=Truy cập
Name[zh_CN]=无障碍
Name[zh_TW]=無障礙輔助
Name=Accessibility
Comment[af]=Maak sien, hoor, tik, wys en klik makliker
Comment[an]=Fer mas sencillo de veyer, escuitar, escribir y apuntar y pretar
Comment[ar]=اجعل الرؤية و السماع و الكتابة و المؤشر أسهل
Comment[as]=চোৱা, শুনা, টাইপ কৰা, পোইন্ট আৰু ক্লিক কৰাটো সহজ কৰক
Comment[be]=Дапамога для зроку і слыху; спрашчэнне ўводу, навядзення ўказальніка, націскання мышшу
Comment[be@latin]=Dapamoha dla zroku i słychu; spraščennie ŭvodu, naviadziennia ŭkazalnika, naciskannia myššu
Comment[bg]=По-лесно да се вижда, чува, въвежда текст, посочват и натискат обекти
Comment[bn_IN]=এটিকে দেখা, শোনা, ধরন, পয়েন্ট এবং ক্লিক করা সহজতর করুন
Comment[bs]=Omogući lakši pregled,zvuk,tip,usmjeri i klikni
Comment[ca]=Feu més fàcil veure, sentir, teclejar, apuntar i fer clic
Comment[ca@valencia]=Feu més fàcil veure, escoltar, teclejar, apuntar i fer clic
Comment[ckb]=وای لێبکە ئاسان ببینرێت، ببیسترێت، بنوسرێت، خاڵ و کرتە
Comment[cs]=Usnadněte si čtení, poslech, psaní, klikání a další činnosti
Comment[da]=Gør det nemmere at se, høre, skrive, pege og klikke
Comment[de]=Sehen, Hören, Tastatur benutzen, Zeigen und Klicken erleichtern
Comment[el]=Κάντε πιο εύκολη την προβολή, την ακρόαση, την πληκτρολόγηση, την κατάδειξη και το κλικ
Comment[en_GB]=Make it easier to see, hear, type, point and click
Comment[eo]=Fari ĝin pli facila por vidi, aŭdi, tajpi, fingromontri kaj alklaki
Comment[es]=Hacer más sencillo de ver, escuchar, escribir y apuntar y pulsar
Comment[et]=Nägemise, kuulmise, sisestamise ning klõpsamise lihtsustamine
Comment[eu]=Erraztu ikustea, entzutea, idaztea, saguarekin kokatzea eta klik egitea
Comment[fa]=ساده‌تر کردن دیدن، شنیدن، نوشتن، نشانه‌روی و کلیک
Comment[fi]=Helpota näkemistä, kuulemista, kirjoittamista ja hiiren käyttöä
Comment[fo]=Ger tað lættari at síggja, hoyra, skriva, peika og klikkja
Comment[fr]=Faciliter la vision, l’écoute, la saisie, la sélection et le clic
Comment[fur]=Al fâs diventâ plui facil viodi, sintî, digjitâ e fâ clic
Comment[gd]=Dèan nas fhasa e rudan fhaicinn, a chluinntinn, a sgrìobhadh, a thomhadh ’s a bhriogadh
Comment[gl]=Faga máis doado ver, escoitar, escribir, apuntar e clicar
Comment[gu]=તેને જોવા, સાંભળવા, ટાઇપ, નિર્દેશિત અને ક્લિક કરવાનું સરળ બનાવો
Comment[he]=להקל ראייה, שמיעה, הקלדה, הצבעה ולחיצה
Comment[hi]=देखना, सुनना, टाइप, इंगित और क्लिक करना आसान बनाएं
Comment[hr]=Make it easier to see, hear, type, point and click
Comment[hu]=A látás, hallás, gépelés, mutatás és kattintás egyszerűbbé tétele
Comment[id]=Membuat lebih mudah untuk melihat, mendengar, mengetik, menunjuk, dan mengklik
Comment[is]=Gerir auðveldara að sjá, heyra, slá inn, benda og smella
Comment[it]=Rende più semplice vedere, ascoltare, digitare e fare clic
Comment[ja]=見る、聞く、タイピング、クリック操作など、コンピューターを簡単に使えるようにします
Comment[ka]=დანახვის, გაგების, აკრეფის, კურსორის მიტანის და დაწკაპუნების გაადვილება
Comment[kk]=Көру, есту, теру, көрсету және шертуді жеңілдету
Comment[kn]=ನೋಡಲು, ಕೇಳಲು, ಬರೆಯಲು, ತೋರಿಸಲು ಮತ್ತು ಕ್ಲಿಕ್ ಮಾಡಲು ಸುಲಭಗೊಳಿಸು
Comment[ko]=보기, 듣기, 타이핑, 누르기 편의 사항
Comment[lt]=Padarykite matymą, išgirdimą, rašymą, rodymą ir spaudimą paprastesnį
Comment[lv]=Padarīt vienkāršāku redzēšanu, dzirdēšanu, rakstīšanu un klikšķināšanu
Comment[ml]=കാഴ്ച്ച, കേൾവി, മുദ്രണം, പോയിന്റ്, ക്ലിക്ക് എന്നിവ മെച്ചപെടുത്തുക
Comment[mr]=अवलोकन, ऐकणे, टाइप, पॉइंट आणि क्लिककरिता सोपे करा
Comment[ms]=Jadikannya mudah dilihat, didengar, ditaip, tuju dan diklik
Comment[my]=မြင်ရ၊ကြားရ၊ရေးရ၊ညွှန်ပြရ၊နှိပ်ရ လွယ်စေသည်။
Comment[nb]=Gjør det lettere å se, høre, skrive, peke og trykke
Comment[ne]=हर्न, सुन्न, टाईप, देखाउन र क्लिक गर्न सहज बनाउनुहोस्
Comment[nl]=Zien, horen, typen, aanwijzen en klikken vergemakkelijken
Comment[oc]=Facilitar la vision, l'escota, la picada, la seleccion e lo clic
Comment[or]=ଏହାକୁ ଦେଖିବା, ଶୁଣିବା, ଲେଖିବା, ଦର୍ଶାଇବା ଏବଂ କ୍ଲିକ କରିବା ପାଇଁ ସହଜମୟ କରନ୍ତୁ
Comment[pa]=ਵੇਖਣਾ, ਸੁਣਨਾ, ਲਿਖਣਾ, ਪੁਆਇੰਟ ਤੇ ਕਲਿੱਕ ਕਰਨਾ ਸੌਖਾ ਬਣਾਓ
Comment[pl]=Ułatwienia widzenia, słyszenia, pisania oraz wskazywania i klikania
Comment[pt]=Tornar mais simples ver, ouvir, escrever, apontar e clicar
Comment[pt_BR]=Torna mais fácil ver, ouvir, digitar, apontar e clicar
Comment[ro]=Facilitează vederea, auzul, tastatul, mutatul mausului și apăsarea clicului
Comment[ru]=Упрощение ввода, наведения и нажатия, а также улучшение видимости и слышимости
Comment[sk]=Uľahčuje videnie, písanie, počúvanie, ukazovanie a klikanie
Comment[sl]=Naj bo enostavnejše videti, slišati, tipkati, kazati in klikati
Comment[sr]=Олакшајте посматрање, слушање, куцање, указивање и кликање
Comment[sr@latin]=Olakšajte posmatranje, slušanje, kucanje, ukazivanje i klikanje
Comment[sv]=Gör det enklare att se, höra, skriva, peka och klicka
Comment[ta]=பார்ப்பது, கேட்பது, தட்டச்சு செய்வது, சுட்டுவது மற்றும் சொடுக்குவது அனைத்தையும் எளிதாக்கவும்
Comment[te]=చూడుటకు, వినుటకు, టైపునకు, సూచించుటకు మరియు నొక్కుటకు దీనిని సులభతరం చేయి
Comment[tg]=Осон кардани дидан, шунидан, нуқта гузоштан ва зер кардан
Comment[th]=ทำให้ง่ายต่อการเห็น, ได้ยิน, พิมพ์, ชี้ และคลิก
Comment[tr]=Görme, duyma, yazma, işaretleme ve tıklamayı kolaylaştır
Comment[uk]=Полегшує читання, слухання, набирання, наведення і натискання
Comment[vi]=Làm cho việc xem, nghe, gõ, di và bấm chuột trở nên dễ dàng hơn
Comment[zh_CN]=辅助视觉、听觉、打字和指点操作
Comment[zh_HK]=讓電腦更容易看、聽、輸入、指向與點選
Comment[zh_TW]=讓您的電腦更容易閱覽、聆聽、輸入、指向與點擊
Comment=Make it easier to see, hear, type, point and click
Exec=gnome-control-center universal-access
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.Settings-accessibility-symbolic
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Settings;X-GNOME-Settings-Panel;X-GNOME-DetailsSettings;
OnlyShowIn=GNOME;Unity;
# Translators: Search terms to find the Accessibility panel. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[be]=Keyboard;Mouse;a11y;Accessibility;Universal;Access;Contrast;Cursor;Sound;Zoom;Screen;Reader;big;high;large;text;font;size;AccessX;Sticky;Keys;Slow;Bounce;Mouse;Double;click;Delay;Speed;Assist;Repeat;Blink;Pointer;find;locate;visual;hearing;audio;typing;animations;Клавіятура;Мыш;a11y;Спецыяльныя магчымасці;Універсальны доступ;Кантраснасць;Указальнік;Гук;Маштабаванне;Экран;Буйны;Вялікі;шрыфт;памер;Ліпкія;клавішы;Павольныя;Пругкія;Кіраванне ўказальнікам;Падвойнае;націсканне;Затрымка;Хуткасць;Дапамога;Паўтарэнне;Паўтор;Мільганне;Знайсці ўказальнік;візуальныя;сігналы;слых;аўдыя;увод;друк;анімацыі;
Keywords[be@latin]=Keyboard;Mouse;a11y;Accessibility;Universal;Access;Contrast;Cursor;Sound;Zoom;Screen;Reader;big;high;large;text;font;size;AccessX;Sticky;Keys;Slow;Bounce;Mouse;Double;click;Delay;Speed;Assist;Repeat;Blink;Pointer;find;locate;visual;hearing;audio;typing;animations;Kłavijatura;Myš;a11y;Spiecyjalnyja mahčymasci;Univiersalny dostup;Kantrasnasć;Ukazalnik;Huk;Maštabavannie;Ekran;Bujny;Vialiki;šryft;pamier;Lipkija;kłavišy;Pavolnyja;Pruhkija;Kiravannie ŭkazalnikam;Padvojnaje;naciskannie;Zatrymka;Chutkasć;Dapamoha;Paŭtarennie;Paŭtor;Milhannie;Znajsci ŭkazalnik;vizualnyja;sihnały;słych;aŭdyja;uvod;druk;animacyi;
Keywords[bg]=клавиатура;мишка;достъпност;универсален;достъп;контраст;курсор;показалец;звук;увеличение;мащаб;четец;голям;едър;екран;текст;шрифт;размер;лепкави;бавни;подскачащи;клавиши;бутони;мишка;двойно;натискане;забавяне;скорост;повтаряне;мигане;слух;аудио;набиране;анимации;слух;писане;анимации;търсене;keyboard;mouse;a11y;accessibility;universal access;contrast;cursor;sound;zoom;screen;reader;big;high;large;text;font;size;accessx;sticky;keys;slow;bounce;mouse;double;click;delay;speed;assist;repeat;blink;pointer;find;locate;visual;hearing;audio;typing;animations;
Keywords[ca]=Teclat;ratolí;a11y;accessibilitat;accés universal;contrast;cursor;so;zoom;pantalla;lector;gran;alt;ample;text;tipus de lletra;mida;AccessX;adhesiu;-tecles;lent;rebot;ratolí;doble;clic;retard;velocitat;assistència;repetició;parpelleig;punter;cercar;ubicar;visual-;audició;àudio;escriptura;animacions;
Keywords[cs]=klávesnice;myš;a11y;přístupnost;zpřístupnění;univerzální;přístup;kontrast;kurzor;zvuk;přiblížení;zvětšení;čtečka obrazovky;čtení obrazovky;text;velký;obrovský;písmo;font;velikost;přístup;zpřístupnění;kombinace kláves jedním prstem;pomalé klávesy;vícenásobná zmáčknutí kláves;klávesnice myší;dvojitý;klik;kliknutí;klepnutí;poklepání;prodleva;rychlost;asistent;opakování;blikání;blikat;ukazatel;najít;lokalizovat;poruchy;handicap;vidění;sluch;psaní;animace;
Keywords[da]=Tastatur;Mus;a11y;Tilgængelighed;Universel;Adgang;Kontrast;Cursor;Markør;Lyd;Zoom;Skærm;Skærmoplæser;stor;høj;Oplæser;tekst;skrifttype;størrelse;AccessX;Klæbetaster;Taster;Langsom;Rystetaster;Ryste;Mus;Musetaster;Dobbelt;klik;Ventetid;Forsinkelse;Ventetid;Hastighed;Hjælp;Gentag;Blink;markør;find;lokaliser;visuel;synlig;syn;høre;hørelse;indtastning;animationer;
Keywords[de]=Keyboard;Mouse;a11y;Accessibility;Universal;Access;Contrast;Cursor;Sound;Zoom;Screen;Reader;big;high;large;text;font;size;AccessX;Sticky;Keys;Slow;Bounce;Mouse;Double;click;Delay;Speed;Assist;Repeat;Blink;Pointer;find;locate;visual;hearing;audio;typing;animations;Tastatur;Maus;Cursor;Barrierefreiheit;Kontrast;Zeiger;Klang;Ton;Audio;Zoom;Vergrößern;Bildschirm;Bildschirmleser;groß;Text;Schrift;Größe;AccessX;Klebrige Tasten;Tasten;Langsam;Springende Tasten;Tastaturmaus;Doppelklick;Klick;Verzögerung;Geschwindigkeit;Assistent;Wiederholen;Blinken;finden;visuell;Hören;Audio;Tippen;Eingabe;Animationen;Einrastfunktion;
Keywords[en_GB]=Keyboard;Mouse;a11y;Accessibility;Universal;Access;Contrast;Cursor;Sound;Zoom;Screen;Reader;big;high;large;text;font;size;AccessX;Sticky;Keys;Slow;Bounce;Mouse;Double;click;Delay;Speed;Assist;Repeat;Blink;Pointer;find;locate;visual;hearing;audio;typing;animations;
Keywords[es]=Teclado;Ratón;a11y;Accesibilidad;Acceso universal;Contraste;Cursor;Sonido;Ampliación;Pantalla;Lector;grande;alto;texto;tipografía;tamaño;AccesoX;persistentes;teclas;rechazo;ratón;doble;pulsación;retardo;velocidad;asistente;repetir;parpadeo;puntero;buscar;visual;audición;escritura;animaciones;
Keywords[eu]=Teklatua;Sagua;a11y;Irisgarritasuna;Irisgarritasuna;Unibertsala;Kontrastea;Kurtsorea;Soinua;Zooma;Pantaila;Irakurgailua;handia;altua;handia;testua;letra-tipoa;tamaina;AccessX;Itsaskorra;Teklak;Geldoa;Errebotea;Sagua;Bikoitza;klik;Atzerapena;Abiadura;Lagundu;Errepikatu;Keinua;erakuslea;aurkitu;kokatu;bisuala;entzumena;audioa;idazketa;animazioak;
Keywords[fa]=Keyboard;Mouse;a11y;Accessibility;Universal;Access;Contrast;Cursor;Sound;Zoom;Screen;Reader;big;high;large;text;font;size;AccessX;Sticky;Keys;Slow;Bounce;Mouse;Double;click;Delay;Speed;Assist;Repeat;Blink;Pointer;find;locate;visual;hearing;audio;typing;animations;صفحه‌کلید;موشی;دسترسی‌پذیری;سایه;روشن;نشانگر;صدا;بزرگ‌نمایی;صفحه;متن;قلم;اندازه;کلیدهای چسبان;کلیدهای آرام;کلیدهای پرشی;کلیدهای موشی;چشمک;نشانگر;یافتن;پیدا;سرعت;بینایی;شنوایی;صدا;تایپ;نوشتن;پویانمای‌ها;انیمیشن‌ه
Keywords[fi]=Keyboard;Mouse;a11y;Accessibility;Universal;Access;Contrast;Cursor;Sound;Zoom;Screen;Reader;big;high;large;text;font;size;AccessX;Sticky;Keys;Slow;Bounce;Mouse;Double;click;Delay;Speed;Assist;Repeat;Blink;Pointer;find;locate;visual;hearing;audio;typing;animations;Näppäimistö;Hiiri;Esteettömyys;saavutettavuus;Kontrasti;Mittakaava;Lähennys;Loitonnus;Näytönlukija;teksti;fontti;kirjasin;koko;Pohjaan jäävät näppäimet;Hitaat näppäimet;Kimmonäppäimet;Hiiren painikkeet;napsautus;klikkaus;viive;nopeus;avustus;toisto;osoitin;kaksois;viive;paikantaminen;vilkkuminen;kuuleminen;äänet;kirjoittaminen;animaatiot;
Keywords[fr]=clavier;souris;lien;accessibilité;accès;universel;contraste;curseur;son;zoom;lecteur;écran;grand;haut;élevé;large;texte;police;taille;accessx;rémanentes;touches;lent;rebond;souris;double;clic;délai;vitesse;assistance;répétition;clignotement;pointeur;rechercher;trouver;visuel;écoute;audio;frappe;animations;
Keywords[fur]=Tastiere;Mouse;a11y;Acessibilitât;Acès facilitât;Acès universâl;Contrast;Cursôr;Sun;Ingrandiment;Zoom;Screen;Reader;Letôr;Schermi;grant;alt;larc; test;caratar;dimension;AccessX;Tascj;Lents;Slow;Sbalçâts;Bounce;Mouse;Dopli;clic;Ritart;Assisti;Ripeti;Lampâ;Pontadôr;cjate;localize;visuâl;sintî;audio;scriture;animazions;
Keywords[gl]=Teclado;Rato;a11y;Accesibilidade;Acceso universal;Contraste;Cursor;Son;Zoom;Pantalla;Lector;grande;alto;grande; texto;tipo de letra;Tamaño;AccessX;Rexeite;Pegañento;Teclas;Lento;Retardo;Velocidade;Axuda;Repetir;Pestanexo;Apuntador;Buscar;localizar;visual;audio;audio;escritura;animacións;
Keywords[he]=מקלדת;הקלדה;עכבר;a11y;נגישות;ניגודיות;ניגוד;תקריב;זום;מקריא מסך;טקסט;גופן;גודל;AccessX;מקשים דביקים;מקשים אטיים;מקשים חוזרים;מקשי עכבר;לחיצה;כפול;כפולה;המתנה;מהירות;סיוע;חזרה;הבהוב;סמן;למצוא;חיפוש;איתור;שמיעה;שמע;ראייה;חזותי;לראות;הקלדה;הנפשה;הנפשות;אנימציה;אנימציות;
Keywords[hi]=कीबोर्ड;माउस;a11y;पहुंच;सार्वभौमिक;पहुंच;कंट्रास्ट;कर्सर;ध्वनि;ज़ूम;स्क्रीन;रीडर;बड़ा;ऊंचा;बड़ा;टेक्स्ट;फ़ॉन्ट;आकार;एक्सेसएक्स;चिपचिपा;कुंजियां;धीमा;उछाल;माउस;डबल;क्लिक;देरी;गति;सहायता;दोहराएं;ब्लिंक;पॉइंटर;ढूंढें;पता लगाएं;दृश्य;श्रवण;ऑडियो;टाइपिंग;एनिमेशन;
Keywords[hu]=Billentyűzet;Egér;a11y;Akadálymentesítés;Kontraszt;Kurzor;Hang;Nagyítás;Képernyő;Olvasó;nagy;magas;hatalmas;szöveg;betű;méret;AccessX;Ragadós;Billentyűk;Lassú;Pattogó;Egér;Dupla;kattintás;Késleltetés;Sebesség;Kisegítő;Ismétlés;Villogás;Mutató;keresés;vizuális;hallás;hang;írás;animációk;
Keywords[id]=Papan Tik;Tetikus;a11y;Aksesibilitas;Akses Universal;Kontras;Kursor;Suara;Zum;Layar;Pembaca;besar;tinggi;teks;fonta;ukuran;AccessX;Lengket;Tombol;Lambat;Pantul;Tetikus;Dobel;klik;Tunda;Kecepatan;Bantu;Ulangi;Berkedip;Penunjuk;cari;temukan;visual;pendengaran;audio;mengetik;animasi;
Keywords[it]=Tastiera;Mouse;a11y;Accessibilità;Accesso;Universale;Contrasto;Cursore;Audio;Suono;Ingrandimento;High;Elevato;Grande;Zoom;Screen;Reader;Lettore;Schermo;Testo;Font;Tipo di carattere;Dimensione;AccessX;Tasti;Singoli;Sticky;Lenti;Rimbalzati;Mouse;Doppio;Clic;Ritardo;Lampeggiare;Lampeggiamento;Puntatore;Udito;Digitare;Digitazione;Audio;Animazioni;
Keywords[ka]=Keyboard;Mouse;a11y;Accessibility;Universal Access;Contrast;Cursor;Sound;Zoom;Screen;Reader;big;high;large;text;font;size;AccessX;Sticky;Keys;Slow;Bounce;Mouse;Double;click;Delay;Speed;Assist;Repeat;Blink;Pointer;find;locate;visual;hearing;audio;typing;animations;კლავიატურა;თაგუნა;წვდომადობა;გადიდება;კურსორი;ტექსტი;ფონტი;წებოვანი;ღილაკები;ორმაგი;წკაპი;დაყოვნება;
Keywords[kk]=Keyboard;Mouse;a11y;Accessibility;Universal;Access;Contrast;Cursor;Sound;Zoom;Screen;Reader;big;high;large;text;font;size;AccessX;Sticky;Keys;Slow;Bounce;Mouse;Double;click;Delay;Speed;Assist;Repeat;Blink;Pointer;find;locate;visual;hearing;audio;typing;animations;пернетақта;тышқан;қолжетімділік;әмбепап;қатынау;контраст;курсор;дыбыс;масштаб;экран;оқу;үлкен;жоғары;мәтін;қаріп;өлшем;жабысқақ;баяу;қайталанатын;қос;шерту;кідіріс;жылдамдық;көмекші;қайталау;жыпылықтау;курсор;табу;анықтау;визуалды;есту;аудио;теру;анимациялар;
Keywords[ko]=Keyboard;키보드;Mouse;마우스;a11y;Accessibility;접근성;Universal;Access;보편적;접근;Contrast;대비;Cursor;커서;Sound;소리;사운드;Zoom;확대;축소;Screen;Reader;스크린;리더;화면;읽기;big;high;large;text;큰;텍스트;font;size;폰트;글꼴;크기;AccessX;Sticky;Keys;고정;키;Slow;느린;Bounce;탄력;Mouse;마우스;Double;click;두번;누르기;Delay;Speed;Assist;지연;도우미;Repeat;반복;Blink;깜박;Pointer;포인터;find;찾기;locate;visual;시각;hearing;듣기;audio;오디오;typing;타이핑;hearing;듣기;audio;오디오;typing;타이핑;animations;애니메이션;
Keywords[lt]=Klaviatūra;Pelė;a11y;Prieiga;Universali;Kontrastas;Žymiklis;Garsas;Mastelis;Ekranas;Skaityklė;didelis;aukštas;tekstas;šriftas;dydis;AccessX;Kibūs;Klavišai;Lėtieji;Pasikartojantys;Pelė; Dvigubas;paspaudimas;Delsa;Greitis;Pagalba;Pasikartojimas;Mirksėjimas;Žymeklis;rasti;lokalę;vaizdinis;klausa;garsas;rašymas;animacijos;
Keywords[lv]=Tastatūra;Pele;a11y;Pieejamība;Piekļūstamība;Universālā piekļuve;Kontrasts;Kursors;Skaņa;Mērogs;Ekrāna lasītājs;liels;augsts;teksts;fonts;izmērs;AccessX;Lipīgie;Taustiņi;Lēnie;Atlecošie;Pele;Dubults;klikšķis;Aizture;Ātrums;Atkārtot;Mirkšķināt;Rādītājs;atrast;vizuāls;dzirdes;audio;raksta;animācijas;
Keywords[nb]=Tastatur;Mus;a11y;Tilgjengelighet;Peker;Universell;tilgang;utforming;Kontrast;Peker;Pil;Lyd;Zoom;Skjermleser;Tekst til tale;stor;høy;tekst;skrift;størrelse;AccessX;Trege;Langsomme;Klebrige;Spretne;Taster;Dobbelt;trykk;Forsinkelse;Hastighet;Gjenta;Hint;Blinking;Hørsel;Tasting;Skriving;Døv;Blind;Animasjoner;Funksjonshemmet;Høreapparat;animasjoner;visuelle;effekter;bevegelse;
Keywords[nl]=Keyboard;Mouse;a11y;Accessibility;Universal;Access;Contrast;Cursor;Sound;Zoom;Screen;Reader;big;high;large;text;font;size;AccessX;Sticky;Keys;Slow;Bounce;Mouse;Double;click;Delay;Speed;Assist;Repeat;Blink;Pointer;find;locate;visual;hearing;audio;typing;animations;toetsenbord;muis;toegankelijkheid;universele;toegang;muisaanwijzer;muiscursor;geluid;inzoomen;uitzoomen;zoomniveau;scherm;lezer;schermlezer;plaktoetsen;trage;toetsen;springende;toetsen;snelheid;muistoetsen;tekst;lettertype;vergroten;dubbel;klik;dubbelklik;geluid;groot;hoog;visueel;horen;hoor;luisteren;typen;animaties;
Keywords[oc]=Clavièr;mirga;accessibilitat;universal;contraste;cursor;son;zoom;ecran;lector;grand;larg;tèxt;talha;clic;velocitat;àudio;picada;poliça;policia;polissa;polissas;escritura;tòca;acorchi;lent;mirga;doble;clic;relambi;delai;lenga;lengatge;audicion;repetir;visual;animacions;
Keywords[pl]=Klawiatura;Mysz;Myszka;a11y;Dostępność;Uniwersalny;dostęp;Kontrast;Kursor;Wskaźnik;Dźwięk;Przybliżanie;Powiększanie;Lupa;Zoom;Czytnik;ekranowy;ekranu;duży;wysoki;wielki;tekst;text;większy;zwiększ;powiększ;czcionka;font;rozmiar;wielkość;AccessX;Trwałe;Klawisze;Powolne;Odbijające;Myszy;Podwójne;Dwukrotne;kliknięcie;Opóźnienie;Prędkość;Szybkość;Wspomaganie;Asysta;Powtarzanie;Miganie;znajdź;wyszukaj;pokaż;wzrok;wizualne;słuch;dźwięk;audio;pisanie;klikanie;animacje;
Keywords[pt]=Teclado;Rato;a11y;Acessibilidade;AcessoUniversal;Contraste;Cursor;Som;Zoom;Ampliação;Leitor;Ecrã;Texto;Fonte;Letra;Tamanho;AccessX;Pegajosas;Lentas;Saltantes;Rato;Duplo;Clique;Atraso;Assistente;Velocidade;Repetição;Piscar;Ponteiro;localizar;partilha;visual;audição;digitação;animações;
Keywords[pt_BR]=Teclado;Mouse;a11y;Acessibilidade;Acesso;Universal;Contraste;Cursor;Som;Zoom;Tela;Leitor;grande;alta;grande;texto;fonte;tamanho;AccessX;Pegajoso;Teclas;Lento;Repercussão;Mouse;Duplo;clique ;Atraso;Velocidade;Assistência;Repetir;Piscar;cursor;localizar;encontrar;visual;audição;áudio;digitação;animações;
Keywords[ru]=Клавиатура;Мышь;a11y;Специальные;возможности;Контрастность;Масштаб;Экран;Чтение;текст;шрифт;размер;AccessX;Залипающие;клавиши;Медленные;Отскакивающие;Мышь;Двойное;нажатие;Задержка;скорость;Помощь;Повтор;Мигающий;курсор;найти;местоположение;визуальный;слышимость;слух;аудио;набор;печать;анимации;
Keywords[sk]=klávesnica;myš;a11y;zjednodušenie;ovládanie;univerzálny prístup;prístupnosť;kontrast;lupa;obrazovka;čítačka obrazovky;veľké;text;písmo;veľkosť;accessx;lepkavé klávesy;pomalé;viacnásobné stlačenie klávesov;myš;dvojklik;dvojité;kliknutie;rýchlosť;asistent;oneskorenie;pomoc;opakovanie;kurzor;kurzoru;blikanie;blikať;ukazovateľ;kurzor;nájsť;poruchy;hendikep;zrak;sluch;písanie;animácia;animácie;
Keywords[sl]=tipkovnica;miška;a11y;dostopnost;univerzalni;dostop;kontrast;kazalka,zvok;približanje;zoom;zaslon;zaslonski;bralnik;besedilo;pisava;velikost;AccessX;lepljive;počasne;odskočne;tipke;zamik;odskočne;dvojne;klik;dvoklik;ponovitev;utripanje;kazalec;iskanje;lociranje;vidno;slišno;zvok;tipkanje;animacije;
Keywords[sr]=Keyboard;Mouse;a11y;Accessibility;Universal;Access;Contrast;Cursor;Sound;Zoom;Screen;Reader;big;high;large;text;font;size;AccessX;Sticky;Keys;Slow;Bounce;Mouse;Double;click;Delay;Speed;Assist;Repeat;Blink;visual;hearing;audio;typing;animations;тастатура;миш;a11y;приступачност;контраст;универзални приступ;зум;читач;екран;текст;слова;величина;Икс;приступ;лепљиви;тастери;спори;одскочни;миш;двоструки;клик;застој;понови;трепни;визуелно;слух;аудио;звук;куцање;tastatura;miš;pristupačnost;kontrast;zum;čitač;ekran;tekst;slova;veličina;Iks;pristup;lepljivi;tasteri;spori;odskočni;miš;dvostruki;klik;zastoj;ponovi;trepni;vizuelno;univerzalni pristup;sluh;audio;zvuk;kucanje;
Keywords[sr@latin]=Keyboard;Mouse;a11y;Accessibility;Universal;Access;Contrast;Cursor;Sound;Zoom;Screen;Reader;big;high;large;text;font;size;AccessX;Sticky;Keys;Slow;Bounce;Mouse;Double;click;Delay;Speed;Assist;Repeat;Blink;visual;hearing;audio;typing;animations;tastatura;miš;a11y;pristupačnost;kontrast;univerzalni pristup;zum;čitač;ekran;tekst;slova;veličina;Iks;pristup;lepljivi;tasteri;spori;odskočni;miš;dvostruki;klik;zastoj;ponovi;trepni;vizuelno;sluh;audio;zvuk;kucanje;tastatura;miš;pristupačnost;kontrast;zum;čitač;ekran;tekst;slova;veličina;Iks;pristup;lepljivi;tasteri;spori;odskočni;miš;dvostruki;klik;zastoj;ponovi;trepni;vizuelno;univerzalni pristup;sluh;audio;zvuk;kucanje;
Keywords[sv]=Tangentbord;Mus;a11y;Accessibility;Hjälpmedel;Tillgänglighet;Universell;Åtkomst;Kontrast;Markör;Zoom;Skärmläsare;stor;hög;text;typsnitt;teckensnitt;storlek;AccessX;Klistriga;Tangenter;Tröga;Tangentstuds;Mustangenter;Dubbelklick;Fördröjning;Hastighet;Assistans;Upprepa;Blinka;Pekare;sök;hitta;visuell;hörsel;ljud;skrift;animationer;
Keywords[tr]=Keyboard;Mouse;a11y;Accessibility;Universal;Access;Contrast;Cursor;Sound;Zoom;Screen;Reader;big;high;large;text;font;size;AccessX;Sticky;Keys;Slow;Bounce;Mouse;Double;click;Delay;Speed;Assist;Repeat;Blink;Pointer;find;locate;visual;hearing;audio;typing;animations;Klavye;Fare;a11y;Erişilebilirlik;Erişebilirlik;Evrensel Erişim;Karşıtlık;İmleç;Ses;Yakınlaştırma;Ekran;Okuyucu;büyük;yüksek;geniş;metin;yazıtipi;yazı tipi;boyut;AccessX;Yapışkan;Tuşlar;Yavaş;Seken;Çift;tıklama;Gecikme;Hız;Yardım;Tekrar;Tekrarlanan;Tekrarlayan;Yineleme;Yinelenen;Yineleyen;Yanıp sönme;İşaretçi;işaretçi;İmleç;imleç;bul;konumla;görsel;duyma;işitsel;İşitsel;ses;yazım;yazma;canlandırmalar;animasyonlar;
Keywords[uk]=Клавіатура;Миша;Доступність;Універсальний;доступ;Контраст;Курсор;Звук;Масштаб;Екран;Читач;розмір;висота;великий;текст;шрифт;Доступ;Липкі;Клавіші;Повільно;Клацання;Подвійний;клік;Затримка;Швидкість;Допомога;Повторити;вказівник;пошук;віднайдення;візуальний;слух;аудіо;введення;анімації;Keyboard;Mouse;a11y;Accessibility;Universal Access;Contrast;Cursor;Sound;Zoom;Screen;Reader;big;high;large;text;font;size;AccessX;Sticky;Keys;Slow;Bounce;Mouse;Double;click;Delay;Speed;Assist;Repeat;Blink;Pointer;find;locate;visual;hearing;audio;typing;animations;
Keywords[zh_CN]=Keyboard;Mouse;a11y;Accessibility;Universal;Access;Contrast;Cursor;Sound;Zoom;Screen;Reader;big;high;large;text;font;size;AccessX;Sticky;Keys;Slow;Bounce;Mouse;Double;click;Delay;Speed;Assist;Repeat;Blink;Pointer;find;locate;visual;hearing;audio;typing;animations;键盘;鼠标;无障碍;辅助功能;通用;访问;对比度;光标;指针;声音;缩放;屏幕;阅读器;大;高;巨大;文本;文字;字体;大小;粘滞;按键;慢;回弹;鼠标;双击;点击;单击;延迟;速度;助手;重复;闪烁;查找;本地;位置;可视化;视觉;听觉;音频;输入;打字;动画;
Keywords[zh_TW]=Keyboard;Mouse;a11y;Accessibility;Universal;Access;Contrast;Cursor;Sound;Zoom;Screen;Reader;big;high;large;text;font;size;AccessX;Sticky;Keys;Slow;Bounce;Mouse;Double;click;Delay;Speed;Assist;Repeat;Blink;Pointer;find;locate;visual;hearing;audio;typing;animations;鍵盤;滑鼠;輔助功能;通用;取用;對比;游標;聲音;縮放;螢幕;閱讀器;大;高;文字;字體;大小;黏性;按鍵;慢;彈跳;滑鼠;雙擊;單擊;延遲;速度;輔助;重複;閃爍;指針;查找;定位;視覺;聽覺;音訊;打字;動畫;
Keywords=Keyboard;Mouse;a11y;Accessibility;Universal;Access;Contrast;Cursor;Sound;Zoom;Screen;Reader;big;high;large;text;font;size;AccessX;Sticky;Keys;Slow;Bounce;Mouse;Double;click;Delay;Speed;Assist;Repeat;Blink;Pointer;find;locate;visual;hearing;audio;typing;animations;
