[Desktop Entry]
Name[be]=Шматзадачнасць
Name[be@latin]=Šmatzadačnasć
Name[bg]=Многозадачност
Name[ca]=Multitasca
Name[cs]=Multitasking
Name[da]=Multitasking
Name[de]=Multitasking
Name[el]=Πολυεργασία
Name[en_GB]=Multitasking
Name[es]=Multitarea
Name[eu]=Aldi bereko zereginak
Name[fa]=چندوظیفگی
Name[fi]=Moniajo
Name[fo]=Fleirkoyrsla
Name[fr]=Multi-tâches
Name[fur]=Multilavôr
Name[gl]=Multitarefa
Name[he]=ריבוי משימות
Name[hi]=बहु-कार्यण
Name[hr]=Višezadaćnost
Name[hu]=Többfeladatos munkavégzés
Name[id]=Multitasking
Name[ie]=Multitache
Name[is]=Fjölverkavinnsla
Name[it]=Multi-attività
Name[ja]=マルチタスク
Name[ka]=მრავალამოცანიანობა
Name[kk]=Көптапсырмалылық
Name[ko]=다중 작업
Name[lt]=Daug užduočių
Name[lv]=Vairākuzdevumi
Name[my]=အလုပ်များတစ်လှည့်စီခဏခဏပြောင်းလုပ်ခြင်း
Name[nb]=Navigasjon
Name[ne]=मल्टिटास्किङ
Name[nl]=Multitasken
Name[oc]=Multiprètzfach
Name[pa]=ਬਹੁ-ਕੰਮਕਾਜ
Name[pl]=Wielozadaniowość
Name[pt]=Multitarefa
Name[pt_BR]=Multitarefas
Name[ro]=Sarcini multiple
Name[ru]=Многозадачность
Name[sk]=Súbežná práca
Name[sl]=Večopravilnost
Name[sr]=Упоредни рад
Name[sr@latin]=Uporedni rad
Name[sv]=Multikörning
Name[th]=มัลติทาสกิง
Name[tr]=Çoklu Görev
Name[uk]=Багатозадачність
Name[vi]=Đa nhiệm
Name[zh_CN]=多任务
Name[zh_TW]=多工作業
Name=Multitasking
Comment[be]=Кіраванне параметрамі прадукцыйнасці і шматзадачнасці
Comment[be@latin]=Kiravannie paramietrami pradukcyjnasci i šmatzadačnasci
Comment[bg]=Настройките за производителност и работа по много задачи
Comment[ca]=Gestiona les preferències de productivitat i multitasca
Comment[cs]=Správa předvoleb pro produktivitu a multitasking
Comment[da]=Håndtér indstillinger for produktivitet og multitasking
Comment[de]=Einstellungen für Produktivität und Multitasking verwalten
Comment[el]=Διαχείριση προτιμήσεων για παραγωγικότητα και πολυεργασία
Comment[en_GB]=Manage preferences for productivity and multitasking
Comment[es]=Gestionar las preferencias para productividad y multitarea
Comment[eu]=Kudeatu hobespenak produktibitaterako eta aldi bereko zereginetarako
Comment[fa]=مدیریت ترجیحات برای بهره‌وری و چندوظیفگی
Comment[fi]=Hallinnoi tuottavuuden ja moniajon asetuksia
Comment[fr]=Gérer les préférences de productivité et du multi-tâches
Comment[fur]=Gjestìs lis preferencis pe produtivitât e il multilavôr
Comment[gl]=Xestionar as preferencias para a productividade e multitarefa
Comment[he]=ניהול העדפות ליעילות וריבוי משימות
Comment[hi]=उत्पादकता और बहु-कार्यण के लिए प्राथमिकताएं प्रबंधित करें
Comment[hr]=Upravljajte osobitostima za produktivnost i višezadaćnost
Comment[hu]=A hatékony többfeladatos munkavégzés beállításainak kezelése
Comment[id]=Mengelola preferensi untuk produktivitas dan multitasking
Comment[it]=Gestire le preferenze per produttività e multi-attività
Comment[ja]=プロダクティビティとマルチタスクに関する設定を管理します
Comment[ka]=მართეთ პარამეტრები წარმადობისა და მრავალამოცანიანობისთვის
Comment[kk]=Өнімділік және көптапсырмалылық баптауларын басқару
Comment[ko]=생산성 및 다중 작업에 대한 설정을 관리합니다
Comment[lt]=Tvarkykite nuostatas produktyvumui ir daugeliui užduočių
Comment[lv]=Pārvaldiet iestatījumus produktivitātei un vairākuzdevumu darbam
Comment[my]=အလုပ်တွင်ကျယ်မှု နှင့် အပြိုင်လုပ်ဆောင်မှုအတွက် နှစ်သက်-သတ်မှတ်ချက်များ စီမံမည်
Comment[nb]=Tilpass håndtering av vinduer og forflytning rundt i systemet
Comment[ne]=उत्पादकत्व र मल्टिटास्किङका लागि प्राथमिकता प्रबन्ध गर्नुहोस्
Comment[nl]=Beheer voorkeuren voor productiviteit en multitasken
Comment[oc]=Gerir las preferéncias per la productivitat e multi prètzfach
Comment[pa]=ਉਤਪਾਦਨ ਤੇ ਬਹੁ-ਕੰਮਕਾਜ ਲਈ ਤਜਰੀਹਾਂ ਦਾ ਇੰਤਜ਼ਾਮ ਕਰੋ
Comment[pl]=Zarządzanie preferencjami efektywności i wielozadaniowości
Comment[pt]=Gerir preferências para produtividade e multitarefa
Comment[pt_BR]=Gerencie preferências para produtividade e multitarefas
Comment[ro]=Administrează preferințele pentru productivitate și efectuarea de sarcini multiple
Comment[ru]=Управляйте предпочтениями продуктивности и многозадачности
Comment[sk]=Spravuje predvoľby pre produktivitu a súbežnú prácu
Comment[sl]=Upravljanje nastavitev za učinkovito delo in večopravilnost
Comment[sr]=Управљајте поставкама продуктивности и упоредног рада
Comment[sr@latin]=Upravljajte postavkama produktivnosti i uporednog rada
Comment[sv]=Hantera inställningar för produktivitet och multikörning
Comment[th]=จัดการค่าปรับแต่งสำหรับประสิทธิภาพการทำงานและมัลติทาสกิง
Comment[tr]=Verimlilik ve çoklu görev için tercihleri yönet
Comment[uk]=Керування параметрами продуктивності та багатозадачності
Comment[vi]=Quản lý các tùy chỉnh cho năng suất và đa nhiệm
Comment[zh_CN]=管理生产力和多任务的首选项
Comment[zh_TW]=管理生產力與多工作業的偏好設定
Comment=Manage preferences for productivity and multitasking
Exec=gnome-control-center multitasking
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.Settings-multitasking-symbolic
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Settings;DesktopSettings;X-GNOME-Settings-Panel;X-GNOME-PersonalizationSettings;
OnlyShowIn=GNOME;
# Translators: Search terms to find the Search panel. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[be]=Multitasking;Multitask;Productivity;Customize;Desktop;Hot Corner;Workspaces;Шматзадачнасць;Прадукцыйнасць;Працоўны стол;Кастамізацыя;Актыўны кут;Гарачы кут;Працоўныя прасторы;
Keywords[be@latin]=Multitasking;Multitask;Productivity;Customize;Desktop;Hot Corner;Workspaces;Šmatzadačnasć;Pradukcyjnasć;Pracoŭny stoł;Kastamizacyja;Aktyŭny kut;Haračy kut;Pracoŭnyja prastory;
Keywords[bg]=многозадачност;паралелност;производителност;продуктивност;работно пространство;активни;ъгли;работни;пространства;multitasking;multitask;productivity;customize;desktop;hot;corner;workspaces;
Keywords[ca]=Multitasca;Productivitat;Personalitza;Escriptori;Cantonada activa;Espais de treball;
Keywords[cs]=multitasking;multitask;více úkolů;více úloh;produktivita;přizpůsobit;přizpůsobení;desktop;citlivý;roh;pracovní plochy;
Keywords[da]=Multitasking;Multitaske;Produktivitet;Tilpas;Skrivebord;Aktiv;Hjørne;Arbejdsområder;
Keywords[de]=Multitasking;Multitask;Productivity;Customize;Desktop;Hot;Corner;Workspaces;Produktivität;Bearbeiten;Schreibtisch;Funktionale;Ecke;Arbeitsumgebungen;
Keywords[en_GB]=Multitasking;Multitask;Productivity;Customise;Desktop;Hot;Corner;Workspaces;
Keywords[es]=multitarea;productividad;personalizar;escritorio;esquina activa;áreas de trabajo;
Keywords[eu]=Aldi bereko zereginak;Produktibitatea:Pertsonalizazioa;Mahaigaina;Izkina;Beroa;Laneko area;
Keywords[fa]=Multitasking;Multitask;Productivity;Customize;Desktop;Hot Corner;Workspaces;چندوظیفگی;بهره‌وری;شخصی‌سازی;میزکار;گوشه‌ها;فضا;
Keywords[fi]=Multitasking;Multitask;Productivity;Customize;Desktop;Hot;Corner;Workspaces;moniajo;tuottavuus;mukautus;mukauttaminen;samanaikainen;aktivointikulma;työtilat;virtuaalipöydät;
Keywords[fr]=Multi-tâches;Productivité;Personnalisation;Bureau;Coin;Actif;Espaces de travail;
Keywords[fur]=Multitasking;Multilavôr;Produtivitât;Personalize;Scritori;Scrivanie;Desktop;Angul;cjalt;Spazis di lavôr;
Keywords[gl]=Multitarefa;Productividade;Personalizar;Escritorio;Esquina quente;Espazos de traballo;
Keywords[he]=ריבוי משימות;ביצוע מפוצל;יעילות;יצרניות;פרודוקטיביות;מולטיטאסקינג;מולטיטסקינג;התאמה;שינוי;עריכה;שולחן עבודה;התאמה אישית;נקודה חמה;פינה חמה;שולחנות עבודה;מרחבי עבודה;שולחן עבודה;מרחב עבודה;
Keywords[hi]=बहु-कार्यण;बहु-कार्य;उत्पादकता;अनुकूलित;डेस्कटॉप;हॉट;कॉर्नर;कार्यस्थान;
Keywords[hu]=Többfeladatos;Termelékenység;Produktivitás;Testreszabás;Személyre;Szabás;Asztal;Forró;Sarok;Munkaterületek;
Keywords[id]=Multitasking;Multitask;Produktivitas;Sesuaikan;Destop;Sudut;Panas;Ruang Kerja;
Keywords[it]=Multitasking;Multitask;Productivity;Customize;Desktop;Hot;Corner;Workspaces;Multiattività;Attività;Produttività;Personalizza;Scrivania;Angolo;Attivo;Spazi;Lavoro;
Keywords[ka]=Multitasking;Multitask;Productivity;Customize;Desktop;Hot Corner;Workspaces;მრავალამოცანიანობა;სამუშაო სივრცეები;
Keywords[kk]=Multitasking;Multitask;Productivity;Customize;Desktop;Hot;Corner;Workspaces;көптапсырмалылық;өнімділік;баптау;жұмыс үстелі;ыстық;бұрыш;жұмыс орындары;
Keywords[ko]=Multitasking;다중작업;다중 작업;멀티태스킹;Multitask;멀티태스크;Productivity;생산성;Customize;사용자설정;사용자 설정;Desktop;데스크톱;Hot;Corner;핫코너;Workspaces;작업공간;
Keywords[lt]=Užduotys;Produktyvumas;Tinkinti;Darbastalis;Karštas;Kampas;Darbo sritys;
Keywords[lv]=Vairākuzdevumi;Produktivitāte;Pielāgot;Darbvirsma;Karstais;Stūris;Darbvietas;
Keywords[nb]=Multitasking;Navigasjon;Produktivitet;Skrivebord;Hjørne;Kant;Snarvei;Områder;Vinduer;
Keywords[nl]=Multitasking;Multitask;Productivity;Customize;Desktop;Hot;Corner;Workspaces;Multitasken;Productiviteit;Aanpassen;Bureaublad;Snelhoek;Werkbladen;
Keywords[oc]=Multiprètzfach;multiprètzfait;multitasca;productivitat;personalizar;burèu;caire;espaci;trabalh;
Keywords[pl]=Wielozadaniowość;Multitasking;Efektywność;Produktywność;Dostosuj;Dostosowanie;Pulpit;Desktop;Aktywny;róg;Gorący;róg;Obszary robocze;
Keywords[pt]=Multitarefas;Multitarefa;Produtividade;Personalização;Ambiente de trabalho;Desktop;Canto ativo;Áreas de trabalho;
Keywords[pt_BR]=Multitarefas;Multitarefa;Produtividade;Personalizar;Área de trabalho;Canto;ativo;Espaços de trabalho;
Keywords[ru]=Многозадачность;Продуктивность;Фокус;Настройка;Рабочий стол;Горячий; угол;Workspaces;
Keywords[sk]=multitasking;súbežná;práca;produktivita;prispôsobiť;prispôsobenie;pracovná;plocha;aktívny roh;pracovné priestory;
Keywords[sl]=večopravilnost;multitasking;produktivnost;prilagodi;namizje;vroč;vogal;delovni prostori;namizja;površine;delovne;
Keywords[sr]=Multitasking;Multitask;Productivity;Customize;Desktop;Hot;Corner;Workspaces;Упоредни рад;Вишеструки рад;Продуктивност;Прилагоди;Десктоп;Радна површ;Врући угао;Радни простори;Uporedni rad;Višestruki rad;Produktivnost;Prilagodi;Desktop;Radna površ;Vruci ugao;Radni prostori;
Keywords[sr@latin]=Multitasking;Multitask;Productivity;Customize;Desktop;Hot;Corner;Workspaces;Uporedni rad;Višestruki rad;Produktivnost;Prilagodi;Desktop;Radna površ;Vrući ugao;Radni prostori;Uporedni rad;Višestruki rad;Produktivnost;Prilagodi;Desktop;Radna površ;Vruci ugao;Radni prostori;
Keywords[sv]=Multitasking;Multitask;Multikörning;Produktivitet;Anpassa;Skrivbord;Hot;Corner;Hett;hörn;Arbetsytor;
Keywords[th]=มัลติทาสกิง;มัลติทาสก์;การทำงาน;ปรับแต่ง;เดสก์ท็อป;มุมด่วน;มุม;พื้นที่ทำงาน;
Keywords[tr]=Multitasking;Multitask;Productivity;Customize;Desktop;Hot;Corner;Workspaces;Çoklugörev;Çoklu Görev;Çoğulgörev;Verimlilik;Üretkenlik;Özelleştir;Masaüstü;Sıcak Köşe;Sıcak Kenar;Çalışma Alanları;
Keywords[uk]=Multitasking;Multitask;Productivity;Customize;Desktop;Hot;Corner;Workspaces;багатозадачність;задача;завдання;продуктивність;налаштовування;налаштування;стільниця;активний;кут;робочі простори;
Keywords[zh_CN]=Multitasking;Multitask;Productivity;Customize;Desktop;Hot;Corner;Workspaces;多任务;生产力;自定义;桌面;热区;工作区;
Keywords[zh_TW]=Multitasking;Multitask;Productivity;Customize;Desktop;Hot;Corner;Workspaces;多工作業;多工;生產力;自訂;桌面;熱;角落;工作空間;工作區;
Keywords=Multitasking;Multitask;Productivity;Customize;Desktop;Hot;Corner;Workspaces;
