[Desktop Entry]
Name[be]=Мабільная сетка
Name[be@latin]=Mabilnaja sietka
Name[bg]=Мобилни мрежи
Name[ca]=Xarxa mòbil
Name[cs]=Mobilní síť
Name[da]=Mobilt netværk
Name[de]=Mobiles Netzwerk
Name[el]=Κινητό δίκτυο
Name[en_GB]=Mobile Network
Name[eo]=Poŝtelefona reto
Name[es]=Red móvil
Name[eu]=Sare mugikorra
Name[fa]=شبکهٔ همراه
Name[fi]=Mobiiliverkko
Name[fo]=Farnet
Name[fr]=Réseau mobile
Name[fur]=Rêt mobile
Name[gl]=Rede móbil
Name[he]=רשת סלולרית
Name[hi]=मोबाइल नेटवर्क
Name[hr]=Mobilna mreža
Name[hu]=Mobilhálózat
Name[id]=Jaringan Seluler
Name[ie]=Mobil rete
Name[is]=Farsímanet
Name[it]=Rete mobile
Name[ja]=モバイルネットワーク
Name[ka]=მობილური ქსელის
Name[kk]=Мобильді желі
Name[ko]=휴대전화 네트워크
Name[lt]=Mobilusis tinklas
Name[lv]=Mobilais tīkls
Name[my]=ဖုန်း ဆ.သ.ရ ကွန်ရက်
Name[nb]=Mobilnettverk
Name[ne]=मोबाइल सञ्जाल
Name[nl]=Mobiel netwerk
Name[oc]=Ret mobila
Name[pa]=ਮੋਬਾਈਲ ਨੈੱਟਵਰਕ
Name[pl]=Sieć komórkowa
Name[pt]=Rede móvel
Name[pt_BR]=Rede móvel
Name[ro]=Rețea mobilă
Name[ru]=Мобильная сеть
Name[sk]=Mobilná sieť
Name[sl]=Mobilno omrežje
Name[sr]=Мобилна мрежа
Name[sr@latin]=Mobilna mreža
Name[sv]=Mobilnätverk
Name[tr]=Mobil Ağ
Name[uk]=Мобільна мережа
Name[vi]=Mạng di động
Name[zh_CN]=移动网络
Name[zh_TW]=行動網路
Name=Mobile Network
Comment[be]=Канфігураванне тэлефаніі і перадачы даных праз мабільную сетку
Comment[be@latin]=Kanfihuravannie telefanii i pieradačy danych praz mabilnuju sietku
Comment[bg]=Настройки на мобилни връзки и телефония
Comment[ca]=Configura les connexions de dades de telefonia i mòbils
Comment[cs]=Nastavte si telefonní a mobilní datová připojení
Comment[da]=Indstil telefoni og mobildataforbindelser
Comment[de]=Telefonie und mobile Datenverbindungen einrichten
Comment[el]=Ρύθμιση συνδέσεων τηλεφωνίας και δεδομένων κινητής τηλεφωνίας
Comment[en_GB]=Configure Telephony and mobile data connections
Comment[eo]=Agordi telefonajn kaj moveblajn datumajn konektojn
Comment[es]=Configurar telefonía y conexiones de datos móviles
Comment[eu]=Konfiguratu telefoniako eta datu mugikorreko konexioak
Comment[fa]=پیکربندی اتّصال‌های دادهٔ همراه و تلفن
Comment[fi]=Määritä puhelinverkko- ja mobiilidatayhteydet
Comment[fr]=Configurer la téléphonie et les connexions de données mobiles
Comment[fur]=Configure la telefonie e lis conessions dâts mobili
Comment[gl]=Configurar as conexións de telefonía e datos móbiles
Comment[he]=הגדרת טלפוניה וחיבורי נתונים סלולריים
Comment[hi]=टेलीफोनी और मोबाइल डेटा कनेक्शन विन्यस्त करें
Comment[hr]=Prilagodite telefoniranje i povezivanje mobilnim podacima
Comment[hu]=Telefónia és mobil adatkapcsolatok beállítása
Comment[id]=Mengkonfigurasi koneksi data seluler dan telefoni
Comment[is]=Stilla nettæki og farsímatengingar
Comment[it]=Configura telefonia e connessioni dati mobili
Comment[ja]=モバイルデータ接続やテレフォニー接続を設定します
Comment[ka]=ტელეფონიისა და მობილური ინტერნეტის მორგება
Comment[kk]=Телефония және мобильді деректер байланыстарын баптау
Comment[ko]=텔레포니 및 휴대전화 데이터 연결 설정
Comment[lt]=Konfigūruoti telefonijos ir mobiliųjų duomenų ryšius
Comment[lv]=Konfigurēt telefoniju un mobilo datu savienojumus
Comment[my]=တယ်လီဖုန်းနှင့်မိုဘိုင်းဒေတာချိတ်ဆက်မှုများ ပြင်ဆင်ရန်
Comment[nb]=Styr enhetens tilkobling til mobilnettverket og slå mobildata av og på
Comment[ne]=टेलिफोनी र मोबाइल डेटा जडान कन्फिगर गर्नुहोस्
Comment[nl]=Configureer telefonie en mobielegegevensverbindingen
Comment[oc]=Configurar la telefonia e las connexion de donadas mobil
Comment[pa]=ਟੈਲੀਫ਼ੋਨੀ ਤੇ ਮੋਬਾਈਲ ਡਾਟਾ ਕਨੈਕਸ਼ਨਾਂ ਦੀ ਸੰਰਚਨਾ ਕਰੋ
Comment[pl]=Konfiguracja połączeń telefonicznych i komórkowych
Comment[pt]=Configurar ligações telefónicas e de dados móveis
Comment[pt_BR]=Configure telefonia e conexões de dados móveis
Comment[ro]=Configurează Telefonia și conexiunile de date mobile
Comment[ru]=Настроить телефонию и соединения для мобильных данных
Comment[sk]=Nastavuje telefónne a mobilné dátové pripojenia
Comment[sl]=Nastavitve telefonije in mobilnih podatkovnih povezav
Comment[sr]=Подесите везе мобилних података и телефоније
Comment[sr@latin]=Podesite veze mobilnih podataka i telefonije
Comment[sv]=Konfigurera telefoni och mobildataanslutningar
Comment[tr]=Telefon ve mobil veri bağlantılarını yapılandır
Comment[uk]=Налаштовування телефонії та мобільних з'єднань для передавання даних
Comment[vi]=Cấu hình kết nối cho điện thoại và dữ liệu di động
Comment[zh_CN]=配置电话和移动数据连接
Comment[zh_TW]=設定電話撥打與行動數據連線
Comment=Configure Telephony and mobile data connections
Exec=gnome-control-center wwan
# FIXME
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.Settings-mobile-network-symbolic
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Settings;X-GNOME-NetworkSettings;HardwareSettings;X-GNOME-Settings-Panel;X-GNOME-ConnectivitySettings;
OnlyShowIn=GNOME;Unity;
# Translators: Search terms to find the WWAN panel. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[be]=cellular;wwan;telephony;sim;mobile;сотавая;мабільная;тэлефанія;сім;
Keywords[be@latin]=cellular;wwan;telephony;sim;mobile;sotavaja;mabilnaja;telefanija;sim;
Keywords[bg]=cellular;wwan;telephony;sim;mobile;клетъчна;безжична;мобилна;сим;телефон;
Keywords[ca]=cel·lular;wwan;telefonia;sim;mòbil;
Keywords[cs]=celulární;wwan;telefon;telefonie;sim;karta;mobil;mobilní;
Keywords[da]=mobil;wwan;telefoni;sim;simkort;
Keywords[de]=cellular;wwan;telephony;sim;mobile;Funknetzwerk;Mobilfunk;Weitverkehrsfunk;Telefonie;
Keywords[el]=κινητό;wwan;τηλεφωνία;sim;κινητό;
Keywords[en_GB]=cellular;wwan;telephony;sim;mobile;
Keywords[es]=teléfono;wwan;telefonía;sim;móvil;
Keywords[eu]=telefonoa;wwan;telefonia;sim;mugikorra;
Keywords[fa]=cellular;wwan;telephony;sim;mobile;موبایل;تلفن;همراه;سیم‌کارت;
Keywords[fi]=cellular;wwan;telephony;sim;mobile;mobiili;
Keywords[fr]=cellulaire;wwan;téléphonie;sim;mobile;
Keywords[fur]=celulâr;wwan;telefonie;sim;mobil;
Keywords[gl]=celular;wwan;telefonía;sim;móbil;
Keywords[he]=סלולרי;אלחוטי;סים;SIM;נייד;תקשורת;מובייל;פלאפון;סלקום;פרטנר;רמי לוי;גולן;טלקום;טלפוניה;חיוג;טלפון;
Keywords[hi]=सेल्यूलर;wwan;टेलीफोनी;SIM;मोबाइल;
Keywords[hr]=mobitel;wwan;telefoniranje;sim;mobilno;
Keywords[hu]=mobil;wwan;telefónia;sim;telefon;
Keywords[id]=seluler;wwan;telefoni;sim;mobile;
Keywords[is]=þráðlaust;wwan;símkerfi;sim;farsími;
Keywords[it]=cellulare;wwan;telephony;telefonia;sim;mobile;
Keywords[ja]=cellular;wwan;telephony;sim;mobile;セルラー;ワイヤレスワイドエリアネットワーク;テレフォニー;モバイル;
Keywords[ka]=cellular;wwan;telephony;sim;mobile;ფიჭური;ტელეფონია;მობილური;
Keywords[kk]=cellular;wwan;telephony;sim;mobile;ұялы;телефония;сим;мобильді;
Keywords[ko]=cellular;휴대전화;셀룰러;wwan;무선;telephony;텔레포니;sim;mobile;모바일;
Keywords[lt]=mobilusis;wwan;telefonija;sim;mibilusis;
Keywords[lv]=mobilais;wwan;telefonija;sim;mobilais;
Keywords[my]=ဆယ်လူလာ;wwan;တယ်လီဖုန်း;ဆင်း;မိုဘိုင်း;
Keywords[nb]=mobil;data;telefon;sim;kort;puk;1G;2G;3G;4G;5G;
Keywords[ne]=सेलुलर;wwan;टेलिफोनी;सिम;मोबाइल;
Keywords[nl]=cellular;wwan;telephony;sim;mobile;mobiel;simkaart;telefonie;cellulair;
Keywords[oc]=mobil;wwan;telefòn;sim;telefonet;portable;
Keywords[pa]=ਸੈਲੂਲਰ;ਵਵੈਨ;ਵੈੱਨ;ਟੈਲੀਫ਼ੋਨੀ;ਸਿਮ;ਮੋਬਾਈਲ;ਮੋਬਾਇਲ;
Keywords[pl]=komórkowa;komórka;wwan;telefon;telefonia;sim;pin;puk;mobilna;
Keywords[pt]=cellular;wwan;telephony;sim;mobile;
Keywords[pt_BR]=célula;celular;wwan;telefonia;sim;mobile;móvel;
Keywords[ro]=cellular;wwan;telephony;sim;mobile;celular;telefonie;mobilă;
Keywords[ru]=сотовый;мобильник;мобильный;мобильная;wwan;телефония;телефон;sim;сим;
Keywords[sk]=mobil;mobilná;wwan;telefón;telefonovanie;sim;
Keywords[sl]=cellular;wwan;telephony;telefon;kartica;klicanje;mobilno;sim;mobile;
Keywords[sr]=целулар;телефонија;сим;мобилна;cellular;wwan;telephony;sim;mobile;
Keywords[sr@latin]=celular;telefonija;sim;mobilna;cellular;wwan;telephony;sim;mobile;
Keywords[sv]=cellular;mobilnätverk;wwan;telefoni;sim;mobil;
Keywords[tr]=cellular;wwan;telephony;sim;mobile;hücresel;wwan;telefon;telefonculuk;sim;mobil;taşınabilir;taşınır;seyyar;gezici;gezgin;
Keywords[uk]=cellular;wwan;telephony;sim;mobile;стільниковий;телефонія;телефон;сім;картка;мобільний;вван;
Keywords[vi]=cellular;wwan;telephony;sim;mobile;di động;di dong;
Keywords[zh_CN]=cellular;wwan;telephony;sim;mobile;蜂窝;移动;无线;
Keywords[zh_TW]=cellular;wwan;telephony;sim;mobile;行動數據;蜂巢式網路;撥打電話;攜帶;行動網路;
Keywords=cellular;wwan;telephony;sim;mobile;
