[Desktop Entry]
# Translators: "Search" should be phrased as a verb (in both "Name" and "Keywords" fields).
Name[ab]=Аҧшаара
Name[af]=Soek
Name[an]=Buscar
Name[ar]=البحث
Name[as]=বিচাৰক
Name[ast]=Guetar
Name[az]=Axtar
Name[be]=Пошук
Name[be@latin]=Pošuk
Name[bg]=Търсене
Name[bn]=সন্ধান
Name[bn_IN]=অনুসন্ধান
Name[br]=Klask
Name[bs]=Traži
Name[ca]=Cerca
Name[ca@valencia]=Busca
Name[ckb]=گەڕان
Name[crh]=Qıdır
Name[cs]=Hledat
Name[cy]=Chwilio
Name[da]=Søgning
Name[de]=Suchen
Name[dz]=འཚོལ་ཞིབ།
Name[el]=Αναζήτηση
Name[en_CA]=Search
Name[en_GB]=Search
Name[en@shaw]=𐑕𐑻𐑗
Name[eo]=Serĉo
Name[es]=Buscar
Name[et]=Otsi
Name[eu]=Bilatu
Name[fa]=جست‌وجو
Name[fi]=Haku
Name[fo]=Leita
Name[fr]=Recherche
Name[fur]=Cîr
Name[ga]=Cuardach
Name[gd]=Lorg
Name[gl]=Busca
Name[gu]=શોધો
Name[he]=חיפוש
Name[hi]=खोजें
Name[hr]=Pretraga
Name[hu]=Keresés
Name[id]=Cari
Name[ie]=Serchar
Name[is]=Leita
Name[it]=Cerca
Name[ja]=検索
Name[ka]=ძებნა
Name[kab]=Anadi
Name[kk]=Іздеу
Name[km]=ស្វែងរក
Name[kn]=ಹುಡುಕು
Name[ko]=검색
Name[ku]=Lê bigere
Name[ky]=Издөө
Name[lt]=Paieška
Name[lv]=Meklēt
Name[mai]=खोजू
Name[mg]=Karohy
Name[mjw]=Kiri
Name[mk]=Пребарувај
Name[ml]=തെരച്ചില്‍
Name[mn]=Хайх
Name[mr]=शोधा
Name[ms]=Gelintar
Name[my]=ရှာမည်
Name[nb]=Søk
Name[nds]=Sök
Name[ne]=खोजी गर्नुहोस्
Name[nl]=Zoeken
Name[nn]=Søk
Name[nso]=Nyakišiša
Name[oc]=Recercar
Name[or]=ଖୋଜନ୍ତୁ
Name[pa]=ਖੋਜ
Name[pl]=Wyszukiwanie
Name[pt]=Procurar
Name[pt_BR]=Pesquisa
Name[ro]=Căutare
Name[ru]=Поиск
Name[rw]=Gushaka
Name[si]=සොයන්න
Name[sk]=Vyhľadávanie
Name[sl]=Iskanje
Name[sq]=Kërko
Name[sr]=Претрага
Name[sr@latin]=Pretraga
Name[sv]=Sök
Name[ta]=தேடு
Name[te]=శోధించు
Name[tg]=Ҷустуҷӯ
Name[th]=ค้นหา
Name[tr]=Arama
Name[ug]=ئىزدە
Name[uk]=Пошук
Name[uz]=Qidirish
Name[uz@cyrillic]=Қидириш
Name[vi]=Tìm kiếm
Name[xh]=Khangela
Name[zh_CN]=搜索
Name[zh_HK]=搜尋
Name[zh_TW]=搜尋
Name[zu]=Hlola
Name=Search
Comment[be]=Праграмы, якія паказваюць вынікі пошуку ў рэжыме Агляд дзейнасці
Comment[be@latin]=Prahramy, jakija pakazvajuć vyniki pošuku ŭ režymie Ahlad dziejnasci
Comment[bg]=Определяне на приложенията, които да показват резултати в прегледа на дейностите
Comment[ca]=Controleu quines aplicacions mostren resultats de cerca a la vista general d'activitats
Comment[cs]=Určit, které aplikace mohou zobrazovat výsledky hledání v přehledu Činností
Comment[da]=Bestem, hvilke programmer der viser søgeresultater i aktivitetsoversigten
Comment[de]=Legt fest, welche Anwendungen Suchergebnisse in der Aktivitätenübersicht anzeigen
Comment[el]=Ελέγξτε ποιες εφαρμογές εμφανίζουν αποτελέσματα αναζήτησης στην Επισκόπηση Δραστηριότητες
Comment[en_GB]=Control which apps show search results in the Activities Overview
Comment[es]=Controlar qué aplicaciones muestran resultados de búsqueda en la vista de actividades
Comment[eu]=Kontrolatu zer aplikaziok erakusten dituzten bilaketen emaitzak 'Jarduerak' ikuspegian
Comment[fa]=واپایش کاره‌هایی که در نمای کلّی فعّالیت‌ها، نتیجه نشان می‌دهند
Comment[fi]=Valitse mitkä sovellukset näyttävät hakutuloksia Toiminnot-yleisnäkymässä
Comment[fr]=Contrôler quelles applications affichent les résultats d’une recherche dans la vue d’ensemble des activités
Comment[fur]=Controle cualis aplicazions a mostrin risultâts di ricercje te panoramiche ativitâts
Comment[gl]=Controla que aplicacións mostran resultados de busca na Vista de actividades
Comment[he]=שליטה באילו יישומים יציגו תוצאות חיפוש בסקירת פעילויות
Comment[hi]=नियंत्रित करें कि कौन से ऐप्स गतिविधि अवलोकन में खोज परिणाम दिखाते हैं
Comment[hu]=Annak szabályozása, hogy mely alkalmazások jelenítsenek meg keresési eredményeket a Tevékenységek áttekintésében
Comment[id]=Kendalikan aplikasi mana yang menampilkan hasil pencarian dalam Ringkasan Aktivitas
Comment[it]=Controlla quali applicazioni mostrano risultati di ricerca nella panoramica attività
Comment[ka]=აკონტროლეთ რომელი აპები აჩვენებენ ძებნის შედეგებს აქტივობების გადახედვაში
Comment[kk]=Көріністе қай қолданбалар іздеу нәтижелерін көрсететінінді басқару
Comment[ko]=어떤 앱에서 활동 내역에 검색 결과를 표시할지 설정합니다.
Comment[lt]=Valdykite, kurios programos rodo paieškos rezultatus veiklų apžvalgoje
Comment[lv]=Noteikt, kuras lietotnes rāda meklēšanas rezultātus aktivitāšu pārskatā
Comment[my]=လုပ်ဆောင်ချက်များ အကျဉ်းချုပ်တွင် ရှာဖွေမှုရလဒ်များကို ပြသသည့်အက်ပ်များကို ထိန်းချုပ်ပါ
Comment[nb]=Styr hvilke apper som viser søketreff i oversikten
Comment[nl]=Bepaal welke toepassingen zoekresultaten tonen in het activiteitenoverzicht
Comment[oc]=Controlar quinas aplicacions afichan los resultats d'una recèrca dins la vista d'ensemble de las activitats
Comment[pa]=ਕੰਟਰੋਲ ਕਰੋ ਕਿਹੜੀਆਂ ਐਪਾਂ ਸਰਗਰਮੀ ਝਲਕ ਵਿੱਚ ਖੋਜ ਨਤੀਜਿਆਂ ਵਿੱਚ ਦਿਸਣ
Comment[pl]=Sterowanie programami wyświetlającymi wyniki wyszukiwania na ekranie podglądu
Comment[pt]=Controlar que aplicações mostram resultados de pesquisa no Resumo de Atividades
Comment[pt_BR]=Controle quais aplicativos mostram resultados de pesquisa no panorama de atividades
Comment[ro]=Controlați ce aplicații arată rezultatele căutării în prezentarea generală a activităților
Comment[ru]=Какие приложения показывают результаты поиска в режиме «Обзор»
Comment[sk]=Ovláda zoznam aplikácií, ktoré môžu zobraziť výsledky v prehľade činností
Comment[sl]=Upravljanje programov, ki v pregledu dejavnosti prikazujejo rezultate iskanja
Comment[sr]=Одређује који програми ће приказивати резултате претраге у прегледу активности
Comment[sr@latin]=Određuje koji programi će prikazivati rezultate pretrage u pregledu aktivnosti
Comment[sv]=Styr vilka program som visar sökresultat i Aktivitetsöversikten
Comment[th]=ควบคุมว่าแอปใดจะแสดงผลการค้นหาในภาพรวมกิจกรรม
Comment[tr]=Hangi uygulamaların arama sonuçlarını Etkinlikler Genel Görünümünde göstereceğini belirleyin
Comment[uk]=Вказує, які програми показувати у результатах пошуку в огляді діяльності
Comment[vi]=Điều chỉnh ứng dụng nào hiển thị kết quả tìm kiếm trong một “Tổng quan hoạt động”
Comment[zh_CN]=控制在活动概览中显示哪些应用的搜索结果
Comment[zh_TW]=控制在概覽中哪些應用程式會顯示在搜尋結果
Comment=Control which apps show search results in the Activities Overview
Exec=gnome-control-center search
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.Settings-search-symbolic
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Settings;DesktopSettings;X-GNOME-Settings-Panel;X-GNOME-PersonalizationSettings;
OnlyShowIn=GNOME;Unity;
# Translators: Search terms to find the Search panel. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[af]=soek;vind;indeks;versteek;privaatheid;resultate;
Keywords[an]=buscar;busca;indiz;amagar;privacidat;resultaus;
Keywords[ar]=بحث;إخفاء;نتائج;خصوصية;
Keywords[as]=Search;Find;Index;Hide;Privacy;Results;
Keywords[be]=Search;Find;Index;Hide;Privacy;Results;Пошук;Індэкс;Схаваць;Прыватнасць;Асабістыя даныя;Вынікі;
Keywords[be@latin]=Search;Find;Index;Hide;Privacy;Results;Pošuk;Indeks;Schavać;Pryvatnasć;Asabistyja danyja;Vyniki;
Keywords[bg]=търсене;намиране;индекс;скриване;личен;частен;резултати;search;find;index;hide;privacy;results;
Keywords[bn_IN]=সন্ধান;খোঁজ;সূচি;লুকানো;গোপনীয়তা;ফলাফল;
Keywords[bs]=Pretraga;Pronađi;Sakri;rivatnost;Rezultati;
Keywords[ca]=Cerca;Troba;Índex;Oculta;Privacitat;Resultats;
Keywords[ca@valencia]=Busca;Troba;Índex;Oculta;Privacitat;Resultats;
Keywords[ckb]=Search;Find;Index;Hide;Privacy;Results;
Keywords[cs]=hledání;hledat;najít;index;skrýt;soukromí;privátní;výsledky;
Keywords[da]=Søg;Find;Indeks;Skjul;Privatliv;Resultater;
Keywords[de]=Suchen;Finden;Index;Verbergen;Privatsphäre;Ergebnisse;Datenschutz;
Keywords[el]=Αναζήτηση;Εύρεση;Ευρετήριο;Απόκρυψη;Ιδιωτικότητα;Αποτελέσματα;Search;Find;Index;Hide;Privacy;Results;
Keywords[en_GB]=Search;Find;Index;Hide;Privacy;Results;
Keywords[eo]=Serĉi;Trovi;Indeksi;Kaŝi;Privateco;Rezultoj;
Keywords[es]=buscar;búsqueda;índice;ocultar;privacidad;resultados;
Keywords[et]=otsing;leia;leidmine;indeks;peida;peitmine;varjamine;privaatsus;tulemused;
Keywords[eu]=Bilaketa;Bilatu;Indizea;Ezkutatu;Pribatua;Emaitzak;
Keywords[fa]=Search;Find;Index;Hide;Privacy;Results;جست‌وجو;پیدا;فهرست;مخفی; حریم خصوصی;محرمانگی;نتایج;
Keywords[fi]=Search;Find;Index;Hide;Privacy;Results;Haku;Etsi;Indeksi;Piilota;Yksityisyys;Tulokset;Hakutulokset;
Keywords[fr]=Rechercher;Recherche;Index;Masquer;Confidentialité;Privé;Résultats;
Keywords[fur]=Cîr;Cjate;Indiç;Plate;Privacy;Risultâts;
Keywords[gd]=Search;Find;Index;Hide;Privacy;Results;lorg;inneacs;clàr-amais;falaich;prìobhaideachd;toraidhean;
Keywords[gl]=Buscar;Atopar;Índice;Oculto;Privacidade;Resultados;
Keywords[gu]=શોધો;શોધો;અનુક્રમણિકા;છુપાડો;ખાનગી;પરિણામો;
Keywords[he]=חיפוש;מציאה;חפש;מצא;למצוא;לחפש;אינדקס;מפתח;הסתרה;החבאה;פרטיות;תוצאות;
Keywords[hi]=खोजें;सूचकांक;छिपाएं;गोपनीयता;परिणाम;
Keywords[hr]=Pretraga;Pretraži;Sadržaj;Sakrij;Privatnost;Rezultati;
Keywords[hu]=Keresés;Indexelés;Elrejtés;Adatvédelem;Találatok;Eredmények;
Keywords[id]=Cari;Temukan;Indeks;Sembunyikan;Privasi;Hasil;
Keywords[is]=Leita;Finna;Yfirlit;Fela;Gagnaleynd;Niðurstöður;
Keywords[it]=Cerca;Trova;Indice;Nascondi;Privacy;Risultati;
Keywords[ja]=Search;Find;Index;Hide;Privacy;Results;サーチ;検索;インデックス;索引;非表示;プライバシー;結果;
Keywords[ka]=Search;Find;Index;Hide;Privacy;Results;ძებნა;შედეგი;ინდექსი;
Keywords[kk]=Search;Find;Index;Hide;Privacy;Results;Іздеу;Табу;Индекс;Жасыру;Жекелік;Нәтижелер;
Keywords[kn]=ಶೋಧಿಸು;ಹುಡುಕು;ಸೂಚಿ;ಅಡಗಿಸು;ಗೌಪ್ಯತೆ;ಫಲಿತಾಂಶಗಳು;
Keywords[ko]=Search;검색;Find;찾기;Index;인덱스;색인;Hide;숨기기;Privacy;개인;정보;사생활;프라이버시;보호;Results;결과;
Keywords[lt]=Paieška;rasti;indeksas;slėpti;privatumas;rezultatai;
Keywords[lv]=Meklēt;Atrast;Indekss;Rādītājs;Slēpt;Privātums;Rezultāti;
Keywords[mjw]=Search;Find;Index;Hide;Privacy;Results;
Keywords[ml]=Search;Find;Index;Hide;Privacy;Results;
Keywords[mr]=सर्च;फाइंड;इंडेक्स;छुपे करा;गोपणीयता;परिणाम;
Keywords[ms]=Gelintar;Cari;Indeks;Sembunyi;Kerahsiaan;Keputusan;
Keywords[my]=ရှာဖွေရန်;ရှာဖွေရန်;အညွှန်း;ဝှက်ထားရန်;ကိုယ်ရေးကိုယ်တာ;ရလဒ်များ;
Keywords[nb]=Søk;Finn;Indeks;Personvern;Apper;Resultater;
Keywords[ne]=खोजी गर्नुहोस्; फेला पार्नुहोस्;अनुक्रमणिका; लुकाउनुहोस्; गोपनीयता; परिणाम;
Keywords[nl]=Search;Find;Index;Hide;Privacy;Results;Zoeken;Verbergen;
Keywords[oc]=Recercar;Recèrca;Indèx;Amagar;Confidencialitat;Privat;Resultats;
Keywords[or]=ସନ୍ଧାନ କରନ୍ତୁ;ଖୋଜନ୍ତୁ;ଅନୁକ୍ରମଣିକା;ଲୁଚନ୍ତୁ;ଗୋପନୀୟତା;ଫଳାଫଳ;
Keywords[pa]=ਖੋਜ;ਲੱਭੋ;ਲੱਭਣਾ;ਇੰਡੈਕਸ;ਤਤਕਰਾ;ਪਰਾਈਵੇਸੀ;ਨਤੀਜੇ;
Keywords[pl]=Wyszukiwanie;Znajdź;Szukaj;Wyszukaj;Indeksowanie;Index;Ukryj;Ukrywanie;Prywatność;Wyniki;
Keywords[pt]=Procurar;Pesquisar;Localizar;Índice;Ocultar;Esconder;Privacidade;Resultados;
Keywords[pt_BR]=Pesquisa;Localizar;Índice;Ocultar;Privacidade;Resultados;
Keywords[ro]=Search;Find;Index;Hide;Privacy;Results;Caută;Căutare;Găsire;Ascunde;Confidențialitate;Rezultate;
Keywords[ru]=Search;Find;Index;Hide;Privacy;Results;Поиск;Найти;Индекс;Скрыть;Конфиденциальность;Результаты;
Keywords[sk]=Vyhľadávanie;Nájsť;Index;Skryť;Súkromie;Výsledky;
Keywords[sl]=iskanje;išči;najdi;kazalo;skrij;zasebnost;zadetki;privatno;
Keywords[sr]=Search;Find;Index;Hide;Privacy;Results;нађи;тражи;пронађи;потражи;попис;индекс;сакриј;приватност;резултати;
Keywords[sr@latin]=Search;Find;Index;Hide;Privacy;Results;nađi;traži;pronađi;potraži;popis;indeks;sakrij;privatnost;rezultati;
Keywords[sv]=Sök;Hitta;Index;Göm;Sekretess;Resultat;
Keywords[ta]=தேடு;கண்டறி;அட்டவணை;மறை;தனியுரிமை;முடிவுகள்;
Keywords[te]=అన్వేషించు;కనుగొను;విషయసూచి;మరగునవుంచు;గోప్యత;ఫలితాలు;
Keywords[tg]=Ҷустуҷӯ;Ёфтан;Индекс;Пинҳон кардан;Махфият;Натиҷаҳо;
Keywords[th]=การค้นหา;หา;ดัชนี;ซ่อน;ความเป็นส่วนตัว;ผล;
Keywords[tr]=Search;Find;Index;Hide;Privacy;Results;Ara;Bul;Endeks;Gizle;Gizlilik;Mahremiyet;Sonuçlar;
Keywords[ug]=Search;Find;Index;Hide;Privacy;Results;ئىزدەش;تېپىش;ئىندېكس;يوشۇرۇش;شەخسىيەت;نەتىجىلەر;
Keywords[uk]=Пошук;Знайти;Індекс;Сховати;Конфіденційність;Результати;
Keywords[vi]=Search;Tìm;tim;Find;Index;Mục;lục;muc;luc;Hide;Ẩn;an;Privacy;Riêng;tư;rieng;tu;Results;Kết;quả;ket;qua;
Keywords[zh_CN]=Search;Find;Index;Hide;Privacy;Results;搜索;查找;寻找;索引;隐藏;隐私;结果;
Keywords[zh_HK]=Search;Find;Index;Hide;Privacy;Results;搜尋;尋找;索引;隱藏;私隱;結果;
Keywords[zh_TW]=Search;Find;Index;Hide;Privacy;Results;搜尋;尋找;索引;隱藏;隱私;結果;
Keywords=Search;Find;Index;Hide;Privacy;Results;
