[Desktop Entry]
Name[be]=Праграмы
Name[be@latin]=Prahramy
Name[bg]=Програми
Name[ca]=Aplicacions
Name[cs]=Aplikace
Name[da]=Programmer
Name[de]=Anwendungen
Name[el]=Εφαρμογές
Name[en_GB]=Apps
Name[eo]=Aplikoj
Name[es]=Aplicaciones
Name[eu]=Aplikazioak
Name[fa]=کاره‌ها
Name[fi]=Sovellukset
Name[fo]=Forrit
Name[fr]=Applications
Name[fur]=Aplicazions
Name[gl]=Aplicacións
Name[he]=יישומים
Name[hi]=ऐप
Name[hu]=Alkalmazások
Name[id]=Aplikasi
Name[it]=Applicazioni
Name[ka]=აპები
Name[kab]=Isnasen
Name[kk]=Қолданбалар
Name[ko]=앱
Name[lt]=Programos
Name[lv]=Lietotnes
Name[my]=အက်ပ်များ
Name[nb]=Apper
Name[nl]=Toepassingen
Name[oc]=Aplicacions
Name[pa]=ਐਪਾਂ
Name[pl]=Programy
Name[pt]=Aplicações
Name[pt_BR]=Aplicativos
Name[ro]=Aplicații
Name[ru]=Приложения
Name[sk]=Aplikácie
Name[sl]=Programi
Name[sr]=Програми
Name[sr@latin]=Programi
Name[sv]=Program
Name[th]=แอป
Name[tr]=Uygulamalar
Name[uk]=Програми
Name[vi]=Ứng dụng
Name[zh_CN]=应用
Name[zh_TW]=程式
Name=Apps
Comment[be]=Кіраванне разнастайнымі дазволамі і наладамі праграмы
Comment[be@latin]=Kiravannie raznastajnymi dazvołami i naładami prahramy
Comment[bg]=Управление на настройките и правата на програмите
Comment[ca]=Controla diversos permisos i paràmetres d'aplicació
Comment[cs]=Určit různorodá oprávnění a nastavení aplikací
Comment[da]=Kontrollér forskellige programrettigheder og -indstillinger
Comment[de]=Legt verschiedene Anwendungs-Berechtigungen und Einstellungen fest
Comment[el]=Ελέγξτε τα διάφορα δικαιώματα και ρυθμίσεις εφαρμογών
Comment[en_GB]=Control various app permissions and settings
Comment[eo]=Kontroli diversajn permesojn kaj agordojn de aplikaĵo
Comment[es]=Controlar la configuración y los permisos de varias aplicaciones
Comment[eu]=Kontrolatu aplikazioen baimenak eta ezarpenak
Comment[fa]=واپایش اجازه‌ها و تنظیمات کاره‌های مختلف
Comment[fi]=Hallitse sovellusten eri oikeuksia ja asetuksia
Comment[fo]=Hav eftirlit við ymiskum heimildum og stillingum á forritum
Comment[fr]=Contrôle diverses permissions et réglages d’application
Comment[fur]=Controle i permès e lis impostazions des varis aplicazions
Comment[gl]=Controle os permisos e preferencias de varias aplicacións
Comment[he]=שליטה בהגדרות והרשאות של מספר יישומים
Comment[hi]=विभिन्न ऐप अनुमतियों और सेटिंग्स को नियंत्रित करें
Comment[hu]=Különböző alkalmazások jogosultságainak és beállításainak szabályozása
Comment[id]=Kontrol berbagai izin dan pengaturan aplikasi
Comment[it]=Controlla permessi e impostazioni delle applicazioni
Comment[ka]=აპლიკაციის სხვადასხვა პარამეტრებისა და წვდომების კონტროლი
Comment[kk]=Қолданбалардың түрлі рұқсаттарын және баптауларын басқару
Comment[ko]=여러가지 앱 권한과 설정 조정
Comment[lt]=Valdyti įvairius programos leidimus bei nustatymus
Comment[lv]=Kontrolēt dažādas lietotnes atļaujas un iestatījumus
Comment[my]=အက်ပ်ခွင့်ပြုချက်အမျိုးမျိုးနှင့် သတ်မှတ်ချက်များကို ထိန်းချုပ်ပါ
Comment[nb]=Endre tillatelser og innstillinger for apper
Comment[nl]=Beheer verschillende toepassingsrechten en -instellingen
Comment[oc]=Controlar divèrsas permissions e reglatges d’aplicacion
Comment[pa]=ਕਈ ਐਪ ਇਜਾਜ਼ਤਾਂ ਅਤੇ ਸੈਟਿੰਗਾਂ ਨੂੰ ਕੰਟੋਰਲ ਕਰਦਾ ਹੈ
Comment[pl]=Sterowanie różnymi uprawnieniami i ustawieniami programów
Comment[pt]=Controlar várias permissões e definições de aplicações
Comment[pt_BR]=Controle várias permissões e configurações de aplicativos
Comment[ro]=Controlați diferite permisiuni și configurări ale aplicației
Comment[ru]=Управление различными разрешениями и настройками приложения
Comment[sk]=Ovládať rozličné oprávnenia a nastavenia aplikácií
Comment[sl]=Upravljanje dovoljenj in nastavitev programov
Comment[sr]=Управља разним овлашћењима и подешавањима програма
Comment[sr@latin]=Upravlja raznim ovlašćenjima i podešavanjima programa
Comment[sv]=Styr diverse rättigheter och inställningar för program
Comment[th]=ควบคุมการอนุญาตสิทธิ์และการตั้งค่าต่างๆ ของแอป
Comment[tr]=Türlü uygulama izinlerini ve ayarlarını denetle
Comment[uk]=Керування різними дозволами й налаштуваннями програм
Comment[vi]=Điều khiển các phân quyền và cài đặt của ứng dụng nhiều thứ khác nhau
Comment[zh_CN]=控制各种应用权限和设置
Comment[zh_TW]=控制各程式的取用權與設定值
Comment=Control various app permissions and settings
Exec=gnome-control-center applications
# FIXME
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.Settings-applications-symbolic
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Settings;DesktopSettings;X-GNOME-Settings-Panel;X-GNOME-AccountSettings;
OnlyShowIn=GNOME;Unity;
# Translators: Search terms to find the Apps panel. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[be]=application;flatpak;permission;setting;default;preferred;media;autorun;cd;dvd;usb;audio;video;disc;removable;device;system;праграма;доступ;дазвол;налады;прадвызначаныя;аўтазапуск;аўтаматычны запуск;аўдыя;відэа;зменны;здымны;здымныя;носьбіты;дыск;прылады;прыстасаванне;сістэмныя;сістэма;
Keywords[be@latin]=application;flatpak;permission;setting;default;preferred;media;autorun;cd;dvd;usb;audio;video;disc;removable;device;system;prahrama;dostup;dazvoł;nałady;pradvyznačanyja;aŭtazapusk;aŭtamatyčny zapusk;aŭdyja;videa;zmienny;zdymny;zdymnyja;nośbity;dysk;pryłady;prystasavannie;sistemnyja;sistema;
Keywords[bg]=устройство;система;стандартна;приложение;програма;предпочитана;cd;dvd;usb;звук;аудио;видео;диск;преносим;носител;автоматично;стартиране;device;system;default;application;preferred;audio;video;disc;removable;media;autorun;
Keywords[ca]=aplicació;flatpak;permisos;paràmetre;predeterminat;preferit;mitjans;execució automàtica;cd;dvd;usb;àudio;vídeo;disc;extraïble;dispositiu;sistema;
Keywords[cs]=aplikace;flatpak;oprávnění;nastavení;výchozí;preferovaný;preferovaná;preferované;upřednostňovaný;upřednostňovaná;upřednostňované;média;médium;automatické spuštění;cd;dvd;usb;zvuk;audio;video;disk;výměnný;výměnná;výměnné;vyměnitelný;vyměnitelná;vyměnitelné;zařízení;systém;
Keywords[da]=program;flatpak;rettighed;tilladelse;indstilling;standard;foretrukken;favorit;medie;autorun;autokørsel;cd;dvd;usb;lyd;audio;video;disk;flytbar;ekstern;enhed;system;
Keywords[de]=application;flatpak;permission;setting;default;preferred;media;autorun;cd;dvd;usb;audio;video;disc;removable;device;system;Anwendung;Flatpak;Berechtigung;Einstellung;Vorgabe;Standard;bevorzugt;Medien;Autostart;CD;DVD;USB;Audio;Video;Disc;Entfernbar;Gerät;System;
Keywords[en_GB]=application;flatpak;permission;setting;default;preferred;media;medium;autorun;cd;dvd;usb;audio;video;disc;removable;device;system;
Keywords[es]=aplicación;flatpak;permisos;configuracion;predeterminada;favorita;media;autoejecutar;cd;dvd;usb;sonido;vídeo;disco;extraíble;dispositivo;sistema;
Keywords[eu]=aplikazioa;flatpak;baimena;ezarpena;lehenetsia;hobetsia;euskarria;autorun;cd;dvd;usb;audioa;bideoa;diskoa;aldagarria;gailua;sistema;
Keywords[fa]=application;flatpak;permission;setting;default;preferred;media;autorun;cd;dvd;usb;audio;video;disc;removable;device;system;برنامه;فلت‌پک;اجازه;تنظیمات;پیش‌گزیده;ترجیحی;رسانه;اجرای خودکار;سی‌دی;دی‌وی‌دی;یواس‌بی;صدا;ویدیو;دیسک;برداشتنی;افزاره;سامانه;
Keywords[fi]=application;flatpak;permission;setting;default;preferred;media;autorun;cd;dvd;usb;audio;video;disc;removable;device;system;sovellus;oikeus;asetus;oletus;ensisijainen;automaattikäynnistys;ääni;levy;irrotettava;laite;järjestelmä;
Keywords[fo]=forrit;farrit;flatpak;heimild;loyvi;stillilngar;forsett;vanligt;fyritrukkin;miðlar;miðil;media;autorun;sjálvkoyrsla;sjálvkoyrandi;cd;dvd;usb;ljóð;myndband;sjónband;fløga;disk;flytbarur;ekstern;tól;tóleind;skipan;
Keywords[fr]=application;flatpak;permission;paramètre;par défaut;préférée;média;exécution automatique;cd;dvd;usb;audio;vidéo;disque;amovible;périphérique;système;
Keywords[fur]=aplicazion;flatpak;permès;impostazion;predefinît;predefinide;preferît;preferide;supuart;multimedia;cd;dvd;usb;audio;video;disc;estraibil;dispositîf;sisteme;
Keywords[gl]=aplicación;flatpak;permiso;preferencia;predeterminado;soporte;autorun;cd;dvd;usb;son;video;disco;extraíbel;dispositivo;sistema;
Keywords[he]=יישום;flatpak;הרשאה;הרשאות;הגדרה;הגדרות;ברירת מחדל;בררת מחדל;העדפה;מדיה;הרצה אוטומטית;הפעלה אוטומטית;התקן;מערכת;העדפה;מועדף;דיסק;תקליטור;DVD;USB;שמע;אודיו;חוזי;וידאו;נשלף;נתיק;מדיה;
Keywords[hi]=अनुप्रयोग;flatpak;अनुमति;सेटिंग;तयशुदा;पसंदीदा;मीडिया; स्वचलित;CD;DVD;USB;ऑडियो;वीडियो;डिस्क;हटाने-योग्य;उपकरण;सिस्टम;
Keywords[hu]=alkalmazás;flatpak;jogosultság;beállítás;alapértelmezett;előnyben részesített;média;adathordozó;automatikus futtatás;cd;dvd;usb;hang;videó;lemez;eltávolítható;cserélhető;eszköz;rendszer;
Keywords[id]=aplikasi;flatpak;izin;pengaturan;baku;default;disukai;media;autorun;cd;dvd;usb;audio;video;cakram;lepasan;perangkat;piranti;sistem;
Keywords[it]=applicazione;app;flatpak;permesso;permessi;impostazioni;default;predefinito;predefinita;preferite;media;supporti;autorun;cd;dvd;usb;audio;video;disco;rimovibile;media;multimedia;esecuzione;
Keywords[ka]=device;system;default;application;preferred;cd;dvd;usb;audio;video;disc;removable;media;autorun;მოწყობილობა;სისტემა;ნაგულისხმევი;აუდიო;მედია;
Keywords[kk]=application;flatpak;permission;setting;default;preferred;media;autorun;cd;dvd;usb;audio;video;disc;removable;device;system;қолданба;рұқсат;баптау;үнсіз келісім;таңдамалы;тасушы;автожөнелту;аудио;видео;диск;ауыстырмалы;құрылғы;жүйе;
Keywords[ko]=application;앱;애플리케이션;flatpak;플랫팩;permission;권한;퍼미션;setting;설정;세팅;default;기본값;디폴트;preferred;선호;옵션;media;미디어;autorun;자동;실행;cd;dvd;usb;audio;오디오;음성;video;비디오;영상;disc;디스크;removable;이동식;device;장치;system;시스템;
Keywords[lt]=programa;flatpak;leidimas;nuostata;pageidaujama;laikmena;autopaleidimas;cd;dvd;usb;audio;video;diskas;išimama;įrenginys;sistema;
Keywords[lv]=lietotne;lietojumprogramma;flatpak;iestatījums;noklusējums;cd;dvd;usb;audio;video;disks;izņemams;noņemamas;vide;nesējs;datu nesējs;automātiski palaist;application;flatpak;permission;setting;default;preferred;media;autorun;cd;dvd;usb;audio;video;disc;removable;device;system;
Keywords[nb]=app;flatpak;snap;tillatelse;tilgang;medier;oppstart;cd;dvd;cd;dvd;usb;lyd;bilde;lagringsenhet;disk;uttagbar;enhet;system;
Keywords[nl]=application;flatpak;permission;setting;default;preferred;media;autorun;cd;dvd;usb;audio;video;disc;removable;device;system;toepassing;applicatie;toestemming;toelating;toegangsrecht;instelling;standaard;voorkeur;automatisch uitvoeren;automatisch openen;schijf;verwijderbaar;apparaat;systeem;
Keywords[oc]=aplicacion;flatpak;permission;autorizacion;paramètres;per defaut;preferida;mèdia;autorun;aviada;cd;dvd;usb;àudio;vidèo;disc;amovible;periferic;sistèma;
Keywords[pa]=ਐਪਲੀਕੇਸ਼ਨ;ਫਲੈਟਪੈਕ;ਅਧਿਕਾਰ;ਇਜਾਜ਼ਤ;ਸੈਟਿੰਗ;ਡਿਫਾਲਟ;ਡਿਫੌਲਟ;ਮੂਲ;ਪਹਿਲ;ਤਰਜੀਹੀ;ਮੀਡੀਆ;ਸਥਾਪਨ;ਮੀਡਿਆ;ਆਟੋ-ਰਨ;ਸੀਡੀ;ਡੀਵੀਡੀ;ਯੂਐਸਬੀ;ਆਡੀਓ;ਵਿਡੀਓ;ਵੀਡੀਓ;ਡਿਸਕ;ਹਟਾਉਣਯੋਗ;ਡਿਵਾਈਸ;ਯੰਤਰ;ਜੰਤਰ;ਸਿਸਟਮ;
Keywords[pl]=programy;aplikacje;apki;flatpak;uprawnienia;domyślne;preferowane;nośniki;automatyczne;uruchamianie;autorun;cd;dvd;usb;dźwięk;audio;wideo;video;płyta;dysk;wymienny;urządzenia;systemowe;
Keywords[pt]=aplicação;flatpak;permissão;definição;omissão;preferido;media;autorun;cd;dvd;usb;audio;video;disco;removível;dispositivo;sistema;
Keywords[pt_BR]=aplicativo;flatpak;permissão;configuração;padrão;preferido;mídia;execução automática;cd;dvd;usb;áudio;vídeo;disco;removível;dispositivo;sistema;
Keywords[ro]=application;flatpak;permission;setting;default;preferred;media;autorun;cd;dvd;usb;audio;video;disc;removable;device;system;aplicație;permisiune;implicit;preferat;rulare automată;detașabil;dispozitiv;sistem;
Keywords[ru]=устройство;система;по умолчанию;приложение;предпочтительный;cd;dvd;usb;аудио;видео;диск;съёмный;съемный;носитель;автозапуск;flatpak;разрешения;настройка;
Keywords[sk]=aplikácia;flatpak;oprávnenie;nastavenie;predvolené;preferovaný;preferovaná;uprednosťnovaný;uprednostňovaná;uprednostňované;médium;médiá;automatické spustenie;cd;dvd;usb;zvuk;audio;video;disk;vymeniteľný;vymeniteľné;automatické otvorenie;zariadenie;systém;otváranie;nosič;
Keywords[sl]=naprava;sistem;podrobnosti;pomnilnik;procesor;različica;privzeto;program;povrnjeno:prednostno;cd;dvd;usb;zvok;slika;video;disk;odstrani;predstavnost;samodejni zagon;application;flatpak;permission;setting;default;preferred;media;autorun;cd;dvd;usb;audio;video;disc;removable;device;system;
Keywords[sr]=апликација;програм;флетпек;дозволе;подешавање;подразумевано;медији;цд;двд;усб;звук;аудио;снимак;видео;диск;уклоњиви;медијум;носач;самопокретање;aplikacija;program;fletpek;dozvole;podešavanje;podrazumevano;mediji;cd;dvd;usb;zvuk;audio;snimak;video;disk;uklonjivi;medijum;nosač;samopokretanje;device;system;default;application;preferred;cd;dvd;usb;audio;video;disc;removable;media;autorun;
Keywords[sr@latin]=aplikacija;program;fletpek;dozvole;podešavanje;podrazumevano;mediji;cd;dvd;usb;zvuk;audio;snimak;video;disk;uklonjivi;medijum;nosač;samopokretanje;aplikacija;program;fletpek;dozvole;podešavanje;podrazumevano;mediji;cd;dvd;usb;zvuk;audio;snimak;video;disk;uklonjivi;medijum;nosač;samopokretanje;device;system;default;application;preferred;cd;dvd;usb;audio;video;disc;removable;media;autorun;
Keywords[sv]=program;app;applikation;flatpak;behörighet;rättighet;inställning;standard;föredragen;media;autostart;automatisk;körning;cd;dvd;usb;ljud;audio;video;skiva;flyttbar;enhet;system;
Keywords[th]=แอปพลิเคชัน;flatpak;การกำหนดสิทธิ์;ตั้งค่า;เริ่มต้น;ปรับแต่ง;สื่อ;ออโต้รัน;ซีดี;ดีวีดี;usb;เสียง;วิดีโอ;ดิสก์;ถอดเสียบ;อุปกรณ์;ระบบ;
Keywords[tr]=application;flatpak;permission;setting;default;preferred;media;autorun;cd;dvd;usb;audio;video;disc;removable;device;system;uygulama;izin;ayar;ayarlar;öntanımlı;varsayılan;yeğlenen;tercih;edilen;ortam;medya;kendiliğinden çalıştır;otomatik çalıştır;ses;video;görüntü;disk;çıkarılabilir;çıkartılabilir;kaldırılabilir;aygıt;cihaz;sistem;
Keywords[uk]=application;flatpak;permission;setting;default;preferred;media;autorun;cd;dvd;usb;audio;video;disc;removable;device;system;програма;флетпак;права;доступ;параметр;налаштування;типовий;бажаний;носій;автозапуск;кд;компакт;диск;дівіді;юесбі;звук;відео;диск;портативний;пристрій;система;
Keywords[zh_CN]=application;flatpak;permission;setting;default;preferred;media;autorun;cd;dvd;usb;audio;video;disc;removable;device;system;应用程序;权限;设置;默认;首选项;媒体;自动运行;音频;视频;光盘;光碟;盘片;可移除;设备;系统;
Keywords[zh_TW]=application;flatpak;permission;setting;default;preferred;media;autorun;cd;dvd;usb;audio;video;disc;removable;device;system;應用程式;權限;取用權;設定;預設;首選;偏好;媒體;自動執行;音訊;視訊;光碟;可卸除;裝置;系統;
Keywords=application;flatpak;permission;setting;default;preferred;media;autorun;cd;dvd;usb;audio;video;disc;removable;device;system;
