[Desktop Entry]
# IBus Wayland is a branding name but not translatable.
Name=IBus Wayland
Exec=/usr/lib/ibus/ibus-ui-gtk3 --enable-wayland-im --exec-daemon --daemon-args "--xim --panel disable"
Type=Application
X-KDE-Wayland-VirtualKeyboard=true
Icon=ibus
NoDisplay=true
