[Desktop Entry]
Name[ar]=تِكلا
Name[be]=Tecla
Name[bg]=Tecla
Name[ca]=Tecla
Name[cs]=Tecla
Name[da]=Tecla
Name[de]=Tecla
Name[el]=Tecla
Name[en_GB]=Tecla
Name[eo]=Tecla
Name[eu]=Tekla
Name[es]=Tecla
Name[fa]=تکلا
Name[fi]=Tecla
Name[fr]=Tecla
Name[fur]=Tecla
Name[gl]=Tecla
Name[he]=Tecla
Name[hi]=Tecla
Name[hu]=Tekla
Name[id]=Tecla
Name[ie]=Tecla
Name[it]=Tecla
Name[ka]=Tecla
Name[kab]=Tecla
Name[ko]=테클라
Name[lt]=Tecla
Name[lv]=Tecla
Name[ne]=टेक्ला
Name[nl]=Tecla
Name[oc]=Tecla
Name[pa]=ਟੈਕਲਾ
Name[pl]=Tecla
Name[pt]=Tecla
Name[pt_BR]=Tecla
Name[ro]=Tecla
Name[ru]=Tecla
Name[sk]=Tecla
Name[sl]=Tekla
Name[sr]=Текла
Name[sr@latin]=Tekla
Name[sv]=Tecla
Name[tr]=Tecla
Name[uk]=Tecla
Name[zh_CN]=Tecla
Name[zh_TW]=Tecla
Name=Tecla
Comment[ar]=عاين تخطيطات لوحة المفاتيح
Comment[be]=Папярэдні прагляд раскладак клавіятуры
Comment[bg]=Преглед на подредбите на клавиатурата
Comment[ca]=Vista prèvia de les disposicions de teclat
Comment[cs]=Zobrazte náhled rozložení klávesnice
Comment[da]=Forhåndsvis tastaturlayout
Comment[de]=Vorschau der Tastaturbelegungen
Comment[el]=Προεπισκόπηση διατάξεων πληκτρολογίου
Comment[en_GB]=Preview keyboard layouts
Comment[eo]=Antaŭrigardu klavarajn aranĝojn
Comment[eu]=Aurreikusi teklatuaren diseinuak
Comment[es]=Vista previa de las ditribuciones del teclado
Comment[fa]=پیش‌نمایش چینش‌های صفحه‌کلید
Comment[fi]=Esikatsele näppäimistöasetteluja
Comment[fr]=Aperçu des agencements de clavier
Comment[fur]=Anteprime disposizions tastieris
Comment[gl]=Previsualize disposicións de teclado
Comment[he]=תצוגה מקדימה לפריסת מקלדת
Comment[hi]=कीबोर्ड अभिन्यास का पूर्वावलोकन करें
Comment[hu]=Billentyűzetkiosztások előnézete
Comment[id]=Pratinjau tata letak papan tik
Comment[ie]=Previder arangeamentes de tastatura
Comment[it]=Anteprime delle disposizioni di tastiera
Comment[ka]=კლავიატურის განლაგებების გადახედვა
Comment[kab]=Taskant n tneɣrufin n unasiw
Comment[ko]=키보드 배치 미리보기
Comment[lt]=Peržiūrėti klaviatūrų išdėstymus
Comment[lv]=Priekšskatīt tastatūras izkārtojumus
Comment[ne]=कुञ्जीपाटी रूपरेखा पूर्वावलोकन
Comment[nl]=Voorbeelden van toetsenbordindelingen tonen
Comment[oc]=Apercebut d’agençament de clavièr
Comment[pa]=ਕੀਬੋਰਡ ਖਾਕਿਆਂ ਦੀ ਝਲਕ
Comment[pl]=Podgląd układów klawiatury
Comment[pt]=Pré-visualizar as disposições do teclado
Comment[pt_BR]=Pré-visualize layouts de teclado
Comment[ro]=Previzualizează aranjamente de tastatură
Comment[ru]=Предпросмотр раскладок клавиатуры
Comment[sk]=Zobrazuje náhľady rozložení klávesníc
Comment[sl]=Pregled postavitev tipkovnice
Comment[sr]=Преглед распореда тастатуре
Comment[sr@latin]=Pregled rasporeda tastature
Comment[sv]=Förhandsvisa tangentbordslayouter
Comment[tr]=Klavye düzenlerini ön izle
Comment[uk]=Перегляд розкладки клавіатури
Comment[zh_CN]=预览键盘布局
Comment[zh_TW]=預覽鍵盤配置
Comment=Preview keyboard layouts
Icon=org.gnome.Tecla
Exec=tecla
Terminal=false
Type=Application
StartupNotify=true
NoDisplay=true
Categories=GNOME;GTK;Core;System;
OnlyShowIn=GNOME;
