[Desktop Entry]
Type=Application
# Keep in sync with subprojects/extensions-app
Name[be]=Пашырэнні
Name[bg]=Разширения
Name[bn_IN]=এক্সটেনশনগুলি
Name[ca]=Extensions
Name[cs]=Rozšíření
Name[da]=Udvidelser
Name[de]=Erweiterungen
Name[el]=Επεκτάσεις
Name[en_GB]=Extensions
Name[eo]=Etendaĵoj
Name[es]=Extensiones
Name[eu]=Hedapenak
Name[fa]=افزونه‌ها
Name[fi]=Laajennukset
Name[fr]=Extensions
Name[fur]=Estensions
Name[fy]=Útwreidingen
Name[gl]=Extensións
Name[he]=הרחבות
Name[hi]=एक्सटेंशन्स
Name[hr]=Proširenja
Name[hu]=Kiterjesztések
Name[id]=Ekstensi
Name[ie]=Extensiones
Name[is]=Forritsviðaukar
Name[it]=Estensioni
Name[ja]=拡張機能
Name[ka]=გაფართოებები
Name[kab]=Isiɣzaf
Name[kk]=Кеңейтулер
Name[ko]=확장
Name[lt]=Plėtiniai
Name[lv]=Paplašinājumi
Name[mjw]=Extensions
Name[nb]=Utvidelser
Name[ne]=विस्तारहरू
Name[nl]=Uitbreidingen
Name[oc]=Extensions
Name[os]=Уӕлӕмхасӕнтӕ
Name[pa]=ਇਕਸਟੈਨਸ਼ਨ
Name[pl]=Rozszerzenia
Name[pt]=Extensões
Name[pt_BR]=Extensões
Name[ro]=Extensii
Name[ru]=Расширения
Name[sk]=Rozšírenia
Name[sl]=Razširitve lupine
Name[sr]=Проширења
Name[sr@latin]=Proširenja
Name[sv]=Tillägg
Name[tr]=Uzantılar
Name[uk]=Розширення
Name[vi]=Phần mở rộng
Name[zh_CN]=扩展
Name[zh_TW]=擴充套件
Name=Extensions
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.Shell.Extensions
# Never launch this, just provide name+icon to portal dialog
Exec=false
OnlyShowIn=GNOME;
NoDisplay=true
