ACTION=="remove", GOTO="battery_end"

SUBSYSTEM=="power_supply",ATTR{charge_control_start_threshold}!="" \
  IMPORT{builtin}="hwdb 'battery:$kernel:$attr{model_name}:$attr{[dmi/id]modalias}'", \
  GOTO="battery_end"

LABEL="battery_end"
