<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN" "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <!--
    Policy definitions for gnome-settings-daemon system-wide actions.
  -->
  <vendor>GNOME Settings Daemon</vendor>
  <vendor_url>http://git.gnome.org/browse/gnome-settings-daemon</vendor_url>
  <icon_name>input-tablet</icon_name>
  <action id="org.gnome.settings-daemon.plugins.wacom.wacom-led-helper">
    <!-- SECURITY:
          - A normal active user on the local machine does not need permission
            to change the LED setting for a Wacom tablet
     -->
    <description>Modify the lit LED for a Wacom tablet</description>
    <description xml:lang="zh_TW">修改 Wacom 繪圖板的發光 LED</description>
    <description xml:lang="zh_HK">修改 Wacom 繪圖板的發光 LED</description>
    <description xml:lang="zh_CN">修改 Wacom 数位板的 lit LED</description>
    <description xml:lang="vi">Điều chỉnh LED sáng trên bảng vẽ Wacom</description>
    <description xml:lang="uk">Змінити освітлений світлодіод для планшета Wacom</description>
    <description xml:lang="ug">Wacom سەزگۈر تاختا يورۇغان LED نى تۈزىتىش</description>
    <description xml:lang="tr">Wacom tablet için yanacak LED ışığını değiştir</description>
    <description xml:lang="th">ปรับ LED ส่องสว่างของแท็บเล็ต Wacom</description>
    <description xml:lang="te">వాకం టాబ్లెట్ యొక్క ఎల్ ఈడీ వెలుగు మార్చుట</description>
    <description xml:lang="ta">தொடுத்திட்டு எல்ஈடி  வெளிச்சத்தை மாற்றுக</description>
    <description xml:lang="sv">Ändra tänd LED-lampa för en Wacom-platta</description>
    <description xml:lang="sr@latin">Izmeni LED osvetljenja za Vakom tablicu</description>
    <description xml:lang="sr">Измени ЛЕД осветљења за Ваком таблицу</description>
    <description xml:lang="sl">Spremeni osvetlitev LED tablice Wacom</description>
    <description xml:lang="sk">Úprava osvetlenia LED tabletu Wacom</description>
    <description xml:lang="ru">Изменение работы светодиода для планшета Wacom</description>
    <description xml:lang="ro">Modifică LED-ul aprins pentru o tabletă Wacom</description>
    <description xml:lang="pt_BR">Modificar a iluminação LED de um tablet Wacom</description>
    <description xml:lang="pt">Modificar o LED aceso para um tablet Wacom</description>
    <description xml:lang="pl">Modyfikacja diody LED tabletu firmy Wacom</description>
    <description xml:lang="pa">ਵਕੋਮ ਟੇਬਲੇ ਲਈ lit LED ਬਦਲੋ</description>
    <description xml:lang="or">ୱାକମ ଟ୍ୟାବଲେଟ ପାଇଁ ଲିଟ LED କୁ ପରିବର୍ତ୍ତନ କରନ୍ତୁ</description>
    <description xml:lang="oc">Modifica los lums alucat d'una tauleta Wacom</description>
    <description xml:lang="nl">Verlichte led voor een Wacom tablet wijzigen</description>
    <description xml:lang="ne">Wacom ट्याबलेटको एलइडी बाल्न परिमार्जन गर्नुहोस्</description>
    <description xml:lang="nb">Endre lys på tegnebrett</description>
    <description xml:lang="ms">Ubah suai penutup LED untuk tablet Wacom</description>
    <description xml:lang="mr">वॅकॉम टॅबलेटकरीता लिट LED संपादित करा</description>
    <description xml:lang="lv">Mainīt ieslēgtās LED gaismas Wacom planšetē</description>
    <description xml:lang="lt">Pakeisti Wacom planšetės LED ekrano ryškumą</description>
    <description xml:lang="ko">와콤 디지타이저의 조명 LED 수정</description>
    <description xml:lang="kn">ಒಂದು ವೇಕಾಮ್ ಟ್ಯಾಬ್ಲೆಟ್‌ಗಾಗಿ LED ಯನ್ನು ಮಾರ್ಪಡಿಸಿ</description>
    <description xml:lang="km">កែប្រែ lit LED សម្រាប់ Wacom tablet</description>
    <description xml:lang="ka">Wacom-ის ტაბლეტის ანთებული LED-ის შეცვლა</description>
    <description xml:lang="ja">Wacom タブレットの LED 設定の変更</description>
    <description xml:lang="it">Modifica il LED acceso di una tavoletta Wacom</description>
    <description xml:lang="is">Breyta LED-ljósi á Wacom-teiknitöflu</description>
    <description xml:lang="id">Ubah LED penerangan bagi suatu tablet Wacom</description>
    <description xml:lang="hu">Wacom táblagép megvilágított LED-jének módosítása</description>
    <description xml:lang="hr">Promijeni LED svjetlo na Wacom tabletu</description>
    <description xml:lang="hi">वाकोम टैबलेट के लिए जलाई गई LED को संशोधित करें</description>
    <description xml:lang="he">שינוי מצב הנורית הדולקת בלוח מגע</description>
    <description xml:lang="gu">Wacom ટૅબલેટ માટે લીટ LED ને બદલો</description>
    <description xml:lang="gl">Modificar a iluminación do LED dunha tableta Wacom</description>
    <description xml:lang="gd">Atharraich an LED a bhios air airson tablaid Wacom</description>
    <description xml:lang="fur">Modifiche il LED piât di une taulete Wacom</description>
    <description xml:lang="fr">Modifie les voyants allumés d’une tablette Wacom</description>
    <description xml:lang="fa">تغییر ال‌ای‌دی روشنایی برای رایانک وکوم</description>
    <description xml:lang="eu">Aldatu Wacom taularen LED argia</description>
    <description xml:lang="et">Wacomi digitaallaua LED-tule muutmine</description>
    <description xml:lang="es">Modificar la iluminación del LED de una tableta Wacom</description>
    <description xml:lang="eo">Aliigi la lumanta LED por Wacom tabuleto</description>
    <description xml:lang="en_GB">Modify the lit LED for a Wacom tablet</description>
    <description xml:lang="el">Τροποποίηση του φωτισμού LED, για ένα tablet Wacom</description>
    <description xml:lang="de">Die LED des Wacom-Tabletts ändern</description>
    <description xml:lang="da">Modificér den tændte LED på en Wacom-tegneplade</description>
    <description xml:lang="cs">Změnit rozsvícení LED na tabletu Wacom</description>
    <description xml:lang="crh">Bir Wacom tableti içün ışıqlı Işıq-Saçqan Diodnı (LED; ISD) başqalaştır</description>
    <description xml:lang="ca@valencia">Modifica la il·luminació LED d'una tauleta gràfica Wacom</description>
    <description xml:lang="ca">Modifica la il·luminació LED d'una tauleta gràfica Wacom</description>
    <description xml:lang="bs">Izmijeni lampicu LED za Wacom tablet</description>
    <description xml:lang="bn_IN">Wacom ট্যাবলেটের উজ্জ্বলিত LED পরিবর্তন করা হবে</description>
    <description xml:lang="bg">Промяна на светенето на светодиода на таблета</description>
    <description xml:lang="be">Змяненне LED на планшэце Wacom</description>
    <description xml:lang="as">এটা Wacom টেবলেটৰ বাবে জ্বলি থকা LED পৰিবৰ্তন কৰক</description>
    <message>Authentication is required to modify the lit LED for a Wacom tablet</message>
    <message xml:lang="zh_TW">修改 Wacom 繪圖板的發亮 LED 需要核對</message>
    <message xml:lang="zh_HK">修改 Wacom 繪圖板的發亮 LED 需要核對</message>
    <message xml:lang="zh_CN">修改 Wacom 数位板的 lit LED 需要认证</message>
    <message xml:lang="vi">Cần xác thực để điều chỉnh LED sáng cho bảng vẽ Wacom</message>
    <message xml:lang="uk">Потрібна авторизація, щоб змінити підсвічування LED для планшетів Wacom</message>
    <message xml:lang="ug">Wacom سەزگۈر تاختا يورۇغان LED نى تۈزىتىش ھوقۇق دەلىللەشنى تەلەپ قىلىدۇ</message>
    <message xml:lang="tr">Wacom tablet için yanacak LED ışığını değiştirmek için kimlik doğrulama gerekli</message>
    <message xml:lang="th">ต้องยืนยันตัวบุคคลก่อนปรับ LED ส่องสว่างของแท็บเล็ต Wacom</message>
    <message xml:lang="te">వాకం టాబ్లెట్ యొక్క ఎల్ ఈడీ వెలుగు మార్చుటకు ధ్రువీకరించుట అవసరము</message>
    <message xml:lang="ta">தொடுத்திட்டு எல்ஈடி  வெளிச்சத்தை மாற்ற உறுதிப்படுத்தல் தேவை</message>
    <message xml:lang="sv">Autentisering krävs för att ändra tänd LED-lampa för en Wacom-platta</message>
    <message xml:lang="sr@latin">Potrebno je potvrđivanje identiteta za promenu LED osvetljenja Vakom tablice</message>
    <message xml:lang="sr">Потребно је потврђивање идентитета за промену ЛЕД осветљења Ваком таблице</message>
    <message xml:lang="sl">Za spremembo osvetljenosti LED tablice Wacom je zahtevana overitev</message>
    <message xml:lang="sk">Na úpravu osvetlenia LED tabletu Wacom sa vyžaduje overenie totožnosti</message>
    <message xml:lang="ru">Для изменения работы светодиода для планшета Wacom требуется аутентификация</message>
    <message xml:lang="ro">Autentificarea este necesară pentru a modifica LED-ul aprins pentru o tabletă Wacom</message>
    <message xml:lang="pt_BR">É necessário autenticar-se para modificar a iluminação LED de um tablet Wacom</message>
    <message xml:lang="pt">É necessária autenticação para alterar o LED aceso num tablet Wacom</message>
    <message xml:lang="pl">Wymagane jest uwierzytelnienie, aby zmodyfikować diodę LED tabletu firmy Wacom</message>
    <message xml:lang="pa">ਵਕੋਮ ਟੇਬਲ ਲਈ lit LED ਬਦਲਣ ਲਈ ਪਰਮਾਣਕਿਤਾ ਚਾਹੀਦੀ ਹੈ</message>
    <message xml:lang="or">ୱାକମ ଟ୍ୟାବଲେଟ ପାଇଁ ଲିଟ LED କୁ ପରିବର୍ତ୍ତନ କରିବା ପାଇଁ ବୈଧିକରଣ ଆବଶ୍ୟକ</message>
    <message xml:lang="oc">Una autentificacion es necessària per modificar los vesents alucats d'una tauleta Wacom</message>
    <message xml:lang="nl">Authenticatie is vereist om de verlichte led voor een Wacom tablet te wijzigen</message>
    <message xml:lang="ne">Wacom ट्याबलेटको एलइडी बाल्न परिमार्जन गर्न प्रमाणीकरण आवश्यक हुन्छ</message>
    <message xml:lang="nb">Autentisering kreves for å endre lys på tegnebrett</message>
    <message xml:lang="ms">Pengesahihan diperlukan untuk mengubah suai penutup LED untuk tablet Wacom</message>
    <message xml:lang="mr">वॅकॉम टॅबलेटकरीता LED सुरू करण्यासाठी ओळख पटवणे आवश्यक आहे</message>
    <message xml:lang="lv">Nepieciešama autentifikācija, lai mainītu LED apgaismojumu Wacom planšetei</message>
    <message xml:lang="lt">Būtina patvirtinti tapatybę norint pakeisti Wacom planšetės LED ekrano ryškumą</message>
    <message xml:lang="ko">와콤 디지타이저의 LED를 켜려면 인증이 필요합니다</message>
    <message xml:lang="kn">ಒಂದು ವೇಕಾಮ್ ಟ್ಯಾಬ್ಲೆಟ್‌ಗಾಗಿ LED ಯನ್ನು ಮಾರ್ಪಡಿಸಲು ದೃಢೀಕರಣದ ಅಗತ್ಯವಿದೆ</message>
    <message xml:lang="km">បាន​ទាមទារ​ការ​ផ្ទៀងផ្ទាត់​ភាព​ត្រឹមត្រូវ​ដើម្បី​កែប្រែ lit LED សម្រាប់ Wacom tablet</message>
    <message xml:lang="ka">Wacom-ის ტაბლეტის ანთებული LED-ის შესაცვლელად ავთენტიკაციაა საჭირო</message>
    <message xml:lang="ja">Wacom タブレットの LED 設定の変更には認証が必要です</message>
    <message xml:lang="it">È necessario autenticarsi per modificare il LED acceso di una tavoletta Wacom</message>
    <message xml:lang="is">Auðkenningar er krafist til að breyta LED-ljósi á Wacom-teiknitöflu</message>
    <message xml:lang="id">Perlu autentikasi untuk mengubah LED penerangan bagi suatu tablet Wacom</message>
    <message xml:lang="hu">Hitelesítés szükséges a Wacom táblagép megvilágított LED-jének módosításához</message>
    <message xml:lang="hr">Potrebna je ovjera za mijenjanje LED svjetla na Wacom tabletu</message>
    <message xml:lang="hi">वाकोम टैबलेट के लिए जलती हुई LED को संशोधित करने के लिए प्रमाणीकरण आवश्यक है</message>
    <message xml:lang="he">נדרש אימות כדי לשנות את מצב הנורית הדולקת של לוח המגע</message>
    <message xml:lang="gu">Wacom ટૅબલેટ માટે લીટ LED ને બદલવા માટે સત્તાધિકરણની જરૂર છે</message>
    <message xml:lang="gl">Requírese autenticación para modificar a iluminación do LED dunha tableta Wacom</message>
    <message xml:lang="gd">Feumaidh tu d’ aithne a dhearbhadh gus an LED a bhios air airson tablaid Wacom atharrachadh</message>
    <message xml:lang="fur">Al è necessari autenticâsi par modificâ il LED piât di une taulete Wacom</message>
    <message xml:lang="fr">Une authentification est nécessaire pour modifier les voyants allumés d’une tablette Wacom</message>
    <message xml:lang="fi">Wacom-piirtopöydän sytetyn LED:in muokkaaminen vaatii tunnistautumisen</message>
    <message xml:lang="fa">برای تغییر ال‌ای‌دی روشنایی رایانک وکوم، نیاز به تأیید هویت است</message>
    <message xml:lang="eu">Autentifikatu egin behar da Wacom taularen LED argia aldatzeko.</message>
    <message xml:lang="et">Wacomi digitaallaua LED-tule muutmiseks on vajalik autentimine</message>
    <message xml:lang="es">Se requiere autenticación para modificar la iluminación del LED de una tableta Wacom</message>
    <message xml:lang="eo">Aŭtentigo necesas por aliigi la lumanta LED por Wacom tabuleto</message>
    <message xml:lang="en_GB">Authentication is required to modify the lit LED for a Wacom tablet</message>
    <message xml:lang="el">Απαιτείται πιστοποίηση για την τροποποίηση του φωτισμού LED για ένα tablet Wacom</message>
    <message xml:lang="de">Legitimierung wird benötigt, um die LED des Wacom-Tabletts zu ändern</message>
    <message xml:lang="da">Ændring af den tændte LED på en Wacom-tegneplade kræver godkendelse</message>
    <message xml:lang="cs">Pro změnu rozsvícení LED na tabletu Wacom je vyžadována autentizace</message>
    <message xml:lang="crh">Bir Wacom tableti içün ışıqlı Işıq-Saçqan Diodnı (LED; ISD) başqalaştırmaq içün sahihlenim şarttır</message>
    <message xml:lang="ca@valencia">Cal autenticació per modificar la il·luminació LED d'una tauleta gràfica Wacom</message>
    <message xml:lang="ca">Cal autenticació per a modificar la il·luminació LED d'una tauleta gràfica Wacom</message>
    <message xml:lang="bs">Potvrda je potrebna da izmijenite lampicu LED za Wacom tablet</message>
    <message xml:lang="bn_IN">Wacom ট্যাবলেটের উজ্জ্বলিত LED পরিবর্তন করার জন্য অনুমোদন প্রয়োজন</message>
    <message xml:lang="bg">За промяна на светенето на светодиода на таблета се изисква идентификация</message>
    <message xml:lang="be">Каб змяніць LED планшэта Wacom, спачатку трэба прайсці ідэнтыфікацыю</message>
    <message xml:lang="as">এটা Wacom টেবলেটৰ বাবে লিট LED পৰিবৰ্তন কৰিবলে প্ৰমাণীকৰণৰ প্ৰয়োজন</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/gsd-wacom-led-helper</annotate>
  </action>
  <action id="org.gnome.settings-daemon.plugins.wacom.wacom-oled-helper">
    <!-- SECURITY:
          - A normal active user on the local machine does not need permission
            to change the OLED images for a Wacom tablet
     -->
    <description>Modify the OLED image for a Wacom tablet</description>
    <description xml:lang="zh_TW">修改 Wacom 繪圖板的 OLED 影像</description>
    <description xml:lang="zh_HK">修改 Wacom 繪圖板的 OLED 影像</description>
    <description xml:lang="zh_CN">修改 Wacom 数位板的 OLED 图像</description>
    <description xml:lang="vi">Điều chỉnh hình ảnh OLED cho bảng vẽ Wacom</description>
    <description xml:lang="uk">Змінити зображення OLED для планшета Wacom</description>
    <description xml:lang="tr">Wacom tablet için OLED resmini değiştir</description>
    <description xml:lang="th">ปรับภาพ OLED ของแท็บเล็ต Wacom</description>
    <description xml:lang="te">వాకం టాబ్లెట్ కొరకు OLED చిత్రం సవరించు</description>
    <description xml:lang="ta">ஒரு Wacom டேப்ளட்டுக்கான OLED படத்தை மாற்றியமைக்கவும்</description>
    <description xml:lang="sv">Ändra OLED-bilden för en Wacom-platta</description>
    <description xml:lang="sr@latin">Izmeni OLED sliku za Vakom tablicu</description>
    <description xml:lang="sr">Измени ОЛЕД слику за Ваком таблицу</description>
    <description xml:lang="sl">Spremeni sliko OLED tablice Wacom</description>
    <description xml:lang="sk">Úprava obrazu OLED tabletu Wacom</description>
    <description xml:lang="ru">Изменить образ OLED для планшета Wacom</description>
    <description xml:lang="ro">Modifică imaginea OLED pentru o tabletă Wacom</description>
    <description xml:lang="pt_BR">Modificar a imagem OLED de um tablet Wacom</description>
    <description xml:lang="pt">Alterar a imagem OLED para um tablet Wacom</description>
    <description xml:lang="pl">Modyfikacja obrazu OLED tabletu firmy Wacom</description>
    <description xml:lang="pa">ਵਕੋਮ ਟੇਬਲੇਟ ਲਈ OLED ਚਿੱਤਰ ਬਦਲੋ</description>
    <description xml:lang="or">ୱାକମ ଟ୍ୟାବଲେଟ ପାଇଁ OLED ପ୍ରତିଛବିକୁ ପରିବର୍ତ୍ତନ କରନ୍ତୁ</description>
    <description xml:lang="oc">Modifica los imatges dels vesents d'una tauleta Wacom</description>
    <description xml:lang="nl">OLED-afbeelding voor een Wacom-tablet wijzigen</description>
    <description xml:lang="nb">Endre OLED-bilde på tegnebrett</description>
    <description xml:lang="ms">Ubah suai imej OLED untuk tablet Wacom</description>
    <description xml:lang="mr">वॅकॉम टॅबलेटकरिता OLED प्रतिमा संपादित करा</description>
    <description xml:lang="lv">Mainīt OLED attēlu Wacom planšetei</description>
    <description xml:lang="lt">Pakeisti Wacom planšetės OLED paveikslėlį</description>
    <description xml:lang="ko">와콤 디지타이저의 OLED 그림 수정</description>
    <description xml:lang="kn">ಒಂದು ವೇಕಾಮ್ ಟ್ಯಾಬ್ಲೆಟ್‌ಗಾಗಿ OLED ಯನ್ನು ಮಾರ್ಪಡಿಸಿ</description>
    <description xml:lang="ka">Wacom-ის ტაბლეტისთვის OLED გამოსახულების შეცვლა</description>
    <description xml:lang="ja">Wacom タブレットの OLED イメージの変更</description>
    <description xml:lang="it">Modifica l'immagine OLED di una tavoletta Wacom</description>
    <description xml:lang="is">Breyta OLED-mynd á Wacom-teiknitöflu</description>
    <description xml:lang="id">Ubah gambar OLED bagi suatu tablet Wacom</description>
    <description xml:lang="hu">Wacom táblagép OLED képének módosítása</description>
    <description xml:lang="hr">Prilagodi OLED sliku za Wacom tablet</description>
    <description xml:lang="hi">वाकोम टैबलेट के लिए OLED छवि संशोधित करें</description>
    <description xml:lang="he">החלפת תמונת ה־OLED בלוח ה־Wacom</description>
    <description xml:lang="gu">Wacom ટૅબલેટ માટે OLED ઇમેજને બદલો</description>
    <description xml:lang="gl">Modificar a imaxe OLED para a tableta Wacom</description>
    <description xml:lang="gd">Atharraich an dealbh OLED airson tablaid Wacom</description>
    <description xml:lang="fur">Modifiche la imagjin OLED di une taulete Wacom</description>
    <description xml:lang="fr">Modifie les images des voyants d’une tablette Wacom</description>
    <description xml:lang="fi">Muokkaa Wacom-piirtopöydän OLED-kuvaa</description>
    <description xml:lang="fa">تغییر تصویر اولد برای رایانک وکوم</description>
    <description xml:lang="eu">Aldatu Wacom taularen OLED irudia</description>
    <description xml:lang="et">Wacomi digitaallaua OLED pildi muutmine</description>
    <description xml:lang="es">Modificar la imagen OLED para una tableta Wacom</description>
    <description xml:lang="eo">Aliigi la OLED bildon por Wacom tabuleton</description>
    <description xml:lang="en_GB">Modify the OLED image for a Wacom tablet</description>
    <description xml:lang="el">Τροποποίηση της εικόνας OLED για ένα tablet Wacom</description>
    <description xml:lang="de">Das OLED-Bild des Wacom-Tabletts ändern</description>
    <description xml:lang="da">Ændr OLED-billedet for en Wacom-tegneplade</description>
    <description xml:lang="cs">Upravit obrázek OLED pro tablet Wacom</description>
    <description xml:lang="ca@valencia">Modifica la imatge OLED per a una tauleta Wacom</description>
    <description xml:lang="ca">Modifica la imatge OLED per a una tauleta Wacom</description>
    <description xml:lang="bs">Modificiraj OLED sliku za Wacom bilježnik</description>
    <description xml:lang="bn_IN">Wacom ট্যাবলেটের OLED ছবি পরিবর্তন করা হবে</description>
    <description xml:lang="bg">Промяна на изображението по OLED на таблета на Wacom</description>
    <description xml:lang="be">Змяненне OLED-выявы для планшэта Wacom</description>
    <description xml:lang="as">এটা Wacom টেবলেটৰ বাবে OLED ছবি পৰিবৰ্তন কৰক</description>
    <message>Authentication is required to modify the OLED image for a Wacom tablet</message>
    <message xml:lang="zh_TW">修改 Wacom 繪圖板的 OLED 影像需要核對</message>
    <message xml:lang="zh_HK">修改 Wacom 繪圖板的 OLED 影像需要核對</message>
    <message xml:lang="zh_CN">修改 Wacom 数位板的 OLED 图像需要认证</message>
    <message xml:lang="vi">Cần xác thực để điều chỉnh hình ảnh OLED cho bảng vẽ Wacom</message>
    <message xml:lang="uk">Потрібна засвідчення, щоб змінити зображення OLED для планшету Wacom</message>
    <message xml:lang="tr">Wacom tablet için OLED resmini değiştirmek için kimlik doğrulama gerekli</message>
    <message xml:lang="th">ต้องยืนยันตัวบุคคลก่อนปรับภาพ OLED ของแท็บเล็ต Wacom</message>
    <message xml:lang="te">వాకం టాబ్లెట్ కొరకు OLED చిత్రం మార్చుటకు ధ్రువీకరణ అవసరమైంది</message>
    <message xml:lang="ta">ஒரு Wacom டேப்ளட்டுக்கான OLED படத்தை மாற்றியமைக்க அங்கீகரிப்பு தேவை</message>
    <message xml:lang="sv">Autentisering krävs för att ändra tänd LED-lampa för en Wacom-platta</message>
    <message xml:lang="sr@latin">Potrebno je potvrđivanje identiteta za promenu OLED slike za Vakom tablicu</message>
    <message xml:lang="sr">Потребно је потврђивање идентитета за промену ОЛЕД слике за Ваком таблицу</message>
    <message xml:lang="sl">Za spremembo slike OLED tablice Wacom je zahtevana overitev</message>
    <message xml:lang="sk">Na úpravu obrazu OLED tabletu Wacom sa vyžaduje overenie totožnosti</message>
    <message xml:lang="ru">Для изменения OLED-изображения планшета Wacom требуется аутентификация</message>
    <message xml:lang="ro">Autentificarea este necesară pentru a modifica imaginea OLED pentru o tabletă Wacom</message>
    <message xml:lang="pt_BR">Autenticação é necessária para modificar a imagem OLED de um tablet Wacom</message>
    <message xml:lang="pt">É necessária autenticação para alterar a imagem OLED num tablet Wacom</message>
    <message xml:lang="pl">Wymagane jest uwierzytelnienie, aby zmodyfikować obraz OLED tabletu firmy Wacom</message>
    <message xml:lang="pa">ਵਕੋਮ ਟੇਬਲ ਲਈ OLED ਚਿੱਤਰ ਬਦਲਣ ਲਈ ਪਰਮਾਣਕਿਤਾ ਚਾਹੀਦੀ ਹੈ</message>
    <message xml:lang="or">ୱାକମ ଟ୍ୟାବଲେଟ ପାଇଁ OLED ପ୍ରତିଛବିକୁ ପରିବର୍ତ୍ତନ କରିବା ପାଇଁ ବୈଧିକରଣ ଆବଶ୍ୟକ</message>
    <message xml:lang="oc">Una autentificacion es necessària per modificar los imatges dels vesents d'una tauleta Wacom</message>
    <message xml:lang="nl">Authenticatie is vereist om de OLED-afbeelding voor een Wacom tablet te wijzigen</message>
    <message xml:lang="nb">Autentisering kreves for å endre OLED-bilde på tegnebrett</message>
    <message xml:lang="ms">Pengesahihan diperlukan untuk mengubah suai imej OLED untuk tablet Wacom</message>
    <message xml:lang="mr">वॅकॉम टॅबलेटकरीता OLED प्रतिमा संपादित करण्यासाठी ओळख पटवणे आवश्यक आहे</message>
    <message xml:lang="lv">Nepieciešama autentifikācija, lai mainītu OLED attēlu Wacom planšetei</message>
    <message xml:lang="lt">Būtina patvirtinti tapatybę norint pakeisti Wacom planšetės OLED ekrano paveikslėlį</message>
    <message xml:lang="ko">와콤 디지타이저의 OLED를 수정하려면 인증이 필요합니다</message>
    <message xml:lang="kn">ಒಂದು ವೇಕಾಮ್ ಟ್ಯಾಬ್ಲೆಟ್‌ಗಾಗಿ OLED ಯನ್ನು ಮಾರ್ಪಡಿಸಲು ದೃಢೀಕರಣದ ಅಗತ್ಯವಿದೆ</message>
    <message xml:lang="ka">Wacom-ის ტაბლეტის OLED გამოსახულები შესაცვლელად ავთენტიკაციაა საჭირო</message>
    <message xml:lang="ja">Wacom タブレットの OLED イメージの変更には認証が必要です</message>
    <message xml:lang="it">È necessario autenticarsi per modificare l'immagine OLED di una tavoletta Wacom</message>
    <message xml:lang="is">Auðkenningar er krafist til að breyta OLED-mynd á Wacom-teiknitöflu</message>
    <message xml:lang="id">Perlu autentikasi untuk mengubah gambar OLED bagi suatu tablet Wacom</message>
    <message xml:lang="hu">Hitelesítés szükséges a Wacom táblagép OLED képének módosításához</message>
    <message xml:lang="hr">Potrebna je ovjera za prilagodbu OLED slike za Wacom tablet</message>
    <message xml:lang="hi">वाकोम टैबलेट के लिए OLED छवि को संशोधित करने के लिए प्रमाणीकरण आवश्यक है</message>
    <message xml:lang="he">נדרש אימות כדי לשנות את תמונת ה־OLED של לוח ה־Wacom</message>
    <message xml:lang="gu">સત્તાધિકરણને Wacom ટૅબલેટ માટે OLED ઇમેજને બદલવાની જરૂરિયાત છે</message>
    <message xml:lang="gl">Requírese autenticación para modificar a imaxe OLED para unha tableta Wacom</message>
    <message xml:lang="gd">Feumaidh tu d’ aithne a dhearbhadh gus an dealbh OLED airson tablaid Wacom atharrachadh</message>
    <message xml:lang="fur">Al è necessari autenticâsi par modificâ la imagjin OLED di une taulete Wacom</message>
    <message xml:lang="fr">Une authentification est nécessaire pour modifier les images des voyants d’une tablette Wacom</message>
    <message xml:lang="fi">Wacom-piirtopöydän OLED-kuvan muuttaminen vaatii tunnistautumisen</message>
    <message xml:lang="fa">برای تغییر تصویر اولد رایانک وکوم، نیاز به تأیید هویت است</message>
    <message xml:lang="eu">Autentifikatu egin behar da Wacom taularen OLED irudia aldatzeko.</message>
    <message xml:lang="et">Wacomi digitaallaua OLED pildi muutmiseks on vajalik autentimine</message>
    <message xml:lang="es">Se requiere autenticación para modificar la imagen OLED de una tableta Wacom</message>
    <message xml:lang="eo">Aŭtentigo necesas por aliigi la OLED bildon de Wacom tabuleton</message>
    <message xml:lang="en_GB">Authentication is required to modify the OLED image for a Wacom tablet</message>
    <message xml:lang="el">Απαιτείται πιστοποίηση για την τροποποίηση της εικόνας OLED για ένα tablet Wacom</message>
    <message xml:lang="de">Legitimierung wird benötigt, um das OLED-Bild des Wacom-Tabletts zu ändern</message>
    <message xml:lang="da">Der kræves godkendelse for at ændre OLED-billedet for en Wacom-tegneplade</message>
    <message xml:lang="cs">Pro změnu obrázku OLED na tabletu Wacom je vyžadována autentizace</message>
    <message xml:lang="ca@valencia">Cal autenticar-se per modificar la imatge OLED d'una tauleta gràfica Wacom</message>
    <message xml:lang="ca">Cal autenticar-se per a modificar la imatge OLED d'una tauleta gràfica Wacom</message>
    <message xml:lang="bs">Autentičnost je potrebna za modificiranje OLED slike za Wacom bilježnik</message>
    <message xml:lang="bn_IN">Wacom ট্যাবলেটের OLED ছবি পরিবর্তন করার জন্য অনুমোদন প্রয়োজন</message>
    <message xml:lang="bg">За промяна на изображението по OLED на таблета на Wacom се изисква идентификация</message>
    <message xml:lang="be">Каб змяніць OLED-выяву планшэта Wacom, спачатку трэба прайсці ідэнтыфікацыю</message>
    <message xml:lang="as">এটা Wacom টেবলেটৰ বাবে OLED ছবি পৰিবৰ্তন কৰিবলৈ প্ৰমাণীকৰণৰ প্ৰয়োজন</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/gsd-wacom-oled-helper</annotate>
  </action>
</policyconfig>
