<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN" "https://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <!--
    Policy definitions for System Color Manager actions.
    Copyright (c) 2010 Richard Hughes <richard@hughsie.com>
  -->
  <vendor>System Color Manager</vendor>
  <vendor_url>https://www.freedesktop.org/projects/system-color-manager/</vendor_url>
  <icon_name>application-vnd.iccprofile</icon_name>
  <action id="org.freedesktop.color-manager.create-device">
    <!-- SECURITY:
          - Normal users should not have to authenticate to add devices
     -->
    <description>Create a color managed device</description>
    <description xml:lang="sl">Ustvari napravo, s katero je mogoče barvno upravljanje</description>
    <description xml:lang="sk">Vytvorí zariadenie so správou farieb</description>
    <description xml:lang="oc">Crear un periferic amb gestion de colors</description>
    <description xml:lang="nl">Maak een kleur gemanaged apparaat aan</description>
    <description xml:lang="nb">Lag en fargestyrt enhet</description>
    <description xml:lang="lv">Izveidot krāsu pārvaldītu ierīci</description>
    <description xml:lang="ka">ფერ-მართული მოწყობილობის შექმნა</description>
    <description xml:lang="is">Búa til litastýrt tæki</description>
    <description xml:lang="he">יצירת התקן מנוהל צבע</description>
    <description xml:lang="gl">Crear un dispositivo xestionado por cor</description>
    <description xml:lang="fr">Créer un périphérique avec gestion de couleurs</description>
    <message>Authentication is required to create a color managed device</message>
    <message xml:lang="sl">Za ustvarjanje naprave, s katero lahko je mogoče barvno upravljanje, je zahtevana overitev</message>
    <message xml:lang="sk">Na vytvorenie zariadenia so správou farieb je potrebné overenie totožnosti</message>
    <message xml:lang="oc">Es necessari de s'autentificar per crear un periferic amb gestion de colors</message>
    <message xml:lang="nl">Authenticatie is verplicht om een kleur gemanaged apparaat aan te kunnen maken</message>
    <message xml:lang="nb">Autentisering kreves for å lage en fargestyrt enhet</message>
    <message xml:lang="lv">Jāautentificējas, lai izveidotu krāsu pārvaldītu ierīci</message>
    <message xml:lang="ka">ფერ-მართული მოწყობილობის შექმნისთვის ავთენტიკაციაა საჭირო</message>
    <message xml:lang="he">נדרש אימות כדי ליצור התקן מנוהל צבע</message>
    <message xml:lang="gl">Requírese autenticación para crear un dispositivo xestionado por cor</message>
    <message xml:lang="fr">Il est nécessaire de s'authentifier pour créer un périphérique avec gestion de couleurs</message>
    <icon_name>application-vnd.iccprofile</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.owner">unix-user:colord</annotate>
  </action>
  <action id="org.freedesktop.color-manager.create-profile">
    <!-- SECURITY:
          - Normal users should not have to authenticate to add profiles
     -->
    <description>Create a color profile</description>
    <description xml:lang="sl">Ustvari barvni profil</description>
    <description xml:lang="sk">Vytvorí profil farieb</description>
    <description xml:lang="oc">Crear un perfil de color</description>
    <description xml:lang="nl">Maak een kleurprofiel aan</description>
    <description xml:lang="nb">Opprett fargeprofil</description>
    <description xml:lang="lv">Izveidot krāsu profilu</description>
    <description xml:lang="ka">ფერის პროფილის შექმნა</description>
    <description xml:lang="is">Búa til litasnið</description>
    <description xml:lang="he">יצירת פרופיל צבע</description>
    <description xml:lang="gl">Crear un perfíl de cor</description>
    <description xml:lang="fr">Créer un profil de couleur</description>
    <description xml:lang="eu">Sortu kolore-profila</description>
    <message>Authentication is required to create a color profile</message>
    <message xml:lang="sl">Za ustvarjanje barvnega profila je zahtevana overitev</message>
    <message xml:lang="sk">Na vytvorenie profilu farieb je potrebné overenie totožnosti</message>
    <message xml:lang="oc">Es necessari de s’autentificar per crear un perfil de color</message>
    <message xml:lang="nl">Authenticatie is verplicht om een kleurprofiel aan te kunnen maken</message>
    <message xml:lang="nb">Autentisering kreves for å lage en fargeprofil</message>
    <message xml:lang="lv">Jāautentificējas, lai izveidotu krāsu profilu</message>
    <message xml:lang="ka">ფერის პროფილის შესაქმნელად ავთენტიკაციაა საჭირო</message>
    <message xml:lang="is">Auðkenningar er krafist til að búa til litasnið</message>
    <message xml:lang="he">נדרש אימות כדי ליצור פרופיל צבע</message>
    <message xml:lang="gl">Requírese autenticación para crear un perfíl de cor</message>
    <message xml:lang="fr">Il est nécessaire de s’authentifier pour créer un profil de couleur</message>
    <icon_name>application-vnd.iccprofile</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.owner">unix-user:colord</annotate>
  </action>
  <action id="org.freedesktop.color-manager.delete-device">
    <!-- SECURITY:
          - Normal users should not have to authenticate to delete devices
     -->
    <description>Remove a color managed device</description>
    <description xml:lang="sl">Odstrani napravo, s katero je mogoče barvno upravljanje</description>
    <description xml:lang="sk">Odstráni zariadenie so správou farieb</description>
    <description xml:lang="oc">Suprimir un periferic amb gestion de colors</description>
    <description xml:lang="nl">Verwijder een kleur gemanaged apparaat</description>
    <description xml:lang="nb">Slett en fargestyrt enhet</description>
    <description xml:lang="lv">Izņemt krāsu pārvaldītu ierīci</description>
    <description xml:lang="ka">ფერ-მართული მოწყობილობი წაშლა</description>
    <description xml:lang="is">Fjarlægja litastýrt tæki</description>
    <description xml:lang="he">הסרת התקן מנוהל צבע</description>
    <description xml:lang="gl">Eliminar un dispositivo xestionado por cor</description>
    <description xml:lang="fr">Supprimer un périphérique avec gestion de couleurs</description>
    <message>Authentication is required to remove a color managed device</message>
    <message xml:lang="sl">Za odstranitev naprave, s katero je mogoče barvno upravljanje, je zahtevana overitev</message>
    <message xml:lang="sk">Na odstránenie zariadenia so správou farieb je potrebné overenie totožnosti</message>
    <message xml:lang="oc">Es necessari de s'autentificar per suprimir un periferic</message>
    <message xml:lang="nl">Authenticatie is verplicht om een kleur gemanaged apparaat te kunnen verwijderen</message>
    <message xml:lang="nb">Autentisering kreves for å fjerne en fargestyrt enhet</message>
    <message xml:lang="lv">Jāautentificējas, lai izņemtu krāsu pārvaldītu ierīci</message>
    <message xml:lang="ka">ფერ-მართული მოწყობილობის წასაშლელად ავთენტიკაციაა საჭირო</message>
    <message xml:lang="he">נדרש אימות כדי להסיר התקן מנוהל צבע</message>
    <message xml:lang="gl">Requírese autenticación para eliminar un dispositivo xestionado por cor</message>
    <message xml:lang="fr">Il est nécessaire de s'authentifier pour supprimer un périphérique</message>
    <icon_name>application-vnd.iccprofile</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.owner">unix-user:colord</annotate>
  </action>
  <action id="org.freedesktop.color-manager.delete-profile">
    <!-- SECURITY:
          - Normal users should not have to authenticate to delete profiles
     -->
    <description>Remove a color profile</description>
    <description xml:lang="zh_TW">移除色彩描述檔</description>
    <description xml:lang="zh_CN">移除色彩配置文件</description>
    <description xml:lang="uk">Вилучити профіль кольорів</description>
    <description xml:lang="tr">Renk profilini kaldır</description>
    <description xml:lang="sv">Ta bort en färgprofil</description>
    <description xml:lang="sr">Уклони профил боје</description>
    <description xml:lang="sq">Hiqni një profil ngjyrash</description>
    <description xml:lang="sl">Odstrani barvni profil</description>
    <description xml:lang="sk">Odstráni profil farieb</description>
    <description xml:lang="si">වර්ණ පැතිකඩක් ඉවත් කරන්න</description>
    <description xml:lang="ru">Удалить цветовой профиль</description>
    <description xml:lang="ro">Elimină un profil de culoare</description>
    <description xml:lang="pt">Remover um perfil de cor</description>
    <description xml:lang="pt_BR">Remove um perfil de cores</description>
    <description xml:lang="pl">Usunięcie profilu kolorów</description>
    <description xml:lang="oc">Suprimir un perfil de color</description>
    <description xml:lang="nl">Verwijder een kleurprofiel</description>
    <description xml:lang="nb">Fjerne fargeprofil</description>
    <description xml:lang="lv">Izņemt krāsu profilu</description>
    <description xml:lang="ko">색상 프로필 제거</description>
    <description xml:lang="ka">ფერის პროფილის წაშლა</description>
    <description xml:lang="ja">カラープロファイルの削除</description>
    <description xml:lang="it">Rimozione di un profilo colore</description>
    <description xml:lang="is">Fjarlægja litasnið</description>
    <description xml:lang="id">Hapus profil warna</description>
    <description xml:lang="hu">Színprofil eltávolítása</description>
    <description xml:lang="hr">Ukloni profil boja</description>
    <description xml:lang="he">הסרת פרופיל צבע</description>
    <description xml:lang="gl">Eliminar un perfíl de cor</description>
    <description xml:lang="fur">Gjave un profîl di colôr</description>
    <description xml:lang="fr">Supprimer un profil de couleur</description>
    <description xml:lang="fi">Poista väriprofiili</description>
    <description xml:lang="es">Quitar un perfil de color</description>
    <description xml:lang="en_GB">Remove a colour profile</description>
    <description xml:lang="el">Αφαίρεση χρωματικού προφίλ</description>
    <description xml:lang="de">Ein Farbprofil entfernen</description>
    <description xml:lang="da">Fjern en farveprofil</description>
    <description xml:lang="cs">Odstranit profil barev</description>
    <description xml:lang="ca">Suprimeix un perfil de color</description>
    <message>Authentication is required to remove a color profile</message>
    <message xml:lang="sl">Za odstranitev barvnega profila je zahtevana overitev</message>
    <message xml:lang="sk">Na odstránenie profilu farieb je potrebné overenie totožnosti</message>
    <message xml:lang="oc">Es necessari de s’autentificar per suprimir un perfil de color</message>
    <message xml:lang="nl">Authenticatie is verplicht om een kleurprofiel te kunnen verwijderen</message>
    <message xml:lang="nb">Autentisering kreves for å fjerne en fargeprofil</message>
    <message xml:lang="lv">Jāautentificējas, lai izņemtu krāsu profilu</message>
    <message xml:lang="ka">ფერის პროფილის წასაშლელად ავთენტიკაციაა საჭირო</message>
    <message xml:lang="is">Auðkenningar er krafist til að fjarlægja litasnið</message>
    <message xml:lang="he">נדרש אימות כדי להסיר פרופיל צבע</message>
    <message xml:lang="gl">Requírese autenticación para eliminar un perfíl de cor</message>
    <message xml:lang="fr">Il est nécessaire de s’authentifier pour supprimer un profil de couleur</message>
    <icon_name>application-vnd.iccprofile</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.owner">unix-user:colord</annotate>
  </action>
  <action id="org.freedesktop.color-manager.modify-device">
    <!-- SECURITY:
          - Normal users should not have to authenticate to modify devices
     -->
    <description>Modify color settings for a device</description>
    <description xml:lang="sl">Spremeni barvne nastavitve naprave</description>
    <description xml:lang="sk">Upraví nastavenia farieb pre zariadenie</description>
    <description xml:lang="oc">Modificar los paramètres de color d’un aparelh</description>
    <description xml:lang="nl">Pas de kleurinstellingen van een apparaat aan</description>
    <description xml:lang="nb">Endre fargeinnstillinger for en enhet</description>
    <description xml:lang="lv">Koriģēt krāsu iestatījumus ierīcei</description>
    <description xml:lang="ka">მოწყობილობისთვის ფერის პარამეტრების მორგება</description>
    <description xml:lang="is">Breyta litastillingum tækis</description>
    <description xml:lang="he">שינוי הגדרות צבע להתקן</description>
    <description xml:lang="gl">Modificar as opcións de cor para un dispositivo</description>
    <description xml:lang="fr">Modifier les paramètres de couleur d’un appareil</description>
    <message>Authentication is required to modify the color settings for a device</message>
    <message xml:lang="sl">Za spremembo barvnih nastavitev naprave je zahtevana overitev</message>
    <message xml:lang="sk">Na úpravu nastavení farieb pre zariadenie je potrebné overenie totožnosti</message>
    <message xml:lang="oc">Es necessari de s’autentificar per modificar los paramètres de color d’un aparelh</message>
    <message xml:lang="nl">Authenticatie is verplicht om de kleurinstellingen voor een apparaat aan te kunnen passen</message>
    <message xml:lang="nb">Autentisering kreves for endre fargeinnstillinger for en enhet</message>
    <message xml:lang="lv">Jāautentificējas, lai koriģētu ierīces krāsu iestatījumus</message>
    <message xml:lang="ka">მოწყობილობისთვის ფერის პარამეტრების შესაცვლელად ავთენტიკაციაა საჭირო</message>
    <message xml:lang="is">Auðkenningar er krafist til að lesa og breyta litastillingum tækis</message>
    <message xml:lang="he">נדרש אימות כדי לשנות את הגדרות הצבע להתקן</message>
    <message xml:lang="gl">Requírese autenticación para modificar as opcións de cor para un dispositivo</message>
    <message xml:lang="fr">Il est nécessaire de s’authentifier pour modifier les paramètres de couleur d’un appareil</message>
    <icon_name>application-vnd.iccprofile</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.owner">unix-user:colord</annotate>
  </action>
  <action id="org.freedesktop.color-manager.modify-profile">
    <!-- SECURITY:
          - Normal users should not have to authenticate to modify profiles
     -->
    <description>Modify a color profile</description>
    <description xml:lang="sl">Spremeni barvni profil</description>
    <description xml:lang="sk">Upraví profil farieb</description>
    <description xml:lang="oc">Modificar un perfil de color</description>
    <description xml:lang="nl">Pas een kleurprofiel aan</description>
    <description xml:lang="nb">Endre fargeprofil</description>
    <description xml:lang="lv">Koriģēt krāsu profilu</description>
    <description xml:lang="ka">ფერის პროფილის შეცვლა</description>
    <description xml:lang="is">Breyta litasniði</description>
    <description xml:lang="he">ניהול פרופיל צבע</description>
    <description xml:lang="gl">Modificar un perfíl de cor</description>
    <description xml:lang="fr">Modifier un profil de couleur</description>
    <description xml:lang="eu">Aldatu kolore-profila</description>
    <message>Authentication is required to modify a color profile</message>
    <message xml:lang="sl">Za spremembo barvnega profila je zahtevana overitev</message>
    <message xml:lang="sk">Na úpravu profilu farieb je potrebné overenie totožnosti</message>
    <message xml:lang="oc">Es necessari de s’autentificar per modificar un perfil de color</message>
    <message xml:lang="nl">Authenticatie is verplicht om een kleurprofiel aan te kunnen passen</message>
    <message xml:lang="nb">Autentisering kreves for å endre en fargeprofil</message>
    <message xml:lang="lv">Jāautentificējas, lai koriģētu krāsu profilu</message>
    <message xml:lang="ka">ფერის პროფილის შესაქმნელად ავთენტიკაციაა საჭირო</message>
    <message xml:lang="is">Auðkenningar er krafist til að breyta litasniði</message>
    <message xml:lang="he">נדרש אימות כדי לשנות פרופיל צבע</message>
    <message xml:lang="gl">Requírese autenticación para modificar un perfíl de cor</message>
    <message xml:lang="fr">Il est nécessaire de s’authentifier pour modifier un profil de couleur</message>
    <icon_name>application-vnd.iccprofile</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.owner">unix-user:colord</annotate>
  </action>
  <action id="org.freedesktop.color-manager.install-system-wide">
    <!-- SECURITY:
          - Normal users require admin authentication to install files system
            wide to apply color profiles for sessions that have not explicitly
            chosen profiles to apply.
          - This should not be set to 'yes' as unprivileged users could then
            set a profile set to all-white or all-black and thus make the
            other sessions unusable.
     -->
    <description>Install system color profiles</description>
    <description xml:lang="sl">Namesti sistemske barvne profile</description>
    <description xml:lang="sk">Nainštaluje profily farieb do systému</description>
    <description xml:lang="oc">Installar lo perfil de color del sistèma</description>
    <description xml:lang="nl">Installeer systeem kleurprofielen</description>
    <description xml:lang="nb">Installer systemfargeprofiler</description>
    <description xml:lang="lv">Instalēt sistēmas krāsu profilus</description>
    <description xml:lang="ka">სისტემური ფერის პროფილების დაყენეა</description>
    <description xml:lang="is">Setja upp litasnið kerfis</description>
    <description xml:lang="gl">Instalar perfiles de cor no sistema</description>
    <description xml:lang="fr">Installer le profil de couleur du système</description>
    <message>Authentication is required to install the color profile for all users</message>
    <message xml:lang="sl">Za namestitev barvnega profila za vse uporabnike je zahtevana overitev</message>
    <message xml:lang="sk">Na inštaláciu profilu farieb pre všetkých používateľov je potrebné overenie totožnosti</message>
    <message xml:lang="oc">Es necessari de s’autentificar per installar lo perfil de color en çò de totes los utilizaires</message>
    <message xml:lang="nl">Authenticatie is verplicht om het kleurprofiel voor alle gebruikers te installeren</message>
    <message xml:lang="nb">Autentisering kreves for å installere fargeprofilen for alle brukere</message>
    <message xml:lang="lv">Jāautentificējas, lai instalētu krāsu profilus visiem lietotājiem</message>
    <message xml:lang="ka">ფერის პროფილის ყველა მომხმარებლისთვის დასაყენებლად ავთენტიკაციაა საჭირო</message>
    <message xml:lang="is">Auðkenningar er krafist til að setja litasniðið upp fyrir alla notendur</message>
    <message xml:lang="gl">Requírese autenticación para instalar un perfíl de cor para tódolos usuarios</message>
    <message xml:lang="fr">Il est nécessaire de s’authentifier pour installer le profil de couleur chez tous les utilisateurs</message>
    <icon_name>application-vnd.iccprofile</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.owner">unix-user:colord</annotate>
  </action>
  <action id="org.freedesktop.color-manager.device-inhibit">
    <!-- SECURITY:
          - Normal users should not have to authenticate to profile
            devices.
     -->
    <description>Inhibit color profile selection</description>
    <description xml:lang="sl">Prepreči izbor barvnega profila</description>
    <description xml:lang="sk">Zakáže výber profilu farieb</description>
    <description xml:lang="oc">Empachar la seleccion del perfil de color</description>
    <description xml:lang="nl">Belet selectie van een kleurprofiel</description>
    <description xml:lang="nb">Hem valg av fargeprofil</description>
    <description xml:lang="lv">Nomākt krāsu profila izvēli</description>
    <description xml:lang="ka">ფერის პროფილის არჩევის აკრძალვა</description>
    <description xml:lang="gl">Inhibir a selección de perfiles de cor</description>
    <description xml:lang="fr">Empêcher la sélection du profil de couleur</description>
    <message>Authentication is required to disable profile matching for a device</message>
    <message xml:lang="sl">Za onemogočanje ujemanja profilov za napravo je zahtevana overitev</message>
    <message xml:lang="sk">Na zakázanie profilu zodpovedajúcemu zariadeniu je potrebné overenie totožnosti</message>
    <message xml:lang="oc">Es necessari de s'autentificar per desactivar la deteccion de perfil per un periferic</message>
    <message xml:lang="nl">Authenticatie is verplicht om profielmatching voor een apparaat uit te schakelen</message>
    <message xml:lang="nb">Autentisering kreves for å deaktivere samsvar mellom profil og enhet</message>
    <message xml:lang="lv">Jāautentificējas, lai deaktivētu profilu, kas atbilst ierīcei</message>
    <message xml:lang="ka">მოწყობილობისთვის პროფილის დამთხვევის გასათიშად ავთენტიკაციაა საჭირო</message>
    <message xml:lang="gl">Requírese autenticación para desactivar un perfíl que coincide cun dispositivo</message>
    <message xml:lang="fr">Il est nécessaire de s’authentifier pour désactiver la détection de profil pour un périphérique</message>
    <icon_name>application-vnd.iccprofile</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.owner">unix-user:colord</annotate>
  </action>
  <action id="org.freedesktop.color-manager.sensor-lock">
    <!-- SECURITY:
          - Normal users should not have to authenticate to use the
            colorimeter device.
     -->
    <description>Use color sensor</description>
    <description xml:lang="sl">Uporabi barvno tipalo</description>
    <description xml:lang="sk">Použije farebný senzor</description>
    <description xml:lang="oc">Utilizar lo captador de color</description>
    <description xml:lang="nl">Gebruik kleur-sensor</description>
    <description xml:lang="nb">Bruk fargesensor</description>
    <description xml:lang="lv">Lietot krāsu sensoru</description>
    <description xml:lang="ka">ფერის სენსორის გამოყენება</description>
    <description xml:lang="is">Nota litmæli</description>
    <description xml:lang="gl">Usar sensor de cor</description>
    <description xml:lang="fr">Utiliser le capteur de couleur</description>
    <description xml:lang="eu">Erabili kolore-sentsorea</description>
    <message>Authentication is required to use the color sensor</message>
    <message xml:lang="sl">Za uporabo barvnega tipala je zahtevana overitev</message>
    <message xml:lang="sk">Na použitie farebného senzora je potrebné overenie totožnosti</message>
    <message xml:lang="oc">Es necessari de s'autentificar per utilizar lo captador de color</message>
    <message xml:lang="nl">Authenticatie is vereist om de kleur-sensor te kunnen gebruiken</message>
    <message xml:lang="nb">Autentisering kreves for å benytte fargesensoren</message>
    <message xml:lang="lv">Jāautentificējas, lai izmantotu krāsu sensoru</message>
    <message xml:lang="ka">ფერის სენსორის გამოსაყენებლად ავთენტიკაციაა საჭირო</message>
    <message xml:lang="gl">Requírese autenticación para usar un sensor de cor</message>
    <message xml:lang="fr">Il est nécessaire de s’authentifier pour utiliser le capteur de couleur</message>
    <message xml:lang="eu">Autentifikazioa behar da kolore-sentsorea erabiltzeko</message>
    <icon_name>application-vnd.iccprofile</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.owner">unix-user:colord</annotate>
  </action>
</policyconfig>
